{
  "openapi": "3.0.0",
  "info": {
    "title": "REST APIs",
    "description": "<h2>There's a better way to file Surplus Lines Taxes!",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://sandbox.inscipher.com",
      "description": "REST APIs"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Tax Calculations"
    }
  ],
  "paths": {
    "/api/tax-calculator/calculate-general-taxes": {
      "post": {
        "summary": "Tax Calculator API",
        "operationId": "post_api_calculate_general_taxes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "physical_state",
                  "transaction_type",
                  "transaction_line_of_business_list",
                  "transaction_line_of_business_coverage",
                  "agency_fee",
                  "inspection_fee"
                ],
                "properties": {
                  "physical_state": {
                    "type": "string",
                    "description": "🟥 **REQUIRED FOR CALCULATION**\n\nPhysical state 2-letter code where the risk is located (e.g., `KY`). Required if Physical State is NOT the same as Mailing State.",
                    "maxLength": 2,
                    "pattern": "^[A-Z]{2}$"
                  },
                  "transaction_type": {
                    "type": "string",
                    "description": "🟥 **REQUIRED FOR CALCULATION**\n\n2-letter transaction type code (e.g., `PN` = New Policy, `PR` = Renewal).\n\nReference: <a href=\"https://lookerstudio.google.com/u/0/reporting/41dce747-d045-4e1f-884d-07d23581a90a/page/p_83noca0k9c\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Transaction Type mapping per State</a>\n\n<details>\n<summary><strong>SHOW ALL TRANSACTION TYPES AND DETAILS</strong></summary>\n\n<small>\n\n| Code | Name | Description |\n|---|---|---|\n| PN | New Policy | First-time policy issuance. |\n| PR | Policy Renewal | Subsequent policy issuance. |\n| APE | Additional Premium Endorsement | Increase in premium amount. |\n| RPE | Return Premium Endorsement | Refund/decrease in premium amount. |\n| AE | Audit | Post-expiry premium increase. |\n| FC | Flat Cancellation | Full termination; full refund. |\n| ZPE | Zero Premium Endorsement | Non-financial policy change. |\n| PC | Pro Rata Cancelation | Termination with partial refund. |\n| XE | Extension Endorsement | Premium for extending coverage dates. |\n| ARE | Audit Return Endorsement | Post-expiry premium refund. |\n| RI | Reinstatement | Restoring coverage after cancellation. |\n| BO | Back-out / Reversal | Correction of a filing error. |\n| BD | Binder | Temporary proof of coverage. |\n\n</small>\n</details>",
                    "enum": [
                      "PN",
                      "PR",
                      "APE",
                      "RPE",
                      "AE",
                      "FC",
                      "ZPE",
                      "PC",
                      "XE",
                      "ARE",
                      "RI",
                      "BO",
                      "BD"
                    ],
                    "maxLength": 5
                  },
                  "transaction_line_of_business_list": {
                    "type": "string",
                    "description": "🟥 **REQUIRED FOR CALCULATION**\n\nThis is an InsCipher-specific import code. We recommend using the **Generic Import codes** from <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_4q66kh8crc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Generic Line of Business / Coverage Code List</a>. State-specific codes may also be used.\n**Use Cases:**\n- **Single LOB:** `GEN-1001`\n- **Multiple LOB / package policies:** `GEN-1010 | GEN-2000` (pipe `|` delimited; spaces optional).\nBecause line-of-business requirements vary by state, we recommend sending a LOB breakdown for package policies when available. If a state only allows a single LOB, InsCipher selects the coverage with the **highest premium**."
                  },
                  "transaction_line_of_business_coverage": {
                    "type": "string",
                    "description": "🟥 **REQUIRED FOR CALCULATION**\n\nPremium breakout (rounded to the nearest cent) **without** the dollar sign.\n**Use Cases:**\n- **Single LOB:** `200.27`\n- **Multiple LOB / package policies:** `300 | 1250.50 | 500` (pipe `|` delimited, in the **same order** as `transaction_line_of_business_list`; spaces optional)."
                  },
                  "agency_fee": {
                    "type": "number",
                    "format": "float",
                    "description": "🟥 **REQUIRED FOR CALCULATION**\n\nTotal of all non-carrier underwriting fees (e.g., broker or agency fees).\n\nDefaults to `0` if omitted."
                  },
                  "inspection_fee": {
                    "type": "number",
                    "format": "float",
                    "description": "🟥 **REQUIRED FOR CALCULATION**\n\nFees from the carrier or underwriting process (e.g., inspections, protection lookup).\n\nDefaults to `0` if omitted."
                  },
                  "line_of_business": {
                    "type": "string",
                    "description": "**[DON'T USE - TO BE DEPRECATED]** Single InsCipher line of business import code.\n\nOptional.\n\nNOTE: This is a legacy field; we recommend using `transaction_line_of_business_list` instead.\n\nThis is an InsCipher-specific import code. We recommend using the **Generic Import codes** from <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_4q66kh8crc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Generic Line of Business / Coverage Code List</a>. State-specific codes may also be used.\n\nSingle LOB only (one code per request).",
                    "example": "GEN-1001"
                  },
                  "premium": {
                    "type": "number",
                    "format": "float",
                    "description": "**[DON'T USE - TO BE DEPRECATED]** Total policy premium amount.\n\nOptional.\n\nNOTE: This is a legacy field; we recommend using `transaction_line_of_business_coverage` instead.\n\nSingle premium amount only (one value per request).\n\n<br><br><br>\n\n---\n\n## Recommended Fields\n\nRecommended fields to refine calculations or return additional state-specific rules.",
                    "example": 700.32
                  },
                  "rpg": {
                    "type": "integer",
                    "description": "Risk Purchasing Group indicator: `0` = No, `1` = Yes. Defaults to `0`.",
                    "default": 0,
                    "enum": [
                      0,
                      1
                    ],
                    "example": 0
                  },
                  "policy_effective_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Policy effective date (`YYYY-MM-DD`). Used by calculator logic to determine active tax/fee rules.\n\nIf omitted, InsCipher uses the date the request is submitted.",
                    "example": "2026-02-18"
                  },
                  "transaction_effective_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Transaction effective date (`YYYY-MM-DD`).\n\nFor endorsements, this is the endorsement date. For New/Renewal policies, this equals the Policy Effective Date. If omitted, today's date is used as the transaction effective date.",
                    "example": "2025-01-15"
                  },
                  "mailing_entity_type": {
                    "type": "string",
                    "description": "Insured entity type (e.g., `individual`, `commercial`, `governmental`, `federal`, `tribal`, `hospital_alliance`).\n\nInsured entity types are used for states that may consider certain entity types tax exempt. Currently only applies to a few states. A list of applicable states, entity types, and import codes can be found <a href=\"https://lookerstudio.google.com/u/0/reporting/3ab734ae-7c28-411b-b560-786d8ddb26b7/page/p_3hpcqcadqd\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">here</a>.",
                    "default": "commercial",
                    "example": "commercial"
                  },
                  "commission_received": {
                    "type": "integer",
                    "description": "Indicator if commission was received: `0` = No, `1` = Yes. Only applicable in the state of New Hampshire.\n\nIf the commission is received, policy fees cannot be charged (use for calculating fee restrictions).\n\nIf omitted, the default value is '0'.\n\n<br><br><br>\n\n---\n\n## Kentucky Specific Fields\n\nRequired fields to return Kentucky's Local Government Premium Taxes (i.e. municipal taxes).",
                    "default": 0,
                    "example": 0
                  },
                  "admitted": {
                    "type": "integer",
                    "description": "Admitted taxes?\n\nAllowed values:\n* `0` - Default value. Non-admitted market tax calculation.\n* `1` - Use for Admitted tax calculation.\n\nNote: `1` is only applicable for Kentucky admitted taxes.",
                    "default": 0,
                    "enum": [
                      0,
                      1
                    ],
                    "example": 0
                  },
                  "physical_address": {
                    "type": "string",
                    "description": "Only required for Kentucky. Street address of insured/risk location. No PO Boxes unless specifically allowed by the configuration. Required if Physical State is NOT the same as Mailing State.",
                    "example": "123 Main St"
                  },
                  "physical_city": {
                    "type": "string",
                    "description": "Only required for Kentucky. City of insured/risk location. Required if Physical State is NOT the same as Mailing State.",
                    "example": "Frankfort"
                  },
                  "physical_zip_code": {
                    "type": "string",
                    "description": "Only required for Kentucky. ZIP code of insured/risk location. Required if Physical State is NOT the same as Mailing State.\n\n<br><br><br>\n\n---\n\n## Optional Fields Specific to Documents\n\nOptional fields that will ensure the correct documents necessary to bind a surplus lines policy will be returned.",
                    "example": "40601"
                  },
                  "account_written_as": {
                    "type": "string",
                    "description": "Indicates whether the policy is written: `B` = Brokerage or `DC` = Direct to Client.\n\nUse `B` if you sell through a retail agent. Use `DC` if the policy is sold directly to the insured. If omitted, the default Agency Admin setting will be used.",
                    "enum": [
                      "B",
                      "DC"
                    ],
                    "example": "B"
                  },
                  "tax_exempt": {
                    "type": "integer",
                    "description": "Tax Exempt indicator: `0` = No, `1` = Yes. Defaults to `0`.\n\nUnless you know that the insured/entity is Tax Exempt, set the value to `0` or leave it blank (the system defaults to `0`). Currently required only for the state of Utah.",
                    "default": 0,
                    "enum": [
                      0,
                      1
                    ],
                    "example": 0
                  },
                  "ecp": {
                    "type": "integer",
                    "description": "Exempt Commercial Purchaser indicator: `0` = No, `1` = Yes. Defaults to `0`.\n\nUnless you know what this is, set this value to `0`.",
                    "default": 0,
                    "enum": [
                      0,
                      1
                    ],
                    "example": 0
                  },
                  "export_list": {
                    "type": "integer",
                    "description": "[DON'T USE - TO BE DEPRECATED]\n\nExport List indicator: `0` = No (Default), `1` = Yes.\n\nUse this when the coverage is on the state's Export List.\n",
                    "default": 0,
                    "example": 0
                  }
                },
                "example": {
                  "physical_state": "TX",
                  "transaction_type": "PN",
                  "transaction_line_of_business_list": "GEN-1014 | GEN-1020 | GEN-1030",
                  "transaction_line_of_business_coverage": "220.14 | 800 | 1921.42",
                  "agency_fee": 90,
                  "inspection_fee": 100.25,
                  "rpg": 0,
                  "policy_effective_date": "2026-02-23",
                  "transaction_effective_date": "2026-02-23",
                  "mailing_entity_type": "commercial",
                  "commission_received": 0
                }
              },
              "examples": {
                "Default_Request_On_Load": {
                  "summary": "Default Request (Pre-filled) — Texas (Multiple LOBs)",
                  "value": {
                    "physical_state": "TX",
                    "transaction_type": "PN",
                    "transaction_line_of_business_list": "GEN-1014 | GEN-1020 | GEN-1030",
                    "transaction_line_of_business_coverage": "220.14 | 800 | 1921.42",
                    "agency_fee": 90,
                    "inspection_fee": 100.25,
                    "rpg": 0,
                    "policy_effective_date": "2026-02-23",
                    "transaction_effective_date": "2026-02-23",
                    "mailing_entity_type": "commercial",
                    "commission_received": 0
                  }
                },
                "Standard_Surplus_Lines_Request_Single_LOB": {
                  "summary": "Default Request (Pre-filled) — Texas (Single LOB)",
                  "value": {
                    "physical_state": "TX",
                    "transaction_type": "PN",
                    "transaction_line_of_business_list": "GEN-1010",
                    "transaction_line_of_business_coverage": "400",
                    "agency_fee": 400,
                    "inspection_fee": 150.42,
                    "rpg": 1,
                    "policy_effective_date": "2026-03-01",
                    "transaction_effective_date": "2026-03-01",
                    "mailing_entity_type": "individual",
                    "commission_received": 0
                  }
                },
                "California_Surplus_Lines_Request": {
                  "summary": "California — Multiple LOBs",
                  "value": {
                    "physical_state": "CA",
                    "transaction_type": "PN",
                    "transaction_line_of_business_list": "GEN-1010|GEN-1013|GEN-1020",
                    "transaction_line_of_business_coverage": "200.34|1721|440",
                    "agency_fee": 80,
                    "inspection_fee": 25,
                    "rpg": 0,
                    "policy_effective_date": "2026-02-18",
                    "transaction_effective_date": "2026-02-18",
                    "mailing_entity_type": "commercial",
                    "commission_received": 0
                  }
                },
                "Florida_Surplus_Lines_Request": {
                  "summary": "Florida — Multiple LOBs",
                  "value": {
                    "physical_state": "FL",
                    "transaction_type": "PN",
                    "transaction_line_of_business_list": "GEN-1010|GEN-1020",
                    "transaction_line_of_business_coverage": "2500|750",
                    "agency_fee": 0,
                    "inspection_fee": 0,
                    "rpg": 1,
                    "policy_effective_date": "2026-02-05",
                    "transaction_effective_date": "2026-02-05",
                    "mailing_entity_type": "tribal",
                    "commission_received": 0
                  }
                },
                "Illinois_Surplus_Lines_Request": {
                  "summary": "Illinois — Multiple LOBs",
                  "value": {
                    "physical_state": "IL",
                    "transaction_type": "PN",
                    "transaction_line_of_business_list": "GEN-1010|GEN-1013",
                    "transaction_line_of_business_coverage": "500|1200",
                    "agency_fee": 50,
                    "inspection_fee": 10,
                    "rpg": 0,
                    "policy_effective_date": "2026-01-20",
                    "transaction_effective_date": "2026-01-20",
                    "mailing_entity_type": "federal",
                    "commission_received": 0
                  }
                },
                "Kentucky_Surplus_Lines_Request": {
                  "summary": "Kentucky — Non-admitted",
                  "value": {
                    "physical_state": "KY",
                    "physical_address": "450 E New Circle Rd",
                    "physical_city": "Lexington",
                    "physical_zip_code": "40509",
                    "transaction_type": "PN",
                    "transaction_line_of_business_list": "GEN-1010|GEN-1023|GEN-1078",
                    "transaction_line_of_business_coverage": "400|1299|7822",
                    "agency_fee": 100,
                    "inspection_fee": 50,
                    "rpg": 0,
                    "policy_effective_date": "2026-02-18",
                    "transaction_effective_date": "2026-02-18",
                    "mailing_entity_type": "hospital_alliance",
                    "commission_received": 0
                  }
                },
                "Kentucky_Admitted_Request": {
                  "summary": "Kentucky — Admitted",
                  "value": {
                    "admitted": 1,
                    "physical_state": "KY",
                    "physical_address": "450 E New Circle Rd",
                    "physical_city": "Lexington",
                    "physical_zip_code": "40509",
                    "transaction_type": "PN",
                    "transaction_line_of_business_list": "GEN-1010|GEN-1023|GEN-1078",
                    "transaction_line_of_business_coverage": "400|1299|7822",
                    "agency_fee": 100,
                    "inspection_fee": 50,
                    "rpg": 1,
                    "policy_effective_date": "2026-02-23",
                    "transaction_effective_date": "2026-02-23",
                    "mailing_entity_type": "commercial",
                    "commission_received": 0
                  }
                }
              }
            }
          },
          "description": "### How to use this request\n\n**If you only want tax calculations:**\nUse **Required** + **Recommended** fields.\n\n**If you want Kentucky‑specific behavior:**\nAlso include fields from the **Kentucky Specific Fields** section.\n\n**If you want document handling:**\nAlso include fields from the **Documents** section.\n\nYou can safely ignore any section you don’t need.\n\n---\n\n<h2>Minimum Fields for Tax Calculation</h2>\n\nRequired inputs to perform a tax calculation. Enter values below to build a mock request; the **REQUEST** panel on the right updates as you type.\n"
        },
        "responses": {
          "200": {
            "description": "Success: Returns tax calculations and document requirements.\n\n<details open>\n<summary><strong>How to consume this response</strong></summary>\n\nThis endpoint can return **tax totals**, **state rules/stamp wording**, and **document requirements** in a single response. Which parts you consume depends on your integration needs:\n\n- **Tax-only integrations:** focus on the top-level policy/transaction fields you need for reconciliation, plus the **tax totals** (e.g., surplus lines tax, stamping fee, municipal/county fees, etc.). For tax-line details (titles/rates/amount logic), use the `tax_rule` section (titles, amount types, percentages, and calculated amounts).\n- **Document workflows:** use the documents portion of the response (see `tax_rule.state_documents`) to determine required documents, notes, and any download links.\n- **State rules / stamp wording:** use `state_properties` for stamp wording text/instructions, and `tax_rule.state_notes` / `tax_rule.state_documents` when you need state guidance, filing rules, and required forms.\n\n</details>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "line_of_business_id": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Unique identifier for the line of business. (Inferred)"
                    },
                    "fm_tax_percentage": {
                      "type": "number",
                      "nullable": true,
                      "description": "Fire Marshal tax percentage (if applicable)."
                    },
                    "line_of_business_list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "generic_code": {
                            "type": "string",
                            "description": "Generic LOB code (InsCipher standard)."
                          },
                          "code": {
                            "type": "string",
                            "description": "State/filing-specific LOB code."
                          },
                          "fm_tax_title": {
                            "type": "string",
                            "nullable": true,
                            "description": "Label for state specific or generic FM tax title (if any). (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_xv4ud8gjqc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Unique State Tax Titles</a>)"
                          },
                          "empa_tax_title": {
                            "type": "string",
                            "nullable": true,
                            "description": "Label for EMPA tax title (if any). (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_xv4ud8gjqc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Unique State Tax Titles</a>)"
                          },
                          "id": {
                            "type": "integer",
                            "description": "Unique identifier for the line of business.",
                            "nullable": true
                          },
                          "fm_tax_percentage": {
                            "type": "number",
                            "description": "Fire Marshal tax percentage (if applicable).",
                            "nullable": true
                          }
                        }
                      },
                      "description": "Array of LOB objects: id, fm_tax_percentage, generic_code, code, fm_tax_title, empa_tax_title. (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_4q66kh8crc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Generic Lines of Business List</a>, <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_xv4ud8gjqc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Unique State Tax Titles</a>)"
                    },
                    "state_properties": {
                      "type": "object",
                      "description": "Object containing state-specific surplus lines requirements, including stamp wording, font rules, and rounding options. (See: <a href=\"https://lookerstudio.google.com/s/pruKt8r4i3Q\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">State Stamp Wording</a>)",
                      "properties": {
                        "state_stamp_wording_text": {
                          "type": "string",
                          "nullable": true,
                          "description": "Surplus lines disclosure wording required by the state."
                        },
                        "state_stamp_wording_instructions": {
                          "type": "string",
                          "nullable": true,
                          "description": "Instructions for how wording must be applied to the policy."
                        },
                        "state_stamp_wording_font_size": {
                          "type": "number",
                          "nullable": true,
                          "description": "Font size requirement for the state stamp wording."
                        },
                        "state_stamp_wording_font_bold": {
                          "type": "integer",
                          "enum": [
                            0,
                            1
                          ],
                          "nullable": true,
                          "description": "Bold formatting flag."
                        },
                        "state_stamp_wording_font_italics": {
                          "type": "integer",
                          "enum": [
                            0,
                            1
                          ],
                          "nullable": true,
                          "description": "Italics formatting flag."
                        },
                        "state_stamp_wording_font_color": {
                          "type": "string",
                          "nullable": true,
                          "description": "Font color for state stamp wording."
                        },
                        "state_stamp_wording_type": {
                          "type": "string",
                          "nullable": true,
                          "description": "Type of wording (e.g., “wording”, “template”)."
                        },
                        "state_stamp_wording_updated_at": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true,
                          "description": "Timestamp of last update for wording rules."
                        }
                      }
                    },
                    "mailing_state_properties": {
                      "type": "object",
                      "nullable": true,
                      "description": "State-specific rules for mailing address (if different from risk state). (Inferred)"
                    },
                    "account_written_as": {
                      "type": "string",
                      "description": "Brokerage = B or Direct to Client = DC."
                    },
                    "line_of_business": {
                      "type": "string",
                      "description": "General line of business import codes. State-specific codes available upon request."
                    },
                    "transaction_type": {
                      "type": "string",
                      "description": "2-letter transaction type code (e.g., PN = New Policy, PR = Renewal). (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/41dce747-d045-4e1f-884d-07d23581a90a/page/p_83noca0k9c\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Transaction Type mapping per State</a>)"
                    },
                    "premium": {
                      "type": "number",
                      "description": "Policy premium amount."
                    },
                    "agency_fee": {
                      "type": "number",
                      "description": "Agency Fee: all non-carrier underwriting fees (Broker, Agency, etc.)."
                    },
                    "inspection_fee": {
                      "type": "number",
                      "description": "Carrier/underwriting related fees (e.g., inspection)."
                    },
                    "sl_tax": {
                      "type": "number",
                      "description": "Surplus Lines tax amount. (Inferred)"
                    },
                    "stamping_fee": {
                      "type": "number",
                      "description": "Stamping fee amount. (Inferred)"
                    },
                    "sl_service_charge": {
                      "type": "number",
                      "description": "Surplus Lines service charge fee amount. (Inferred)"
                    },
                    "municipal_fee": {
                      "type": "number",
                      "nullable": true,
                      "description": "Local government premium tax (LGPT). Applicable to KY only."
                    },
                    "county_fee": {
                      "type": "number",
                      "nullable": true,
                      "description": "County tax fee (if applicable). KY only."
                    },
                    "fm_tax": {
                      "type": "number",
                      "description": "Foreign Market tax. (Inferred)"
                    },
                    "empa_tax": {
                      "type": "number",
                      "description": "EMPA tax (Emergency Management Preparedness Act tax, state-specific). (Inferred)"
                    },
                    "rpg": {
                      "type": "integer",
                      "description": "Risk Purchasing Group indicator: 0 = No, 1 = Yes."
                    },
                    "tax_rule": {
                      "type": "object",
                      "description": "Object describing all tax/fee rules and restrictions.",
                      "properties": {
                        "is_sl_tax_active": {
                          "type": "boolean",
                          "description": "Whether Surplus Lines Tax is active."
                        },
                        "sl_tax_amount_type": {
                          "type": "integer",
                          "description": "Surplus Lines Tax type: 1 = Percentage, 2 = Fixed."
                        },
                        "sl_tax_amount": {
                          "type": "number",
                          "description": "Surplus Lines Tax rate or fixed amount."
                        },
                        "is_sl_tax_input_manual": {
                          "type": "boolean",
                          "description": "Can SL tax be manually entered?"
                        },
                        "is_stamping_fee_active": {
                          "type": "boolean",
                          "description": "Whether stamping fee is active."
                        },
                        "stamping_fee_amount_type": {
                          "type": "integer",
                          "description": "Stamping Fee type: 1 = Percentage, 2 = Fixed."
                        },
                        "stamping_fee_amount": {
                          "type": "number",
                          "description": "Stamping Fee rate or fixed amount."
                        },
                        "is_stamping_fee_input_manual": {
                          "type": "boolean",
                          "description": "Can stamping fee be manually entered?"
                        },
                        "exclude_stamping_fee_when_negative_premium": {
                          "type": "boolean",
                          "description": "Exclude stamping fee if premium is negative. (Inferred)"
                        },
                        "is_sl_service_charge_active": {
                          "type": "boolean",
                          "description": "Whether Service Charge is active."
                        },
                        "sl_service_charge_amount_type": {
                          "type": "integer",
                          "description": "Service Charge type: 1 = Percentage, 2 = Fixed."
                        },
                        "sl_service_charge_amount": {
                          "type": "number",
                          "description": "Service Charge rate or fixed amount."
                        },
                        "is_sl_service_charge_input_manual": {
                          "type": "boolean",
                          "description": "Can Service Charge be manually entered?"
                        },
                        "is_municipal_fee_active": {
                          "type": "boolean",
                          "description": "Whether municipal fee is active."
                        },
                        "municipal_fee_amount_type": {
                          "type": "integer",
                          "description": "Municipal Fee type: 1 = Percentage, 2 = Fixed."
                        },
                        "municipal_fee_amount": {
                          "type": "number",
                          "description": "Municipal fee rate or fixed amount."
                        },
                        "is_municipal_fee_input_manual": {
                          "type": "boolean",
                          "description": "Can municipal fee be manually entered?"
                        },
                        "fee_restrictions": {
                          "type": "boolean",
                          "description": "Are there fee restrictions?"
                        },
                        "fee_restriction_amount_fixed_active": {
                          "type": "boolean",
                          "description": "Is a fixed fee restriction active?"
                        },
                        "fee_restriction_amount_fixed": {
                          "type": "number",
                          "nullable": true,
                          "description": "Fixed fee restriction value (if active)."
                        },
                        "fee_restriction_amount_percentage_active": {
                          "type": "boolean",
                          "description": "Is a percentage fee restriction active?"
                        },
                        "fee_restriction_amount_percentage": {
                          "type": "number",
                          "nullable": true,
                          "description": "Percentage restriction value (if active)."
                        },
                        "max_fee": {
                          "type": "boolean",
                          "description": "Is there a max fee rule?"
                        },
                        "max_fee_amount_type": {
                          "type": "integer",
                          "description": "Max Fee Type: 1 = Percentage, 2 = Fixed."
                        },
                        "max_fee_amount": {
                          "type": "number",
                          "nullable": true,
                          "description": "Max fee value (depending on type)."
                        },
                        "fee_restriction_apply_to": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          },
                          "description": "Fee restriction applies to (array of fee codes)."
                        },
                        "fee_restriction_apply_from": {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          },
                          "description": "Fee restriction applies from (array of fee codes)."
                        },
                        "both_fees_allowed": {
                          "type": "boolean",
                          "description": "Whether multiple fees are allowed."
                        },
                        "ask_if_commission_received": {
                          "type": "boolean",
                          "description": "Whether to ask if commission is received."
                        },
                        "zero_agency_fee_if_commission_received": {
                          "type": "boolean",
                          "description": "Force agency fee = 0 if commission is received. (Inferred)"
                        },
                        "round_up_taxes_to_the_nearest_dollar": {
                          "type": "boolean",
                          "description": "Round up taxes to nearest dollar."
                        },
                        "round_up_premium_to_the_nearest_dollar": {
                          "type": "boolean",
                          "description": "Round up premium to nearest dollar."
                        },
                        "sl_tax_title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Surplus Lines Tax label (UI title). (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_xv4ud8gjqc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Unique State Tax Titles</a>)"
                        },
                        "sl_service_charge_title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Service Charge Fee label (UI title). (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_xv4ud8gjqc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Unique State Tax Titles</a>)"
                        },
                        "stamping_fee_title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Stamping Fee label (UI title). (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_xv4ud8gjqc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Unique State Tax Titles</a>)"
                        },
                        "municipal_fee_title": {
                          "type": "string",
                          "nullable": true,
                          "description": "Municipal Fee label (UI title). (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_xv4ud8gjqc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Unique State Tax Titles</a>)"
                        },
                        "state_notes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "note_type_data": {
                                "type": "object",
                                "description": "Object describing the note’s type.",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "ID of the note type."
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "Label of the note type."
                                  }
                                }
                              },
                              "notification_type_data": {
                                "type": "object",
                                "description": "Object describing notification severity.",
                                "properties": {
                                  "id": {
                                    "type": "integer",
                                    "description": "ID of the notification type."
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "Label of the notification type (e.g., Info, Warning)."
                                  }
                                }
                              },
                              "note_type": {
                                "type": "integer",
                                "description": "Numeric code of the note type."
                              },
                              "note": {
                                "type": "string",
                                "description": "The note body (often HTML)."
                              },
                              "instructions": {
                                "type": "string",
                                "nullable": true,
                                "description": "Extra instructions (optional)."
                              },
                              "font_size": {
                                "type": "number",
                                "nullable": true,
                                "description": "Suggested font size (optional)."
                              },
                              "color": {
                                "type": "string",
                                "nullable": true,
                                "description": "Suggested font color (optional)."
                              },
                              "bold": {
                                "type": "integer",
                                "enum": [
                                  0,
                                  1
                                ],
                                "nullable": true,
                                "description": "Bold flag."
                              },
                              "italic": {
                                "type": "integer",
                                "enum": [
                                  0,
                                  1
                                ],
                                "nullable": true,
                                "description": "Italic flag."
                              }
                            }
                          },
                          "description": "State-specific notes to assist in quoting/binding."
                        },
                        "state_documents": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Document name."
                              },
                              "code": {
                                "type": "string",
                                "description": "Document code."
                              },
                              "document_note": {
                                "type": "string",
                                "nullable": true,
                                "description": "Document-specific notes."
                              },
                              "document_download_link": {
                                "type": "string",
                                "nullable": true,
                                "description": "One-time URL to download document. Once returned, the URL is available for 1 minute."
                              },
                              "upload_required": {
                                "type": "boolean",
                                "description": "Whether upload is required."
                              },
                              "transaction_types": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "name": {
                                      "type": "string",
                                      "description": "Transaction type name."
                                    },
                                    "short_code": {
                                      "type": "string",
                                      "description": "2-letter transaction type code."
                                    }
                                  }
                                },
                                "description": "Array of applicable transaction types."
                              },
                              "last_edited_at": {
                                "type": "string",
                                "format": "date-time",
                                "nullable": true,
                                "description": "Last edited date."
                              },
                              "date_active_from": {
                                "type": "string",
                                "format": "date",
                                "nullable": true,
                                "description": "Start date active."
                              },
                              "date_active_to": {
                                "type": "string",
                                "format": "date",
                                "nullable": true,
                                "description": "End date active."
                              },
                              "document_group": {
                                "type": "string",
                                "description": "Document group/category."
                              },
                              "rpg": {
                                "type": "integer",
                                "description": "RPG applicability: 0 = No, 1 = Yes, 2 = Both."
                              },
                              "ecp": {
                                "type": "integer",
                                "description": "ECP applicability: 0 = No, 1 = Yes, 2 = Both."
                              },
                              "exempt": {
                                "type": "integer",
                                "description": "Tax Exempt applicability: 0 = No, 1 = Yes, 2 = Both."
                              },
                              "export_list": {
                                "type": "integer",
                                "description": "Export List applicability: 0 = No, 1 = Yes, 2 = Both."
                              },
                              "required_for_filing": {
                                "type": "boolean",
                                "description": "Whether required for filing."
                              },
                              "required_for_binding": {
                                "type": "boolean",
                                "description": "Whether required for binding."
                              },
                              "include_with_policy": {
                                "type": "boolean",
                                "description": "Should be included with policy."
                              },
                              "include_in_diligent_effort": {
                                "type": "boolean",
                                "description": "Should be included in diligent effort docs."
                              },
                              "keep_on_hand": {
                                "type": "boolean",
                                "description": "Should be kept on file."
                              },
                              "signature_requirements": {
                                "type": "string",
                                "description": "Who must sign (e.g., Insured, Broker, Agent)."
                              }
                            }
                          },
                          "description": "State-required documents. Each entry defines name, code, notes, etc. (See: <a href=\"https://lookerstudio.google.com/u/0/reporting/f3c07407-ee34-4ec9-8a4a-f90b1d585e6b/page/p_otc1uchjqc\" style=\"background-color:#d9f2ff; padding:0 3px; border-radius:3px;\">Document Requirements: Tax Calc API</a>)"
                        }
                      }
                    },
                    "commission_received": {
                      "type": "boolean",
                      "description": "Whether commission is received. (Inferred)"
                    },
                    "tax_exempt": {
                      "type": "integer",
                      "description": "Tax Exempt status: 0 = No, 1 = Yes."
                    },
                    "export_list": {
                      "type": "integer",
                      "description": "Export list: 0 = No, 1 = Yes."
                    },
                    "municipal_tax_settings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "municipal_tax_setting": {
                            "type": "object",
                            "description": "Wrapper for municipal tax setting.",
                            "properties": {
                              "municipality_name": {
                                "type": "string",
                                "description": "Municipality name."
                              },
                              "line_category": {
                                "type": "string",
                                "description": "Municipal level Line category (Fire, Casualty, Vehicle, etc.). (KY only)."
                              }
                            }
                          }
                        }
                      },
                      "nullable": true,
                      "description": "Collection of municipal tax settings (KY only)."
                    },
                    "county_tax_settings": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "county_name": {
                            "type": "string",
                            "description": "Name of the county (KY only)."
                          },
                          "line_category": {
                            "type": "string",
                            "description": "County level Line category (Fire, Casualty, Vehicle, etc.). (KY only)."
                          }
                        }
                      },
                      "nullable": true,
                      "description": "County tax settings (KY only)."
                    },
                    "collection_fee": {
                      "type": "number",
                      "description": "Collection fee amount."
                    },
                    "continuous_coverage": {
                      "type": "integer",
                      "enum": [
                        0,
                        1
                      ],
                      "description": "Continuous coverage indicator."
                    },
                    "physical_address": {
                      "type": "string",
                      "nullable": true,
                      "description": "Risk location address."
                    },
                    "physical_city": {
                      "type": "string",
                      "nullable": true,
                      "description": "Risk location city."
                    },
                    "physical_zip_code": {
                      "type": "string",
                      "nullable": true,
                      "description": "Risk location zip code."
                    },
                    "physical_state": {
                      "type": "string",
                      "description": "Admitted rates (KY only) : state"
                    },
                    "premium_tax": {
                      "type": "number",
                      "description": "Insurance premiums tax levied on insurance companies for privilege of doing business in the state. (KY only)"
                    },
                    "premium_tax_life": {
                      "type": "number",
                      "description": "Insurance premiums tax levied on insurance companies for privilege of doing business in the state. Specific to life insurance companies doing business in the state. (KY only)"
                    }
                  }
                },
                "examples": {
                  "Standard_Surplus_Lines_Request_Single_LOB": {
                    "summary": "Default Request (Pre-filled) — Texas (Single LOB)",
                    "value": {
                      "line_of_business_list": [
                        {
                          "generic_code": "GEN-1002",
                          "fm_tax_percentage": null,
                          "id": 3644,
                          "code": "1276",
                          "fm_tax_title": null,
                          "empa_tax_title": null
                        }
                      ],
                      "state_properties": {
                        "state_stamp_wording_text": "<p>Guaranty Fund Nonparticipation Notice</p><p>This insurance contract is with an insurer not licensed to transact insurance in this state and is issued and delivered as surplus line coverage under the Texas insurance statutes. The Texas Department of Insurance does not audit the finances or review the solvency of the surplus lines insurer providing this coverage, and the insurer is not a member of the property and casualty insurance guaranty association created under Chapter 462, Insurance Code. Chapter 225, Insurance Code, requires payment of a 4.85 percent tax on gross premium.</p><p><strong>State Stamp Wording 2</strong></p><p>DSLI Guaranty Fund Nonparticipation Notice</p><p>This insurance contract is issued and delivered as surplus lines coverage under the Texas Insurance Code. The insurer is not a member of the property and casualty insurance guaranty association created under Insurance Code Chapter 462. Insurance Code Chapter 225 requires payment of a 4.85 percent tax on gross premium.</p>",
                        "state_stamp_wording_instructions": "Each new or renewal insurance contract, certificate, cover note or other confirmation of insurance must state- Please select the appropriate notice per your policy specifications.",
                        "state_stamp_wording_font_size": 11,
                        "state_stamp_wording_font_bold": 0,
                        "state_stamp_wording_font_italics": 0,
                        "state_stamp_wording_font_color": "black",
                        "state_stamp_wording_type": "wording",
                        "state_stamp_wording_updated_at": "2026-04-08 00:00:00"
                      },
                      "mailing_state_properties": null,
                      "account_written_as": "B",
                      "line_of_business": null,
                      "transaction_type": "PN",
                      "premium": 400,
                      "agency_fee": 400,
                      "inspection_fee": 150.42,
                      "sl_tax": 46.1,
                      "stamping_fee": 0.38,
                      "sl_service_charge": 0,
                      "municipal_fee": null,
                      "county_fee": null,
                      "fm_tax": 0,
                      "empa_tax": 0,
                      "rpg": 0,
                      "tax_rule": {
                        "is_sl_tax_active": true,
                        "sl_tax_amount_type": 1,
                        "sl_tax_amount": 4.85,
                        "is_sl_tax_input_manual": false,
                        "is_stamping_fee_active": true,
                        "stamping_fee_amount_type": 1,
                        "stamping_fee_amount": 0.04,
                        "is_stamping_fee_input_manual": false,
                        "exclude_stamping_fee_when_negative_premium": false,
                        "is_sl_service_charge_active": false,
                        "sl_service_charge_amount_type": 1,
                        "sl_service_charge_amount": 0,
                        "is_sl_service_charge_input_manual": false,
                        "is_municipal_fee_active": false,
                        "municipal_fee_amount_type": 2,
                        "municipal_fee_amount": 0,
                        "is_municipal_fee_input_manual": false,
                        "fee_restrictions": false,
                        "fee_restriction_amount_fixed_active": false,
                        "fee_restriction_amount_fixed": null,
                        "fee_restriction_amount_percentage_active": false,
                        "fee_restriction_amount_percentage": null,
                        "max_fee": false,
                        "max_fee_amount_type": 1,
                        "max_fee_amount": null,
                        "fee_restriction_apply_to": [
                          0
                        ],
                        "fee_restriction_apply_from": [
                          0
                        ],
                        "both_fees_allowed": true,
                        "ask_if_commission_received": false,
                        "zero_agency_fee_if_commission_received": false,
                        "round_up_taxes_to_the_nearest_dollar": false,
                        "sl_tax_title": "Surplus Lines Tax",
                        "sl_service_charge_title": null,
                        "stamping_fee_title": "Stamping Fee",
                        "municipal_fee_title": null,
                        "state_notes": [
                          {
                            "note_type_data": {
                              "id": 10,
                              "label": "Document Notes"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 10,
                            "note": "<p>All premium bearing policy documents (declarations page, endorsements, etc.) must have the transaction's premium, all fees, and taxes individually broken out.</p>",
                            "instructions": null,
                            "font_size": null,
                            "color": null,
                            "bold": null,
                            "italic": null
                          },
                          {
                            "note_type_data": {
                              "id": 7,
                              "label": "Other Policy Information"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 7,
                            "note": "<p>Policy Limit is defined by SLTX as the Total Insurable Value (TIV) for property policies and Package policies (property & liability), the aggregate limit for Liability policies, and Maximum Benefit (total sum) for Other or Accident & Health policies.</p>",
                            "instructions": null,
                            "font_size": null,
                            "color": null,
                            "bold": null,
                            "italic": null
                          },
                          {
                            "note_type_data": {
                              "id": 7,
                              "label": "Other Policy Information"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 7,
                            "note": "<p>Tax Exempt status varies by state. To help determine whether or not a policy qualifies as Tax Exempt:<br/><a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://support.inscipher.com/knowledge/tax-exempt-status-by-state\">Click here to learn more.</a></p>",
                            "instructions": null,
                            "font_size": null,
                            "color": null,
                            "bold": null,
                            "italic": null
                          },
                          {
                            "note_type_data": {
                              "id": 6,
                              "label": "Policy Dates"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 6,
                            "note": "<p>Texas treats Extension Endorsements as Renewals. When issuing an Extension Endorsement, the Policy Effective Date should reflect the first day of the extension period, and the Policy Expiration Date should reflect the final day of the extended term.</p>",
                            "instructions": null,
                            "font_size": null,
                            "color": null,
                            "bold": false,
                            "italic": false
                          },
                          {
                            "note_type_data": {
                              "id": 3,
                              "label": "State Stamp Wording"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 3,
                            "note": "<p>Guaranty Fund Nonparticipation Notice</p>\n\n<p>This insurance contract is with an insurer not licensed to transact insurance in this state and is issued and delivered as surplus line coverage under the Texas insurance statutes. The Texas Department of Insurance does not audit the finances or review the solvency of the surplus lines insurer providing this coverage, and the insurer is not a member of the property and casualty insurance guaranty association created under Chapter 462, Insurance Code. Chapter 225, Insurance Code, requires payment of a 4.85 percent tax on gross premium.</p>\n\n<p><strong>State Stamp Wording 2</strong></p>\n\n<p>DSLI Guaranty Fund Nonparticipation Notice</p>\n\n<p>This insurance contract is issued and delivered as surplus lines coverage under the Texas Insurance Code. The insurer is not a member of the property and casualty insurance guaranty association created under Insurance Code Chapter 462. Insurance Code Chapter 225 requires payment of a 4.85 percent tax on gross premium.</p>",
                            "instructions": "Each new or renewal insurance contract, certificate, cover note or other confirmation of insurance must state- Please select the appropriate notice per your policy specifications.",
                            "font_size": 11,
                            "color": "black",
                            "bold": false,
                            "italic": false
                          }
                        ],
                        "state_documents": [
                          {
                            "upload_required": true,
                            "name": "Policy",
                            "code": "POLIC",
                            "document_note": "Attach full policy including State Stamp wording.",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              }
                            ],
                            "document_download_link": null,
                            "last_edited_at": "2025-11-12",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Policy Documents",
                            "rpg": 2,
                            "ecp": 2,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": true,
                            "required_for_binding": false,
                            "include_with_policy": false,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Complaint Notice",
                            "code": "MISC",
                            "document_note": "The Complaint Notice is required to be included with the\r\nInsured’s copy of policies, binders, cover notes, etc.",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              }
                            ],
                            "document_download_link": "https://surpluslines.inscipher.com/doc/link/039e763491d17744a3a1e93a6d87fe51/2591398",
                            "last_edited_at": "2025-07-21",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Miscellaneous",
                            "rpg": 2,
                            "ecp": 2,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": true,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Exempt Commercial Purchaser (ECP) Form",
                            "code": "MISC",
                            "document_note": "To be completed and kept on file for ECP placements only.",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              }
                            ],
                            "document_download_link": null,
                            "last_edited_at": "2025-07-21",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Miscellaneous",
                            "rpg": 2,
                            "ecp": 1,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": false,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Required Disclosure for Occupational Policies",
                            "code": "RDOP",
                            "document_note": "An occupational policy shall include the following disclosure statement in 10-point boldface type on the first page of the policy and on the first page of all materials used in advertising or marketing the occupational policy to an employer that elects not to maintain workers' compensation insurance coverage under Chapter 406, Labor Code",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              }
                            ],
                            "document_download_link": "https://surpluslines.inscipher.com/doc/link/fecb10899e576e9b5dcf2872263b2259/1328934",
                            "last_edited_at": "2025-07-21",
                            "date_active_from": "2022-01-01",
                            "date_active_to": null,
                            "document_group": "Miscellaneous",
                            "rpg": 2,
                            "ecp": 2,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": true,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Non-Texas Premium/Exempt Premium Allocation Form",
                            "code": "MISC",
                            "document_note": "According to the state of Texas \"The Non-Texas Premium/Exempt Premium Allocation form\" is needed to be filled out and kept with the policy on multiple state policies. All coverages for Property, Inland Marine, Auto-Physical Damage, Oil & Gas Property or Package, Special Events Property, Builders Risk Property or package, Aviation – Hull, cargo or package, Ocean Marine Hull, cargo or package and Credit, with locations in states outside Texas, require the breakdown of premium by state. If filing by EFS, entered with your transaction. If filing by mail/paper, it is required to be included with your filing.",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              },
                              {
                                "name": "Additional Premium Endorsement",
                                "short_code": "APE"
                              },
                              {
                                "name": "Return Premium Endorsement",
                                "short_code": "RPE"
                              },
                              {
                                "name": "Audit Endorsement",
                                "short_code": "AE"
                              },
                              {
                                "name": "Flat Cancellation",
                                "short_code": "FC"
                              },
                              {
                                "name": "Pro Rata Cancellation",
                                "short_code": "PC"
                              },
                              {
                                "name": "Extension Endorsement",
                                "short_code": "XE"
                              },
                              {
                                "name": "Audit Return Premium Endorsement",
                                "short_code": "ARE"
                              },
                              {
                                "name": "Reinstatement",
                                "short_code": "RI"
                              },
                              {
                                "name": "Back-out / Reversal",
                                "short_code": "BO"
                              }
                            ],
                            "document_download_link": "https://surpluslines.inscipher.com/doc/link/392b12804d0879d05d80f57ad02f1cb2/2591445",
                            "last_edited_at": "2025-07-21",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Miscellaneous",
                            "rpg": 2,
                            "ecp": 2,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": false,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Diligent Effort Form",
                            "code": "DEF",
                            "document_note": null,
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              }
                            ],
                            "document_download_link": null,
                            "last_edited_at": "2026-02-16",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Diligent Effort Documents",
                            "rpg": 2,
                            "ecp": 0,
                            "exempt": 2,
                            "export_list": 0,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": false,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": false,
                            "signature_requirements": "None"
                          }
                        ],
                        "round_up_premium_to_the_nearest_dollar": false,
                        "round_up_fees_to_the_nearest_dollar": false,
                        "round_fees_to_the_nearest_dollar": false,
                        "round_taxes_to_the_nearest_dollar": false,
                        "round_premium_to_the_nearest_dollar": false
                      },
                      "commission_received": null,
                      "tax_exempt": 0,
                      "export_list": 0,
                      "municipal_tax_settings": null,
                      "county_tax_settings": null,
                      "collection_fee": 0,
                      "continuous_coverage": 0,
                      "physical_address": null,
                      "physical_city": null,
                      "physical_zip_code": null,
                      "physical_state": "TX"
                    }
                  },
                  "Standard_Surplus_Lines_Request": {
                    "summary": "Texas — Multiple LOBs",
                    "value": {
                      "line_of_business_list": [
                        {
                          "generic_code": "GEN-1002",
                          "fm_tax_percentage": null,
                          "id": 3644,
                          "code": "1276",
                          "fm_tax_title": null,
                          "empa_tax_title": null
                        },
                        {
                          "generic_code": "GEN-1019",
                          "fm_tax_percentage": null,
                          "id": 8150,
                          "code": "3978",
                          "fm_tax_title": null,
                          "empa_tax_title": null
                        },
                        {
                          "generic_code": "GEN-1035",
                          "fm_tax_percentage": null,
                          "id": 7910,
                          "code": "3386",
                          "fm_tax_title": null,
                          "empa_tax_title": null
                        }
                      ],
                      "state_properties": {
                        "state_stamp_wording_text": "<p>Guaranty Fund Nonparticipation Notice</p><p>This insurance contract is with an insurer not licensed to transact insurance in this state and is issued and delivered as surplus line coverage under the Texas insurance statutes. The Texas Department of Insurance does not audit the finances or review the solvency of the surplus lines insurer providing this coverage, and the insurer is not a member of the property and casualty insurance guaranty association created under Chapter 462, Insurance Code. Chapter 225, Insurance Code, requires payment of a 4.85 percent tax on gross premium.</p><p><strong>State Stamp Wording 2</strong></p><p>DSLI Guaranty Fund Nonparticipation Notice</p><p>This insurance contract is issued and delivered as surplus lines coverage under the Texas Insurance Code. The insurer is not a member of the property and casualty insurance guaranty association created under Insurance Code Chapter 462. Insurance Code Chapter 225 requires payment of a 4.85 percent tax on gross premium.</p>",
                        "state_stamp_wording_instructions": "Each new or renewal insurance contract, certificate, cover note or other confirmation of insurance must state- Please select the appropriate notice per your policy specifications.",
                        "state_stamp_wording_font_size": 11,
                        "state_stamp_wording_font_bold": 0,
                        "state_stamp_wording_font_italics": 0,
                        "state_stamp_wording_font_color": "black",
                        "state_stamp_wording_type": "wording",
                        "state_stamp_wording_updated_at": "2026-04-08 00:00:00"
                      },
                      "mailing_state_properties": null,
                      "account_written_as": "B",
                      "line_of_business": null,
                      "transaction_type": "PN",
                      "premium": 9521,
                      "agency_fee": 400,
                      "inspection_fee": 150.42,
                      "sl_tax": 488.46,
                      "stamping_fee": 4.03,
                      "sl_service_charge": 0,
                      "municipal_fee": null,
                      "county_fee": null,
                      "fm_tax": 0,
                      "empa_tax": 0,
                      "rpg": 0,
                      "tax_rule": {
                        "is_sl_tax_active": true,
                        "sl_tax_amount_type": 1,
                        "sl_tax_amount": 4.85,
                        "is_sl_tax_input_manual": false,
                        "is_stamping_fee_active": true,
                        "stamping_fee_amount_type": 1,
                        "stamping_fee_amount": 0.04,
                        "is_stamping_fee_input_manual": false,
                        "exclude_stamping_fee_when_negative_premium": false,
                        "is_sl_service_charge_active": false,
                        "sl_service_charge_amount_type": 1,
                        "sl_service_charge_amount": 0,
                        "is_sl_service_charge_input_manual": false,
                        "is_municipal_fee_active": false,
                        "municipal_fee_amount_type": 2,
                        "municipal_fee_amount": 0,
                        "is_municipal_fee_input_manual": false,
                        "fee_restrictions": false,
                        "fee_restriction_amount_fixed_active": false,
                        "fee_restriction_amount_fixed": null,
                        "fee_restriction_amount_percentage_active": false,
                        "fee_restriction_amount_percentage": null,
                        "max_fee": false,
                        "max_fee_amount_type": 1,
                        "max_fee_amount": null,
                        "fee_restriction_apply_to": [
                          0
                        ],
                        "fee_restriction_apply_from": [
                          0
                        ],
                        "both_fees_allowed": true,
                        "ask_if_commission_received": false,
                        "zero_agency_fee_if_commission_received": false,
                        "round_up_taxes_to_the_nearest_dollar": false,
                        "sl_tax_title": "Surplus Lines Tax",
                        "sl_service_charge_title": null,
                        "stamping_fee_title": "Stamping Fee",
                        "municipal_fee_title": null,
                        "state_notes": [
                          {
                            "note_type_data": {
                              "id": 10,
                              "label": "Document Notes"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 10,
                            "note": "<p>All premium bearing policy documents (declarations page, endorsements, etc.) must have the transaction's premium, all fees, and taxes individually broken out.</p>",
                            "instructions": null,
                            "font_size": null,
                            "color": null,
                            "bold": null,
                            "italic": null
                          },
                          {
                            "note_type_data": {
                              "id": 7,
                              "label": "Other Policy Information"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 7,
                            "note": "<p>Policy Limit is defined by SLTX as the Total Insurable Value (TIV) for property policies and Package policies (property & liability), the aggregate limit for Liability policies, and Maximum Benefit (total sum) for Other or Accident & Health policies.</p>",
                            "instructions": null,
                            "font_size": null,
                            "color": null,
                            "bold": null,
                            "italic": null
                          },
                          {
                            "note_type_data": {
                              "id": 7,
                              "label": "Other Policy Information"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 7,
                            "note": "<p>Tax Exempt status varies by state. To help determine whether or not a policy qualifies as Tax Exempt:<br/><a target=\"_blank\" rel=\"noopener noreferrer\" href=\"https://support.inscipher.com/knowledge/tax-exempt-status-by-state\">Click here to learn more.</a></p>",
                            "instructions": null,
                            "font_size": null,
                            "color": null,
                            "bold": null,
                            "italic": null
                          },
                          {
                            "note_type_data": {
                              "id": 6,
                              "label": "Policy Dates"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 6,
                            "note": "<p>Texas treats Extension Endorsements as Renewals. When issuing an Extension Endorsement, the Policy Effective Date should reflect the first day of the extension period, and the Policy Expiration Date should reflect the final day of the extended term.</p>",
                            "instructions": null,
                            "font_size": null,
                            "color": null,
                            "bold": false,
                            "italic": false
                          },
                          {
                            "note_type_data": {
                              "id": 3,
                              "label": "State Stamp Wording"
                            },
                            "notification_type_data": {
                              "id": 1,
                              "label": "Info"
                            },
                            "note_type": 3,
                            "note": "<p>Guaranty Fund Nonparticipation Notice</p>\n\n<p>This insurance contract is with an insurer not licensed to transact insurance in this state and is issued and delivered as surplus line coverage under the Texas insurance statutes. The Texas Department of Insurance does not audit the finances or review the solvency of the surplus lines insurer providing this coverage, and the insurer is not a member of the property and casualty insurance guaranty association created under Chapter 462, Insurance Code. Chapter 225, Insurance Code, requires payment of a 4.85 percent tax on gross premium.</p>\n\n<p><strong>State Stamp Wording 2</strong></p>\n\n<p>DSLI Guaranty Fund Nonparticipation Notice</p>\n\n<p>This insurance contract is issued and delivered as surplus lines coverage under the Texas Insurance Code. The insurer is not a member of the property and casualty insurance guaranty association created under Insurance Code Chapter 462. Insurance Code Chapter 225 requires payment of a 4.85 percent tax on gross premium.</p>",
                            "instructions": "Each new or renewal insurance contract, certificate, cover note or other confirmation of insurance must state- Please select the appropriate notice per your policy specifications.",
                            "font_size": 11,
                            "color": "black",
                            "bold": false,
                            "italic": false
                          }
                        ],
                        "state_documents": [
                          {
                            "upload_required": true,
                            "name": "Policy",
                            "code": "POLIC",
                            "document_note": "Attach full policy including State Stamp wording.",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              }
                            ],
                            "document_download_link": null,
                            "last_edited_at": "2025-11-12",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Policy Documents",
                            "rpg": 2,
                            "ecp": 2,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": true,
                            "required_for_binding": false,
                            "include_with_policy": false,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Complaint Notice",
                            "code": "MISC",
                            "document_note": "The Complaint Notice is required to be included with the\r\nInsured’s copy of policies, binders, cover notes, etc.",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              }
                            ],
                            "document_download_link": "https://surpluslines.inscipher.com/doc/link/52002d3878ee1e9c1661d019a5603d62/2591398",
                            "last_edited_at": "2025-07-21",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Miscellaneous",
                            "rpg": 2,
                            "ecp": 2,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": true,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Exempt Commercial Purchaser (ECP) Form",
                            "code": "MISC",
                            "document_note": "To be completed and kept on file for ECP placements only.",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              }
                            ],
                            "document_download_link": null,
                            "last_edited_at": "2025-07-21",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Miscellaneous",
                            "rpg": 2,
                            "ecp": 1,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": false,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Required Disclosure for Occupational Policies",
                            "code": "RDOP",
                            "document_note": "An occupational policy shall include the following disclosure statement in 10-point boldface type on the first page of the policy and on the first page of all materials used in advertising or marketing the occupational policy to an employer that elects not to maintain workers' compensation insurance coverage under Chapter 406, Labor Code",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              }
                            ],
                            "document_download_link": "https://surpluslines.inscipher.com/doc/link/666002b6dab93a89f09d4f7c18065935/1328934",
                            "last_edited_at": "2025-07-21",
                            "date_active_from": "2022-01-01",
                            "date_active_to": null,
                            "document_group": "Miscellaneous",
                            "rpg": 2,
                            "ecp": 2,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": true,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
                            "upload_required": false,
                            "name": "Non-Texas Premium/Exempt Premium Allocation Form",
                            "code": "MISC",
                            "document_note": "According to the state of Texas \"The Non-Texas Premium/Exempt Premium Allocation form\" is needed to be filled out and kept with the policy on multiple state policies. All coverages for Property, Inland Marine, Auto-Physical Damage, Oil & Gas Property or Package, Special Events Property, Builders Risk Property or package, Aviation – Hull, cargo or package, Ocean Marine Hull, cargo or package and Credit, with locations in states outside Texas, require the breakdown of premium by state. If filing by EFS, entered with your transaction. If filing by mail/paper, it is required to be included with your filing.",
                            "transaction_types": [
                              {
                                "name": "New Policy",
                                "short_code": "PN"
                              },
                              {
                                "name": "Renewal Policy",
                                "short_code": "PR"
                              },
                              {
                                "name": "Additional Premium Endorsement",
                                "short_code": "APE"
                              },
                              {
                                "name": "Return Premium Endorsement",
                                "short_code": "RPE"
                              },
                              {
                                "name": "Audit Endorsement",
                                "short_code": "AE"
                              },
                              {
                                "name": "Flat Cancellation",
                                "short_code": "FC"
                              },
                              {
                                "name": "Pro Rata Cancellation",
                                "short_code": "PC"
                              },
                              {
                                "name": "Extension Endorsement",
                                "short_code": "XE"
                              },
                              {
                                "name": "Audit Return Premium Endorsement",
                                "short_code": "ARE"
                              },
                              {
                                "name": "Reinstatement",
                                "short_code": "RI"
                              },
                              {
                                "name": "Back-out / Reversal",
                                "short_code": "BO"
                              }
                            ],
                            "document_download_link": "https://surpluslines.inscipher.com/doc/link/e97400fa687ebec1af22ff3e299f91a2/2591445",
                            "last_edited_at": "2025-07-21",
                            "date_active_from": null,
                            "date_active_to": null,
                            "document_group": "Miscellaneous",
                            "rpg": 2,
                            "ecp": 2,
                            "exempt": 2,
                            "export_list": 2,
                            "required_for_filing": false,
                            "required_for_binding": false,
                            "include_with_policy": false,
                            "include_in_diligent_effort": false,
                            "keep_on_hand": true,
                            "signature_requirements": "None"
                          },
                          {
[...]
