{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://trevipay.app/api/v2"
    }
  ],
  "info": {
    "title": "TreviPay test",
    "version": "v2",
    "contact": {
      "name": "TreviPay API Support",
      "url": "https://www.trevipay.com/"
    },
    "description": "test"
  },
  "paths": {
    "/charges": {
      "post": {
        "summary": "Create a charge",
        "description": "By using either buyer_id OR card_token, capture an amount from the available credit. Optionally reference a pre-existing authorization.",
        "operationId": "testResponse",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Real Time Account Updater (RTAU) Results. Returns only if query string `AU` is present.",
                "properties": {
                  "reasonCode": {
                    "type": "string",
                    "description": "Always present when `AU` is requested. For more info on values, refer to [Account Updater Codes](/reference/account-updater).\n\n - `U`: Unsupported card brand (not Visa/MasterCard). No lookup performed; original card unchanged; no card object.  - ` ` (empty): RTAU completed and the network returned no reject reason (e.g., successful update / match).\n - other: Reject reason code returned by the card network's Account Updater service. TabaPay returns the value exactly as received. "
                  }
                }
              }
            }
          }
        },
        "responses": {
          "403": {
            "description": "Bad request\n\n| Error Code | Description |\n|---|---|\n| amount_mismatch | The amounts specified in the charge are not equal to the sum of the amounts in charge details |\n| buyer_currency_mismatch | The specified currency is not matched with buyer currency |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "TEST_RESPONSE_TABLE"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {},
    "responses": {},
    "schemas": {}
  }
}