{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://trevipay.app/api/v2"
    }
  ],
  "info": {
    "title": "TreviPay test",
    "version": "v2",
    "contact": {
      "name": "TreviPay API Support",
      "url": "https://www.trevipay.com/"
    },
    "description": "test"
  },
  "paths": {
    "/charges": {
      "post": {
        "summary": "Create a charge",
        "description": "By using either buyer_id OR card_token, capture an amount from the available credit. Optionally reference a pre-existing authorization.",
        "operationId": "testResponse",
        "responses": {
          "400": {
            "description": "Bad request <table> <tr><th>Error Code</th><th>Description</th></tr> <tr><td>amount_mismatch</td><td>The amounts specified in the charge are not equal to the sum of the amounts in charge details</td></tr> <tr><td>buyer_currency_mismatch</td><td>The specified currency is not matched with buyer currency</td></tr> <tr><td>buyer_mismatch</td><td>The buyer on the Credit charge does not match the buyer of the referenced Sale charge identified by previous_charge_id. The Credit charge must be issued by the same buyer as the original Sale charge</td></tr> <tr><td>cannot_override_payment_terms</td><td>The charge_payment_days needs to be a valid value and the buyer must not be consolidated</td></tr> <tr><td>charge_credit_is_not_supported</td><td>The charge type of credit is not supported</td></tr> <tr><td>currency_mismatch</td><td>The currency of the Credit charge does not match the currency of the referenced Sale charge via previous_charge_id</td></tr> <tr><td>detail_amount_mismatch</td><td>The amounts specified in the charge details are not equal to the subtotal of the detail in charge details</td></tr> <tr><td>deferred_processing_not_allowed</td><td>This program is not configured to allow deferred processing</td></tr> <tr><td>discount_amount_mismatch</td><td>The discount amount specified in the charge is not equal to the sum of the discount amount in charge details</td></tr> <tr><td>duplicate_charge_id</td><td>The provided id already exists. Use a unique charge ID</td></tr> <tr><td>invalid_authorization</td><td>Invalid authorization for the ID specified</td></tr> <tr><td>invalid_buyer</td><td>Buyer does not exist or inactive</td></tr> <tr><td>invalid_card_number</td><td>Card for the given card number does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_card_service_card_id</td><td>Card for the given card service card ID does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_card_token</td><td>Card for the given card token does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_charge_details_tax_details</td><td>Invalid charge.details.tax_details were supplied.</td></tr> <tr><td>invalid_country</td><td>invalid country code in the company address</td></tr> <tr><td>invalid_amount_for_credit</td><td>The total_amount specified for the credit transaction exceeds the remaining uncredited amount of the original charge. Credit amounts must be less than or equal to the uncredited portion of the referenced Sale charge</td></tr> <tr><td>invalid_customer_group_id</td><td>The customer_group_id that was provided is not associated with the buyer or does not exist</td></tr> <tr><td>invalid_input</td><td>One of the request inputs is not valid</td></tr> <tr><td>invalid_po</td><td>Purchase Order number is invalid or does not match expected format</td></tr> <tr><td>invalid_po_format</td><td>Purchase Order number format does not match policy rules</td></tr> <tr><td>invalid_po_not_unique</td><td>Purchase Order number is not unique</td></tr> <tr><td>invalid_program</td><td>Seller and Buyer are not in the same program</td></tr> <tr><td>invalid_previous_charge_id</td><td>The provided previous_charge_id is invalid. Ensure it is a correctly formatted UUID and references an existing charge in the system. When creating a Credit charge, the previous_charge_id must reference an existing Sale charge that is in a creditable state (e.g., status is not Rejected, Cancelled or Pending Payment)</td></tr> <tr><td>invalid_request_error</td><td>An unhandled error was received from the payment provider. See the `message` field for details.</td></tr> <tr><td>invalid_seller</td><td>Seller for the given ID does not exist or inactive</td></tr> <tr><td>invalid_shipping_amount</td><td>Shipping amount + shipping tax amount - shipping discount amount cannot be less than 0</td></tr> <tr><td>invoice_insured_auth_requires_preauthorization</td><td>When program.insured_auth_enabled is true, invoice can only be created with a preauthorization that has is_insured set to true</td></tr> <tr><td>missing_program</td><td>The associated Program was not found</td></tr> <tr><td>po_required</td><td>Purchase Order number is required</td></tr> <tr><td>pricing_errors</td><td>One or more of the charge details has a pricing validation error. Please check the response for specific details regarding the error</td></tr> <tr><td>program_credit_limit_exceeded</td><td>Credit charge exceeds the maximum allowed for this program.</td></tr> <tr><td>require_authorization</td><td>A valid authorization must be provided with the charge due to the requirement set on your program</td></tr> <tr><td>require_card_verification_value</td><td>card_verification_value is required when the charge does not have a valid authorization and is_card_present = false</td></tr> <tr><td>require_charge_details_tax_details</td><td>The invoice country require charge.details.tax_details</td></tr> <tr><td>require_is_card_present</td><td>is_card_present is required when the charge does not have a valid authorization</td></tr> <tr><td>require_item_code</td><td>When pricing is enabled, charge.details.item_code is required</td></tr> <tr><td>require_shipping_tax_details</td><td>The invoice country require charge.details.tax_details</td></tr> <tr><td>seller_mismatch</td><td>The seller on the Credit charge does not match the seller of the referenced Sale charge identified by previous_charge_id.  Or the provided buyer and seller combination is invalid.</td></tr> <tr><td>shipping_tax_amount_mismatch</td><td>The shipping tax amount specified in the charge is not equal to the sum of the tax amount in shipping tax details.</td></tr> <tr><td>tax_amount_mismatch</td><td>The tax amount specified in the charge is not equal to the sum of the tax amount in charge details</td></tr> <tr><td>unsupported_currency</td><td>The specified currency is not supported for the seller</td></tr> <tr><td>unsupported_operation</td><td>The operation needs to be enabled for the program</td></tr> <tr><td>validation.body_not_matching_json_schema</td><td>Request body failed JSON schema validation. The `validationErrors` property contain information regarding which parts of the payload not passing validation.</td></tr> <tr><td>validation.unsupported_media_type</td><td>Unsupported media type</td></tr> <tr><td>withhold_seller_amount_too_large</td><td>withhold_seller_amount is greater than the charge total_amount</td></tr> <tr><td>withhold_seller_amount_not_supported</td><td>Withholding seller amounts is not supported for this program</td></tr> </table>\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "401": {
            "description": "Bad request <table> <tr><th>Error Code</th><th>Description</th></tr> <tr><td>amount_mismatch</td><td>The amounts specified in the charge are not equal to the sum of the amounts in charge details</td></tr> <tr><td>buyer_currency_mismatch</td><td>The specified currency is not matched with buyer currency</td></tr> <tr><td>buyer_mismatch</td><td>The buyer on the Credit charge does not match the buyer of the referenced Sale charge identified by previous_charge_id. The Credit charge must be issued by the same buyer as the original Sale charge</td></tr> <tr><td>cannot_override_payment_terms</td><td>The charge_payment_days needs to be a valid value and the buyer must not be consolidated</td></tr> <tr><td>charge_credit_is_not_supported</td><td>The charge type of credit is not supported</td></tr> <tr><td>currency_mismatch</td><td>The currency of the Credit charge does not match the currency of the referenced Sale charge via previous_charge_id</td></tr> <tr><td>detail_amount_mismatch</td><td>The amounts specified in the charge details are not equal to the subtotal of the detail in charge details</td></tr> <tr><td>deferred_processing_not_allowed</td><td>This program is not configured to allow deferred processing</td></tr> <tr><td>discount_amount_mismatch</td><td>The discount amount specified in the charge is not equal to the sum of the discount amount in charge details</td></tr> <tr><td>duplicate_charge_id</td><td>The provided id already exists. Use a unique charge ID</td></tr> <tr><td>invalid_authorization</td><td>Invalid authorization for the ID specified</td></tr> <tr><td>invalid_buyer</td><td>Buyer does not exist or inactive</td></tr> <tr><td>invalid_card_number</td><td>Card for the given card number does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_card_service_card_id</td><td>Card for the given card service card ID does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_card_token</td><td>Card for the given card token does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_charge_details_tax_details</td><td>Invalid charge.details.tax_details were supplied.</td></tr> <tr><td>invalid_country</td><td>invalid country code in the company address</td></tr> <tr><td>invalid_amount_for_credit</td><td>The total_amount specified for the credit transaction exceeds the remaining uncredited amount of the original charge. Credit amounts must be less than or equal to the uncredited portion of the referenced Sale charge</td></tr> <tr><td>invalid_customer_group_id</td><td>The customer_group_id that was provided is not associated with the buyer or does not exist</td></tr> <tr><td>invalid_input</td><td>One of the request inputs is not valid</td></tr> <tr><td>invalid_po</td><td>Purchase Order number is invalid or does not match expected format</td></tr> <tr><td>invalid_po_format</td><td>Purchase Order number format does not match policy rules</td></tr> <tr><td>invalid_po_not_unique</td><td>Purchase Order number is not unique</td></tr> <tr><td>invalid_program</td><td>Seller and Buyer are not in the same program</td></tr> <tr><td>invalid_previous_charge_id</td><td>The provided previous_charge_id is invalid. Ensure it is a correctly formatted UUID and references an existing charge in the system. When creating a Credit charge, the previous_charge_id must reference an existing Sale charge that is in a creditable state (e.g., status is not Rejected, Cancelled or Pending Payment)</td></tr> <tr><td>invalid_request_error</td><td>An unhandled error was received from the payment provider. See the `message` field for details.</td></tr> <tr><td>invalid_seller</td><td>Seller for the given ID does not exist or inactive</td></tr> <tr><td>invalid_shipping_amount</td><td>Shipping amount + shipping tax amount - shipping discount amount cannot be less than 0</td></tr> <tr><td>invoice_insured_auth_requires_preauthorization</td><td>When program.insured_auth_enabled is true, invoice can only be created with a preauthorization that has is_insured set to true</td></tr> <tr><td>missing_program</td><td>The associated Program was not found</td></tr> <tr><td>po_required</td><td>Purchase Order number is required</td></tr> <tr><td>pricing_errors</td><td>One or more of the charge details has a pricing validation error. Please check the response for specific details regarding the error</td></tr> <tr><td>program_credit_limit_exceeded</td><td>Credit charge exceeds the maximum allowed for this program.</td></tr> <tr><td>require_authorization</td><td>A valid authorization must be provided with the charge due to the requirement set on your program</td></tr> <tr><td>require_card_verification_value</td><td>card_verification_value is required when the charge does not have a valid authorization and is_card_present = false</td></tr> <tr><td>require_charge_details_tax_details</td><td>The invoice country require charge.details.tax_details</td></tr> <tr><td>require_is_card_present</td><td>is_card_present is required when the charge does not have a valid authorization</td></tr> <tr><td>require_item_code</td><td>When pricing is enabled, charge.details.item_code is required</td></tr> <tr><td>require_shipping_tax_details</td><td>The invoice country require charge.details.tax_details</td></tr> <tr><td>seller_mismatch</td><td>The seller on the Credit charge does not match the seller of the referenced Sale charge identified by previous_charge_id. Or the provided buyer and seller combination is invalid.</td></tr> <tr><td>shipping_tax_amount_mismatch</td><td>The shipping tax amount specified in the charge is not equal to the sum of the tax amount in shipping tax details.</td></tr> <tr><td>tax_amount_mismatch</td><td>The tax amount specified in the charge is not equal to the sum of the tax amount in charge details</td></tr> <tr><td>unsupported_currency</td><td>The specified currency is not supported for the seller</td></tr> <tr><td>unsupported_operation</td><td>The operation needs to be enabled for the program</td></tr> <tr><td>validation.body_not_matching_json_schema</td><td>Request body failed JSON schema validation. The `validationErrors` property contain information regarding which parts of the payload not passing validation.</td></tr> <tr><td>validation.unsupported_media_type</td><td>Unsupported media type</td></tr> <tr><td>withhold_seller_amount_too_large</td><td>withhold_seller_amount is greater than the charge total_amount</td></tr> <tr><td>withhold_seller_amount_not_supported</td><td>Withholding seller amounts is not supported for this program</td></tr> </table>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "402": {
            "description": "<table> <tr><th>Error Code</th><th>Description</th></tr> <tr><td>amount_mismatch</td><td>The amounts specified in the charge are not equal to the sum of the amounts in charge details</td></tr> <tr><td>buyer_currency_mismatch</td><td>The specified currency is not matched with buyer currency</td></tr> <tr><td>buyer_mismatch</td><td>The buyer on the Credit charge does not match the buyer of the referenced Sale charge identified by previous_charge_id. The Credit charge must be issued by the same buyer as the original Sale charge</td></tr> <tr><td>cannot_override_payment_terms</td><td>The charge_payment_days needs to be a valid value and the buyer must not be consolidated</td></tr> <tr><td>charge_credit_is_not_supported</td><td>The charge type of credit is not supported</td></tr> <tr><td>currency_mismatch</td><td>The currency of the Credit charge does not match the currency of the referenced Sale charge via previous_charge_id</td></tr> <tr><td>detail_amount_mismatch</td><td>The amounts specified in the charge details are not equal to the subtotal of the detail in charge details</td></tr> <tr><td>deferred_processing_not_allowed</td><td>This program is not configured to allow deferred processing</td></tr> <tr><td>discount_amount_mismatch</td><td>The discount amount specified in the charge is not equal to the sum of the discount amount in charge details</td></tr> <tr><td>duplicate_charge_id</td><td>The provided id already exists. Use a unique charge ID</td></tr> <tr><td>invalid_authorization</td><td>Invalid authorization for the ID specified</td></tr> <tr><td>invalid_buyer</td><td>Buyer does not exist or inactive</td></tr> <tr><td>invalid_card_number</td><td>Card for the given card number does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_card_service_card_id</td><td>Card for the given card service card ID does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_card_token</td><td>Card for the given card token does not exist, is inactive, or has expired</td></tr> <tr><td>invalid_charge_details_tax_details</td><td>Invalid charge.details.tax_details were supplied.</td></tr> <tr><td>invalid_country</td><td>invalid country code in the company address</td></tr> <tr><td>invalid_amount_for_credit</td><td>The total_amount specified for the credit transaction exceeds the remaining uncredited amount of the original charge. Credit amounts must be less than or equal to the uncredited portion of the referenced Sale charge</td></tr> <tr><td>invalid_customer_group_id</td><td>The customer_group_id that was provided is not associated with the buyer or does not exist</td></tr> <tr><td>invalid_input</td><td>One of the request inputs is not valid</td></tr> <tr><td>invalid_po</td><td>Purchase Order number is invalid or does not match expected format</td></tr> <tr><td>invalid_po_format</td><td>Purchase Order number format does not match policy rules</td></tr> <tr><td>invalid_po_not_unique</td><td>Purchase Order number is not unique</td></tr> <tr><td>invalid_program</td><td>Seller and Buyer are not in the same program</td></tr> <tr><td>invalid_previous_charge_id</td><td>The provided previous_charge_id is invalid. Ensure it is a correctly formatted UUID and references an existing charge in the system. When creating a Credit charge, the previous_charge_id must reference an existing Sale charge that is in a creditable state (e.g., status is not Rejected, Cancelled or Pending Payment)</td></tr> <tr><td>invalid_request_error</td><td>An unhandled error was received from the payment provider. See the `message` field for details.</td></tr> <tr><td>invalid_seller</td><td>Seller for the given ID does not exist or inactive</td></tr> <tr><td>invalid_shipping_amount</td><td>Shipping amount + shipping tax amount - shipping discount amount cannot be less than 0</td></tr> <tr><td>invoice_insured_auth_requires_preauthorization</td><td>When program.insured_auth_enabled is true, invoice can only be created with a preauthorization that has is_insured set to true</td></tr> <tr><td>missing_program</td><td>The associated Program was not found</td></tr> <tr><td>po_required</td><td>Purchase Order number is required</td></tr> <tr><td>pricing_errors</td><td>One or more of the charge details has a pricing validation error. Please check the response for specific details regarding the error</td></tr> <tr><td>program_credit_limit_exceeded</td><td>Credit charge exceeds the maximum allowed for this program.</td></tr> <tr><td>require_authorization</td><td>A valid authorization must be provided with the charge due to the requirement set on your program</td></tr> <tr><td>require_card_verification_value</td><td>card_verification_value is required when the charge does not have a valid authorization and is_card_present = false</td></tr> <tr><td>require_charge_details_tax_details</td><td>The invoice country require charge.details.tax_details</td></tr> <tr><td>require_is_card_present</td><td>is_card_present is required when the charge does not have a valid authorization</td></tr> <tr><td>require_item_code</td><td>When pricing is enabled, charge.details.item_code is required</td></tr> <tr><td>require_shipping_tax_details</td><td>The invoice country require charge.details.tax_details</td></tr> <tr><td>seller_mismatch</td><td>The seller on the Credit charge does not match the seller of the referenced Sale charge identified by previous_charge_id. Or the provided buyer and seller combination is invalid.</td></tr> <tr><td>shipping_tax_amount_mismatch</td><td>The shipping tax amount specified in the charge is not equal to the sum of the tax amount in shipping tax details.</td></tr> <tr><td>tax_amount_mismatch</td><td>The tax amount specified in the charge is not equal to the sum of the tax amount in charge details</td></tr> <tr><td>unsupported_currency</td><td>The specified currency is not supported for the seller</td></tr> <tr><td>unsupported_operation</td><td>The operation needs to be enabled for the program</td></tr> <tr><td>validation.body_not_matching_json_schema</td><td>Request body failed JSON schema validation. The `validationErrors` property contain information regarding which parts of the payload not passing validation.</td></tr> <tr><td>validation.unsupported_media_type</td><td>Unsupported media type</td></tr> <tr><td>withhold_seller_amount_too_large</td><td>withhold_seller_amount is greater than the charge total_amount</td></tr> <tr><td>withhold_seller_amount_not_supported</td><td>Withholding seller amounts is not supported for this program</td></tr> </table>",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "403": {
            "description": "Bad request\n\n| Error Code | Description |\n|---|---|\n| amount_mismatch | The amounts specified in the charge are not equal to the sum of the amounts in charge details |\n| buyer_currency_mismatch | The specified currency is not matched with buyer currency |",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "tags": [
          "TEST_RESPONSE_TABLE"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {},
    "responses": {},
    "schemas": {}
  }
}