{
  "openapi": "3.0.3",
  "info": {
    "title": "Ochre General API",
    "version": "1.0.0",
    "description": "This document will expose all information related with all resources and actions.\n\n## Resource access\n\nAll endpoints are secured by default and can be accessed specifying a valid **access token** on every request.\n\nAccess tokens can be issued by the **Ochre Auth** service:\n\n-  https://auth.ochre.io/oauth2/token\n\nAll API requests need to include the *Authorization* header with the token of *Bearer* type.\n\n- Authorization: Bearer [access_token]\n\n### Sample call flow\n\n#### Fetch a new access token\n\n```\ncurl -X POST -d \"client_id=[as provided]&client_secret=[as provided]&grant_type=client_credentials\" https://auth.ochre.io/oauth2/token\n```\n\n- Access token TTL : 7200 seconds\n\n- A new token should be fetched upon expiration\n\n#### Call an API endpoint\n\n```\ncurl -X GET \\\n  https://api.ochre.io/v1/music/artists \\\n  -H 'Authorization: Bearer [stored from previous ochre auth call]' \\\n  -H 'Host: api.ochre.io'\n ```\n\n## Style guide\n\n* resources - `[api domain]/homepage/stores/{id}/[sub resources]`\n\n* url style - spinal-case ex: [api domain]/player/products/{id}/`sub-resources`\n\n* json properties style - camelCase\n\n## Verbs\n\n* POST = create\n\n* GET = Read\n\n* PUT = Update/Replace\n\n* PATCH = Update/Modify\n\n* DELETE = Delete\n\n## Status codes\n\n* detail the expected status code for each action according to the spec: https://tools.ietf.org/html/rfc7231\n\n## Custom headers\n\nLocation related information will be picked up and aggregated on every request. This will be used to expose the correspondent data formats like currency and item availability.\nFor server-to-server implementation that info needs to me mirrored from the original client request.\nThat can be done by specifying the following headers:\n\n* X-Client-IP\n\n* X-Client-Currency (ISO 4217)\n\n* X-Client-Country-Code2 (ISO Alpha-2)\n\n## Images\n\nAll endpoints that return images hosted by ochre will react to **image_size** *GET* param.\nThis will return all the images from a given response matching the size specified, if available.\nBy default the api will return small images.\n\n+ Sizes\n    + XL\n        + value: `xl`\n        + width: `2000`\n    + L\n        + value: `l`\n        + width: `1000`\n    + M\n        + value: `m`\n        + width: `500`\n    + XS\n        + value: `s`\n        + width: `250`\n    + XS\n        + value: `xs`\n        + width: `125`\n    + XXS\n        + value: `xxs`\n        + width: `80`\n\nSample request: `/music/releases/96596?image_size=m`\n\nThis will return the artwork as a 500x500 image"
  },
  "servers": [
    {
      "url": "https://api.ochre.io/v1"
    }
  ],
  "paths": {
    "/cms/spaces": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "totalResults": {
                          "type": "number"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "type": {
                            "type": "string"
                          },
                          "catalog": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "format": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "domain": {
                            "type": "string"
                          },
                          "tagLine": {
                            "type": "string"
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "owner": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "references": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string"
                                },
                                "resource": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "number"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "tagLine": {
                                      "type": "string"
                                    },
                                    "imageUrl": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "summary": {
                    "page": 1,
                    "limit": 10,
                    "totalPages": 1,
                    "totalResults": 1
                  },
                  "results": [
                    {
                      "id": 1,
                      "type": "store",
                      "catalog": {
                        "id": 1,
                        "name": "Bleep"
                      },
                      "format": "web",
                      "name": "Bleep",
                      "domain": "https://bleep.com",
                      "tagLine": "Bleep - music store",
                      "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png",
                      "owner": {
                        "id": 1,
                        "name": "Bleep Ltd"
                      },
                      "references": [
                        {
                          "type": "store",
                          "resource": {
                            "id": 1,
                            "title": "Bleep",
                            "tagLine": "Bleep - music store",
                            "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "Search",
        "operationId": "SearchSpaces",
        "description": "",
        "tags": [
          "CMS / Spaces"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "space name (starting by)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "space type\n\n+ `artist`\n\n+ `release`\n\n+ `label`\n\n+ `store`\n\n+ `generic` (default)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "description": "owner id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "owner_name",
            "in": "query",
            "description": "owner name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records per page.",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/spaces/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "type": {
                      "type": "string"
                    },
                    "catalog": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "format": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "domain": {
                      "type": "string"
                    },
                    "tagLine": {
                      "type": "string"
                    },
                    "imageUrl": {
                      "type": "string"
                    },
                    "owner": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "name": {
                          "type": "string"
                        }
                      }
                    },
                    "references": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "resource": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "tagLine": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "faviconUrl": {
                      "type": "string"
                    },
                    "touchiconUrl": {
                      "type": "string"
                    },
                    "metaDescription": {
                      "type": "string"
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "settings": {
                      "type": "object",
                      "properties": {
                        "invitational": {
                          "type": "boolean"
                        }
                      }
                    },
                    "hasNavigationItems": {
                      "type": "boolean"
                    },
                    "externalReferences": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "code": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "type",
                          "code",
                          "title",
                          "value"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "id": 1,
                  "type": "store",
                  "catalog": {
                    "id": 1,
                    "name": "Bleep"
                  },
                  "format": "web",
                  "name": "Bleep",
                  "domain": "https://bleep.com",
                  "tagLine": "Bleep - music store",
                  "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png",
                  "owner": {
                    "id": 1,
                    "name": "Bleep Ltd"
                  },
                  "references": [
                    {
                      "type": "store",
                      "resource": {
                        "id": 1,
                        "title": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    }
                  ],
                  "faviconUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sf/s/1-1.png",
                  "touchiconUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sf/s/1-1.png",
                  "metaDescription": "Bleep - We sell the best music from the best record labels and artists in the world. We specialise in finding the highest quality products regardless of format or genre. Including: Electronic Techno Electro House Experimental Grime Dubstep Hip Hop Alternative Indie and many more.",
                  "keywords": [
                    "store",
                    "ochre",
                    "music",
                    "physical",
                    "digital"
                  ],
                  "settings": {
                    "invitational": false
                  },
                  "hasNavigationItems": true,
                  "externalReferences": [
                    {
                      "type": "link",
                      "code": "facebook",
                      "title": "Facebook",
                      "value": "https://facebook.com/BleepBot"
                    },
                    {
                      "type": "account",
                      "code": "facebook",
                      "title": "Facebook",
                      "value": "93984092349032482"
                    },
                    {
                      "type": "link",
                      "code": "instagram",
                      "title": "Instagram",
                      "value": "http://instagram.com/bleep"
                    },
                    {
                      "type": "link",
                      "code": "twitter",
                      "title": "Twitter",
                      "value": "https://twitter.com/bleep"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "resource not found",
                  "code": 404
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "Get",
        "operationId": "GetSpace",
        "description": "",
        "tags": [
          "CMS / Spaces"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "space id",
            "required": true,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/spaces/{id}/navigation-items": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "totalResults": {
                          "type": "number"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "number"
                          },
                          "group": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string"
                              }
                            }
                          },
                          "title": {
                            "type": "string"
                          },
                          "target": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "resource": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "number"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "slug": {
                                    "type": "string"
                                  },
                                  "imageUrl": {
                                    "nullable": true
                                  }
                                }
                              }
                            }
                          },
                          "subItems": {
                            "type": "array",
                            "items": {}
                          }
                        },
                        "required": [
                          "position",
                          "group",
                          "title",
                          "target",
                          "subItems"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "summary": {
                    "page": 1,
                    "limit": 10,
                    "totalPages": 1,
                    "totalResults": 2
                  },
                  "results": [
                    {
                      "position": 1,
                      "group": {
                        "id": 1,
                        "name": "Main"
                      },
                      "title": "Featured",
                      "target": {
                        "id": "2",
                        "type": "view",
                        "resource": {
                          "id": 2,
                          "title": "Music",
                          "slug": "music",
                          "imageUrl": null
                        }
                      },
                      "subItems": []
                    },
                    {
                      "position": 2,
                      "group": {
                        "id": 1,
                        "name": "Main"
                      },
                      "title": "Genres",
                      "target": {
                        "id": "3",
                        "type": "view",
                        "resource": {
                          "id": 3,
                          "title": "Genres",
                          "slug": "genres",
                          "imageUrl": null
                        }
                      },
                      "subItems": []
                    }
                  ]
                }
              }
            }
          }
        },
        "summary": "List",
        "operationId": "ListSpaceNavigationItems",
        "description": "",
        "tags": [
          "CMS / Spaces"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "space id",
            "required": true,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records per page.",
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "group_id",
            "in": "query",
            "description": "navigation group id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/spaces/{id}/views": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "totalResults": {
                          "type": "number"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "nullable": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "slug": {
                            "nullable": true
                          },
                          "imageUrl": {
                            "nullable": true
                          },
                          "references": {
                            "type": "array",
                            "items": {}
                          },
                          "space": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "format": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "tagLine": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "description",
                          "type",
                          "slug",
                          "imageUrl",
                          "references",
                          "space"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "summary": {
                    "page": 1,
                    "limit": 10,
                    "totalPages": 1,
                    "totalResults": 7
                  },
                  "results": [
                    {
                      "id": 1,
                      "title": "Home",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 2,
                      "title": "Music",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 3,
                      "title": "Genres",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 4,
                      "title": "New Releases",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 5,
                      "title": "Pre-orders",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 6,
                      "title": "Newsletter",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 7,
                      "title": "Recommended",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "List",
        "operationId": "ListSpaceViews",
        "description": "",
        "tags": [
          "CMS / Spaces"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "space id",
            "required": true,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "view type\n\n+ `artist`\n\n+ `release`\n\n+ `homepage`\n\n+ `article`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference_type",
            "in": "query",
            "description": "reference type\n\n+ `artist`\n\n+ `release`\n\n+ `label`\n\n+ `store`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference_id",
            "in": "query",
            "description": "reference id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "view slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "view title (starting by)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records per page",
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/views": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "totalResults": {
                          "type": "number"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "description": {
                            "nullable": true
                          },
                          "type": {
                            "type": "string"
                          },
                          "slug": {
                            "nullable": true
                          },
                          "imageUrl": {
                            "nullable": true
                          },
                          "references": {
                            "type": "array",
                            "items": {}
                          },
                          "dateCreated": {
                            "type": "string"
                          },
                          "space": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "type": {
                                "type": "string"
                              },
                              "format": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "domain": {
                                "type": "string"
                              },
                              "tagLine": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "description",
                          "type",
                          "slug",
                          "imageUrl",
                          "references",
                          "dateCreated",
                          "space"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "summary": {
                    "page": 1,
                    "limit": 10,
                    "totalPages": 1,
                    "totalResults": 7
                  },
                  "results": [
                    {
                      "id": 1,
                      "title": "Home",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "dateCreated": "2014-11-27T14:19:13Z",
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 2,
                      "title": "Music",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "dateCreated": "2014-11-27T14:19:13Z",
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 3,
                      "title": "Genres",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "dateCreated": "2014-11-27T14:19:13Z",
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 4,
                      "title": "New Releases",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "dateCreated": "2014-11-27T14:19:13Z",
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 5,
                      "title": "Pre-orders",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "dateCreated": "2014-11-27T14:19:13Z",
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 6,
                      "title": "Newsletter",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "dateCreated": "2014-11-27T14:19:13Z",
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    },
                    {
                      "id": 7,
                      "title": "Recommended",
                      "description": null,
                      "type": "homepage",
                      "slug": null,
                      "imageUrl": null,
                      "references": [],
                      "dateCreated": "2014-11-27T14:19:13Z",
                      "space": {
                        "id": 1,
                        "type": "store",
                        "format": "web",
                        "name": "Bleep",
                        "domain": "https://bleep.com",
                        "tagLine": "Bleep - music store",
                        "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "Search",
        "operationId": "SearchViews",
        "description": "",
        "tags": [
          "CMS / Views"
        ],
        "parameters": [
          {
            "name": "space_id",
            "in": "query",
            "description": "space id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "view type\n\n+ `artist`\n\n+ `release`\n\n+ `homepage`\n\n+ `article`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference_type",
            "in": "query",
            "description": "reference type\n\n+ `artist`\n\n+ `release`\n\n+ `label`\n\n+ `store`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reference_id",
            "in": "query",
            "description": "reference id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "query",
            "description": "view slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "view title (starting by)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records per page",
            "schema": {
              "type": "string",
              "default": "10"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/views/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "title": {
                      "type": "string"
                    },
                    "description": {
                      "nullable": true
                    },
                    "type": {
                      "type": "string"
                    },
                    "slug": {
                      "nullable": true
                    },
                    "imageUrl": {
                      "nullable": true
                    },
                    "references": {
                      "type": "array",
                      "items": {}
                    },
                    "dateCreated": {
                      "type": "string"
                    },
                    "space": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "type": {
                          "type": "string"
                        },
                        "format": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "domain": {
                          "type": "string"
                        },
                        "tagLine": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "type": "string"
                        }
                      }
                    },
                    "ancestors": {
                      "type": "array",
                      "items": {}
                    },
                    "metatags": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string"
                          },
                          "value": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "value"
                        ]
                      }
                    },
                    "hasNavigationItems": {
                      "type": "boolean"
                    }
                  }
                },
                "example": {
                  "id": 1,
                  "title": "Home",
                  "description": null,
                  "type": "homepage",
                  "slug": null,
                  "imageUrl": null,
                  "references": [],
                  "dateCreated": "2014-11-27T14:19:13Z",
                  "space": {
                    "id": 1,
                    "type": "store",
                    "format": "web",
                    "name": "Bleep",
                    "domain": "https://bleep.com",
                    "tagLine": "Bleep - music store",
                    "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/sl/s/1-1.png"
                  },
                  "ancestors": [],
                  "metatags": [
                    {
                      "name": "og:title",
                      "value": "Bleep - Home"
                    },
                    {
                      "name": "og:description",
                      "value": "Bleep - We sell the best music from the best record labels and artists in the world. We specialise in finding the highest quality products regardless of format or genre. Including: Electronic Techno Electro House Experimental Grime Dubstep Hip Hop Alternative Indie and many more."
                    },
                    {
                      "name": "og:type",
                      "value": "website"
                    },
                    {
                      "name": "og:image",
                      "value": "https://d1rgjmn2wmqeif.cloudfront.net/st/s/1.png"
                    },
                    {
                      "name": "og:url",
                      "value": "/"
                    },
                    {
                      "name": "og:site_name",
                      "value": "Bleep"
                    }
                  ],
                  "hasNavigationItems": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "resource not found",
                  "code": 404
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "Get",
        "operationId": "GetView",
        "description": "",
        "tags": [
          "CMS / Views"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "view id",
            "required": true,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/views/{id}/modules": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "totalResults": {
                          "type": "number"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "size": {
                            "type": "string"
                          },
                          "stylingReference": {
                            "nullable": true
                          },
                          "itemCount": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "position": {
                            "type": "number"
                          },
                          "content": {
                            "nullable": true
                          },
                          "target": {
                            "nullable": true
                          },
                          "view": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "nullable": true
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "type",
                          "size",
                          "stylingReference",
                          "itemCount",
                          "description",
                          "position",
                          "content",
                          "target",
                          "view"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "summary": {
                    "page": 1,
                    "limit": 10,
                    "totalPages": 1,
                    "totalResults": 2
                  },
                  "results": [
                    {
                      "id": 1,
                      "title": "Album of the week",
                      "type": "banner",
                      "size": "large",
                      "stylingReference": null,
                      "itemCount": 0,
                      "description": "Blackest Ever Black's chief junglist Pessimist turns in an extended subzero excursion, picking over the bones of skeletal breakbeat and industrial techno to create the most vivid fever of what constitutes darkside drum & bass in 2017...",
                      "position": 1,
                      "content": null,
                      "target": null,
                      "view": {
                        "id": 1,
                        "title": "Home",
                        "slug": "home",
                        "imageUrl": null,
                        "type": "homepage"
                      }
                    },
                    {
                      "id": 2,
                      "title": "Recommended",
                      "type": "product-block",
                      "size": "medium",
                      "stylingReference": null,
                      "itemCount": 27,
                      "description": null,
                      "position": 2,
                      "content": null,
                      "target": null,
                      "view": {
                        "id": 1,
                        "title": "Home",
                        "slug": "home",
                        "imageUrl": null,
                        "type": "homepage"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "List",
        "operationId": "ListViewModules",
        "description": "",
        "tags": [
          "CMS / Views"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "page id",
            "required": true,
            "example": "1",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "module title (starting by)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "module type\n\n+ `product-block`\n\n+ `list`\n\n+ `text`\n\n+ `image`\n\n+ `video`\n\n+ `banner`\n\n+ `header`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records per page",
            "schema": {
              "type": "string",
              "default": "2"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/modules": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "totalResults": {
                          "type": "number"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "size": {
                            "type": "string"
                          },
                          "stylingReference": {
                            "nullable": true
                          },
                          "itemCount": {
                            "type": "number"
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "position": {
                            "type": "number"
                          },
                          "content": {
                            "nullable": true
                          },
                          "target": {
                            "nullable": true
                          },
                          "view": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "imageUrl": {
                                "nullable": true
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "type",
                          "size",
                          "stylingReference",
                          "itemCount",
                          "description",
                          "position",
                          "content",
                          "target",
                          "view"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "summary": {
                    "page": 1,
                    "limit": 10,
                    "totalPages": 1,
                    "totalResults": 2
                  },
                  "results": [
                    {
                      "id": 1,
                      "title": "Album of the week",
                      "type": "banner",
                      "size": "large",
                      "stylingReference": null,
                      "itemCount": 0,
                      "description": "Blackest Ever Black's chief junglist Pessimist turns in an extended subzero excursion, picking over the bones of skeletal breakbeat and industrial techno to create the most vivid fever of what constitutes darkside drum & bass in 2017...",
                      "position": 1,
                      "content": null,
                      "target": null,
                      "view": {
                        "id": 1,
                        "title": "Home",
                        "slug": "home",
                        "imageUrl": null,
                        "type": "homepage"
                      }
                    },
                    {
                      "id": 2,
                      "title": "Recommended",
                      "type": "product-block",
                      "size": "medium",
                      "stylingReference": null,
                      "itemCount": 27,
                      "description": null,
                      "position": 2,
                      "content": null,
                      "target": null,
                      "view": {
                        "id": 1,
                        "title": "Home",
                        "slug": "home",
                        "imageUrl": null,
                        "type": "homepage"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "Search",
        "operationId": "SearchModules",
        "description": "",
        "tags": [
          "CMS / Modules"
        ],
        "parameters": [
          {
            "name": "view_id",
            "in": "query",
            "description": "view id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "title",
            "in": "query",
            "description": "module title (starting by)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "module type\nModules available are:\n\n+ `product-block`\n\n+ `list`\n\n+ `text`\n\n+ `image`\n\n+ `video`\n\n+ `banner`\n\n+ `header`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
            "schema": {
              "type": "string",
              "default": "1"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "maximum number of records per page",
            "schema": {
              "type": "string",
              "default": "2"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/modules/{id}": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "number"
                    },
                    "title": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "size": {
                      "type": "string"
                    },
                    "stylingReference": {
                      "nullable": true
                    },
                    "itemCount": {
                      "type": "number"
                    },
                    "description": {
                      "nullable": true
                    },
                    "position": {
                      "type": "number"
                    },
                    "content": {
                      "nullable": true
                    },
                    "target": {
                      "nullable": true
                    },
                    "view": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "title": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "imageUrl": {
                          "nullable": true
                        },
                        "type": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "id": 3,
                  "title": "Recommended",
                  "type": "product-block",
                  "size": "medium",
                  "stylingReference": null,
                  "itemCount": 27,
                  "description": null,
                  "position": 2,
                  "content": null,
                  "target": null,
                  "view": {
                    "id": 1,
                    "title": "Home",
                    "slug": "home",
                    "imageUrl": null,
                    "type": "homepage"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "resource not found",
                  "code": 404
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "Get",
        "operationId": "GetModule",
        "description": "",
        "tags": [
          "CMS / Modules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "example": "3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "e.g. Bearer [token]",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "Bearer [token]"
          }
        ]
      }
    },
    "/cms/modules/{id}/content-items": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "page": {
                          "type": "number"
                        },
                        "limit": {
                          "type": "number"
                        },
                        "totalPages": {
                          "type": "number"
                        },
                        "totalResults": {
                          "type": "number"
                        }
                      }
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "nullable": true
                          },
                          "description": {
                            "nullable": true
                          },
                          "imageUrl": {
                            "type": "string"
                          },
                          "reference": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "resource": {
                                "type": "object",
                                "properties": {
                                  "artist": {
                                    "nullable": true
                                  },
                                  "id": {
                                    "type": "number"
                                  },
                                  "imageUrl": {
                                    "type": "string"
                                  },
                                  "images": {
                                    "type": "array",
                                    "items": {}
                                  },
                                  "label": {
                                    "nullable": true
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "type": {
                                    "type": "string"
                                  },
                                  "universe": {
                                    "type": "string"
                                  },
                                  "distribution": {
                                    "type": "string"
                                  },
                                  "format": {
                                    "type": "string"
                                  },
                                  "variant": {
                                    "type": "string"
                                  },
                                  "group": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "variantGroup": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "number"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "content",
                          "description",
                          "imageUrl",
                          "reference",
                          "title"
                        ]
                      }
                    }
                  }
                },
                "example": {
                  "summary": {
                    "page": 1,
                    "limit": 20,
                    "totalPages": 1,
                    "totalResults": 3
                  },
                  "results": [
                    {
                      "content": null,
                      "description": null,
                      "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/r/s/69701.jpg",
                      "reference": {
                        "id": 69701,
                        "resource": {
                          "artist": null,
                          "id": 69701,
                          "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/r/s/69701.jpg",
                          "images": [],
                          "label": null,
                          "title": "Mothers / Dark",
                          "type": "single"
                        },
                        "type": "release"
                      },
                      "title": "Mothers / Dark"
                    },
                    {
                      "content": null,
                      "description": null,
                      "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/r/s/65341.png",
                      "reference": {
                        "id": 65341,
                        "resource": {
                          "artist": null,
                          "id": 65341,
                          "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/r/s/65341.png",
                          "images": [],
                          "label": null,
                          "title": "Shinobi III- Return Of The Ninja Master",
                          "type": "album"
                        },
                        "type": "release"
                      },
                      "title": "Shinobi III- Return Of The Ninja Master"
                    },
                    {
                      "content": null,
                      "description": null,
                      "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/r/b/90434-1.jpg",
                      "reference": {
                        "id": 65341,
                        "resource": {
                          "id": 101,
                          "universe": "music",
                          "type": "release",
                          "distribution": "physical",
                          "format": "vinyl",
                          "variant": "12",
                          "title": "Pre Dawn / Indoors",
                          "imageUrl": "https://d1rgjmn2wmqeif.cloudfront.net/r/b/90434-1.jpg",
                          "images": [],
                          "group": {
                            "id": 66075,
                            "name": "Pre Dawn / Indoors"
                          },
                          "variantGroup": {
                            "id": 350798,
                            "name": "Vinyl"
                          }
                        },
                        "type": "product"
                      },
                      "title": "Pre Dawn / Indoors"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "bad request",
                  "code": 400
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "unauthorized",
                  "code": 401
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "code": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "error": "internal server error",
                  "code": 500
                }
              }
            }
          }
        },
        "summary": "List",
        "operationId": "ListModuleContentItems",
        "description": "",
        "tags": [
          "CMS / Modules"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "example": "3",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "page number",
[...]
