openapi: 3.1.0
info:
  title: IN-APP PAYMENTS_NEW
  description: StoreKit2 inapp connector
  version: 1.1.2
  contact:
    name: Cleeng
    url: https://cleeng.com
servers:
  - url: https://inapp.api.sandbox.cleeng.com/storekit2
    description: Sandbox
security:
  - sec0: []
paths:
  /purchases:
    post:
      operationId: register-apple-sk2-purchase
      summary: Register Apple SK2 purchase
      parameters:
        - name: Authorization
          in: header
          description: >-
            Can be used within both server-to-server and client integrations.
            Either a JWT or X-Publisher-Token header authorization is required,
            depending on how you integrate with Cleeng.
          schema:
            type: string
        - name: X-Publisher-Token
          in: header
          description: >-
            Can be used only within server-to-server integrations. Either a JWT
            or X-Publisher-Token header authorization is required, depending on
            how you integrate with Cleeng.
          schema:
            type: string
        - name: Correlation-Id
          in: header
          description: >-
            Correlation ID for the request, which is used to link the initial
            purchase registration or transfer request with the subsequent
            synchronization process. It is recommended to provide a
            Correlation-Id for easier tracking of requests.
          schema:
            type: string
        - name: X-Publisher-Id
          in: header
          description: Unique identifier for the publisher integrating with the API.
          required: true
          schema:
            type: integer
            format: int32
        - name: X-App-Version
          in: header
          description: Version of the publisher's application making the API request.
          schema:
            type: string
        - name: X-Device-Id
          in: header
          description: Unique identifier for the device making the request (if applicable).
          schema:
            type: string
        - name: X-Device-Type
          in: header
          description: Specifies the type of device the request is coming from.
          schema:
            type: string
        - name: X-User-Action
          in: header
          description: >-
            Specifies the action performed by the user in the publisher's
            application.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cleengCustomerId
                - transactionId
              properties:
                cleengCustomerId:
                  type: integer
                  description: >-
                    Cleeng's unique identifier for the customer who made the
                    purchase.
                transactionId:
                  type: string
                  description: >-
                    Apple's unique transaction identifier for the purchase. This
                    ID is used to verify the purchase with Apple and track its
                    status in Cleeng's system.
                ipAddress:
                  type: string
                  format: ipv4
                  description: >-
                    IP address of the customer who made the purchase. This
                    information will be stored in the user's profile as the IP
                    address of their latest activity.
      responses:
        '202':
          description: >-
            Accepted for processing. The synchronization process has been
            initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: >-
            Bad request. The request payload is invalid or missing required
            information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '409':
          description: >-
            Conflict. A synchronization process is already in progress for the
            given `transactionId`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateError'
        '422':
          description: >-
            Unprocessable entity. The request is well-formed but cannot be
            processed due to semantic errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: >-
            Internal server error. An unexpected error occurred while processing
            the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /purchases/transfers:
    post:
      operationId: transfer-apple-sk2-purchase
      summary: Transfer Apple SK2 purchase
      parameters:
        - name: Authorization
          in: header
          description: >-
            Can be used within both server-to-server and client integrations.
            Either a JWT or X-Publisher-Token header authorization is required,
            depending on how you integrate with Cleeng.
          schema:
            type: string
        - name: X-Publisher-Token
          in: header
          description: >-
            Can be used only within server-to-server integrations. Either a JWT
            or X-Publisher-Token header authorization is required, depending on
            how you integrate with Cleeng.
          schema:
            type: string
        - name: Correlation-Id
          in: header
          description: >-
            Correlation ID for the request, which is used to link the initial
            purchase registration or transfer request with the subsequent
            synchronization process. It is recommended to provide a
            Correlation-Id for easier tracking of requests.
          schema:
            type: string
        - name: X-Publisher-Id
          in: header
          description: Unique identifier for the publisher integrating with the API.
          required: true
          schema:
            type: integer
            format: int32
        - name: X-App-Version
          in: header
          description: Version of the publisher's application making the API request.
          schema:
            type: string
        - name: X-Device-Id
          in: header
          description: Unique identifier for the device making the request (if applicable).
          schema:
            type: string
        - name: X-Device-Type
          in: header
          description: Specifies the type of device the request is coming from.
          schema:
            type: string
        - name: X-User-Action
          in: header
          description: >-
            Specifies the action performed by the user in the publisher's
            application.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - targetCustomerId
                - transactionId
              properties:
                targetCustomerId:
                  type: integer
                  description: >-
                    Cleeng's unique identifier for the customer who will become
                    the new owner of the purchase after the transfer.
                transactionId:
                  type: string
                  description: >-
                    Apple's unique transaction identifier for the purchase to be
                    transferred. This ID is used to identify the purchase in
                    Cleeng's system.
                ipAddress:
                  type: string
                  format: ipv4
                  description: >-
                    IP address of the customer who requested the transfer. This
                    information will be stored in the user's profile as the IP
                    address of their latest activity.
      responses:
        '202':
          description: Accepted for processing. The transfer process has been initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: >-
            Bad request. The request payload is invalid or missing required
            information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '409':
          description: >-
            Conflict. A transfer process is already in progress for the given
            `transactionId`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateError'
        '422':
          description: >-
            Unprocessable entity. The request is well-formed but cannot be
            processed due to semantic errors.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: >-
            Internal server error. An unexpected error occurred while processing
            the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /purchases/synchronizations/{synchronizationId}:
    get:
      operationId: check-apple-sk2-purchase-synchronization-status
      summary: Check Apple SK2 purchase synchronization status
      parameters:
        - name: Authorization
          in: header
          description: >-
            Can be used within both server-to-server and client integrations.
            Either a JWT or X-Publisher-Token header authorization is required,
            depending on how you integrate with Cleeng.
          schema:
            type: string
        - name: synchronizationId
          in: path
          description: >-
            Unique identifier for the synchronization process. This ID is
            included in the response to the /purchases and /purchases/transfers
            endpoints. The synchronizationId will be the same as the
            Correlation-Id provided in the request header, if one is supplied.
            If no Correlation-Id is provided, a unique synchronizationId will be
            generated automatically.
          schema:
            type: string
          required: true
        - name: X-Publisher-Token
          in: header
          description: >-
            Can be used only within server-to-server integrations. Either a JWT
            or X-Publisher-Token header authorization is required, depending on
            how you integrate with Cleeng.
          schema:
            type: string
        - name: X-Publisher-Id
          in: header
          description: Unique identifier for the publisher integrating with the API.
          required: true
          schema:
            type: integer
            format: int32
        - name: X-App-Version
          in: header
          description: Version of the publisher's application making the API request.
          schema:
            type: string
        - name: X-Device-Id
          in: header
          description: Unique identifier for the device making the request (if applicable).
          schema:
            type: string
        - name: X-Device-Type
          in: header
          description: Specifies the type of device the request is coming from.
          schema:
            type: string
        - name: X-User-Action
          in: header
          description: >-
            Specifies the action performed by the user in the publisher's
            application.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SynchronizationStatus'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /purchase-validation:
    post:
      operationId: apple-storekit2
      summary: Apple StoreKit 2 [Deprecated]
      deprecated: true
      parameters:
        - name: JWT or X-Publisher-Token
          in: header
          description: >-
            Use either a JWT or X-Publisher-Token header authorization,
            depending on how you integrate with Cleeng (directly or through
            middleware). Please use JWT (Bearer) token to try out the endpoint
            in the API console in this documentation.
          required: true
          schema:
            type: string
        - name: Correlation-id
          in: header
          description: >-
            Internal identification number of the process. If not provided, it
            will be generated and returned in a response body. Format: uuid.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cleengCustomerId
                - originalTransactionId
              properties:
                cleengCustomerId:
                  type: number
                  description: Customer identifier at Cleeng.
                originalTransactionId:
                  type: string
                  description: >-
                    Original transaction identifier of a purchase returned from
                    Apple App Store. The value of originalTransactionId in the
                    payload should be taken from Apple StoreKit 2 transactionId.
                ipAddress:
                  type: string
                  description: Customer's IP address.
      responses:
        '202':
          description: Sent to SQS for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
  /purchase-status:
    get:
      operationId: check-apple-storekit2-purchase-status
      summary: Check Apple StoreKit 2 purchase status [Deprecated]
      deprecated: true
      parameters:
        - name: Authorization
          in: header
          description: JWT header authorization is required.
          required: true
          schema:
            type: string
        - name: correlationId
          in: query
          description: >-
            Internal identification number of the process. Generated during the
            initial purchase validation and returned via response body and
            inappPurchaseValidationSucceeded event.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - pending
                      - success
                      - failure
                required:
                  - status
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericError'
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: Authorization
      x-bearer-format: bearer
  schemas:
    correlationId:
      type: string
      maxLength: 256
      description: |
        Correlation ID provided in the initial request, which helps link the
        initial purchase registration or transfer request with the
        synchronization process. This ID is crucial for tracking the
        entire flow of a purchase or transfer operation, from the initial
        request to the final synchronization result.
    synchronizationId:
      type: string
      format: uuid
      examples:
        - e45211af-6360-4ff9-9a97-3f2392fe355e
      description: >
        Unique identifier for the synchronization process.

        This ID is included in the response to the `/purchases` and
        `/purchases/transfers` endpoints. It can be used to track the status of
        the asynchronous purchase synchronization or transfer process using the
        `/purchases/synchronizations/{synchronizationId}` endpoint.

        The `synchronizationId` will be the same as the `Correlation-Id`
        provided in the request header, if one is supplied. If no
        `Correlation-Id` is provided, a unique `synchronizationId` will be
        generated automatically.
    synchronizationResult:
      type: string
      enum:
        - RECEIVED_EXPIRED_PURCHASE
        - TRANSACTION_ID_NOT_FOUND
        - ACCESS_EXPIRED
        - OWNED_BY_ANOTHER_USER
        - SYNCHRONIZATION_UNPROCESSABLE
        - RESOURCE_TEMPORARY_LOCKED_FOR_PROCESSING
        - PRODUCT_TYPE_NOT_SUPPORTED
        - PURCHASE_RESTORED
        - PURCHASE_OWNERSHIP_TRANSFERRED
        - PURCHASE_SYNCHRONIZED
      description: >
        The result is only available when the synchronization status is
        `finalized`. There si not possibility to obtain it earlier in the
        process.

        The result of the purchase processing. Possible values:


        * **RECEIVED_EXPIRED_PURCHASE:** The purchase was already expired when
        received. This could be due to an old purchase being selected, an
        attempt to hack the system, or an application malfunction. The result is
        returned when user doesn't have access to the offer, the access was
        never assigned or was already terminated.

        * **TRANSACTION_ID_NOT_FOUND:** The transaction ID was not found in
        Apple's system. This could indicate an attempt to hack the system, a
        client app malfunction, or the purchase being cleared from the user's
        Apple account before it was registered.

        * **ACCESS_EXPIRED:** The purchase was successfully synchronized, but
        access to the offer was terminated in the synchronization process. This
        could be due to a wrongly selected purchase or the user not extending
        access to the Apple offer.

        * **OWNED_BY_ANOTHER_USER:** The purchase is already owned by another
        user in the system. A transfer needs to be made to grant access to the
        requesting user.

        * **SYNCHRONIZATION_UNPROCESSABLE:** An unexpected system behavior
        prevented the synchronization process. This likely requires escalation
        to support.

        * **RESOURCE_TEMPORARY_LOCKED_FOR_PROCESSING:** The resource is
        temporarily locked due to a concurrent request. Retrying the request
        later should resolve the issue.

        * **PRODUCT_TYPE_NOT_SUPPORTED:** The product type is not supported by
        the system. Offers settings should be changed to make sure only
        supported products are available. Retrying the request doesn't make any
        positive effect before fixing offers configuration on Apple side and
        mappings in Cleeng's Dashboard.

        * **PURCHASE_RESTORED:** A purchase was found in the system that was not
        assigned to the end-user. Having data available from the request, the
        purchase was transferred from the system's unidentified user to the real
        user from the request. Real user have now granted access to the offer.

        * **PURCHASE_OWNERSHIP_TRANSFERRED:** The purchase was successfully
        transferred to another user. The new user now has access to the offer.
        The situation can occur only between real users.

        * **PURCHASE_SYNCHRONIZED:** The purchase was successfully synchronized.
    GenericResponse:
      description: Response might be both a success or a rejection message
      type: object
      required:
        - message
        - synchronizationId
      properties:
        message:
          type: string
          examples:
            - Purchase accepted for processing
        synchronizationId:
          $ref: '#/components/schemas/synchronizationId'
    GenericError:
      type: object
      required:
        - message
        - code
      properties:
        message:
          type: string
        code:
          type: string
          examples:
            - S0001
            - REQ0001
    DuplicateError:
      type: object
      required:
        - message
        - code
        - correlationId
      properties:
        message:
          type: string
        code:
          type: string
          examples:
            - S0001
            - REQ0001
        synchronizationId:
          type: string
          format: uuid
          examples:
            - e45211af-6360-4ff9-9a97-3f2392fe355e
    SynchronizationStatus:
      type: object
      properties:
        status:
          type: string
          enum:
            - processing
            - retrying
            - finalized
          description: >
            The current status of the synchronization process. Possible values:

            * **processing:** The synchronization is in progress. The status
            will change to `finalized` once the process is complete and didn't
            faced any unexpected errors alongside.

            * **retrying:** The synchronization encountered an error and is
            being retried. This status may take a while before turning into
            `finalized`. Be aware that the process may fail after several
            retries and till won't finalize another requests will be rejected
            for the same `transactionId`.

            * **finalized:** The synchronization process has completed. The
            final result of the synchronization will be available in the
            `result` field. Another requests for the same `transactionId` can be
            accepted now.
        accessGranted:
          type: boolean
          description: >
            The field is available only when the synchronization status is
            `finalized`.

            The value is `true` if the user is entitled to the offer, `false`
            otherwise.
        offerId:
          type: string
          description: >
            The offer id associated with the purchase.

            The offer id will be available only if user is entitled to this
            specific offer.
        correlationId:
          $ref: '#/components/schemas/correlationId'
        result:
          $ref: '#/components/schemas/synchronizationResult'
      required:
        - status
    WebhookSynchronizationStatus:
      type: object
      properties:
        synchronizationId:
          $ref: '#/components/schemas/synchronizationId'
        correlationId:
          $ref: '#/components/schemas/correlationId'
        transaction:
          type: object
          properties:
            transactionId:
              type: string
            cleengCustomerId:
              type: number
            originalTransactionId:
              type: string
        accessGranted:
          type: boolean
          description: If the user is entitled to the offer
        offerId:
          type: string
          description: The offer id
        paymentMethodName:
          type: string
          description: The payment method name
        result:
          $ref: '#/components/schemas/synchronizationResult'
      required:
        - result
  parameters:
    authHeader:
      name: Authorization
      in: header
      schema:
        type: string
      example: Bearer {jwt}
      description: Can be used within both S2S and client integrations
    authToken:
      name: X-Publisher-Token
      in: header
      schema:
        type: string
      example: 1xIkSvpTa_l3VkywHBfyIkZmT7BMmHhM0yb0R8Jb533y
      description: Can be used only within S2S integration
    correlationHeader:
      name: Correlation-Id
      in: header
      required: false
      schema:
        $ref: '#/components/schemas/correlationId'
      description: |
        Correlation ID for the request, which is used to link the initial
        purchase registration or transfer request with the subsequent
        synchronization process. This ID is **not** used as the
        `synchronizationId` but is included in the response for tracking and
        correlation purposes.

        It is recommended to provide a `Correlation-Id` for easier tracking of
        requests, especially if you need to correlate the purchase
        registration with other events or processes in your system. Ensure
        that the `Correlation-Id` is unique within the context of your
        specific client integration to avoid conflicts.
    publisherIdHeader:
      name: X-Publisher-Id
      in: header
      required: true
      schema:
        type: number
      description: >
        **Unique identifier for the publisher integrating with the API.**


        This header is crucial for tracking the source of requests and
        identifying which publisher's application is making the API call. It
        helps in isolating issues, monitoring usage patterns, and providing
        targeted support to specific publishers.


        Ensure that each publisher using your API has a unique `X-Publisher-Id`
        assigned to them. This ID should be consistent across all requests made
        by that publisher.
    deviceIdHeader:
      name: X-Device-Id
      in: header
      required: false
      schema:
        type: string
        maxLength: 256
      description: >
        **Unique identifier for the device making the request (if applicable).**


        This header is useful for tracking requests at the device level,
        especially in mobile app integrations. It can help you identify issues
        related to specific devices, analyze user behavior across devices, and
        gather insights into device-specific usage patterns.
    deviceTypeHeader:
      name: X-Device-Type
      in: header
      required: false
      schema:
        type: string
        maxLength: 256
      example: Apple TV
      description: >
        **Specifies the type of device the request is coming from.**


        This header provides additional context about the device making the
        request, beyond just its unique ID. It helps you categorize devices
        (e.g., "iPhone 13", "Samsung Galaxy S21", "Web Browser") and identify
        potential issues or trends related to specific device types.


        This information can be particularly useful for debugging, as it allows
        you to narrow down issues that may be specific to certain device models
        or types. It also helps in understanding user behavior and preferences
        across different device categories.
    appVersionHeader:
      name: X-App-Version
      in: header
      required: false
      schema:
        type: string
        maxLength: 256
      description: >
        **Version of the publisher's application making the API request.**


        This header helps you track which versions of the publisher's app are
        being used and how they interact with your API. It can be valuable in
        identifying compatibility issues, understanding the impact of app
        updates on API usage, and providing support for different app versions.
    userActionHeader:
      name: X-User-Action
      in: header
      required: false
      schema:
        type: string
        maxLength: 256
      description: >
        **Specifies the action performed by the user in the publisher's
        application.**


        This header provides additional context about the user's actions within
        the app, such as "Purchase", "Restore Purchase", "Updating Plan",
        "Content Access", etc. It helps you understand user behavior, track
        specific actions that trigger API requests, and analyze usage patterns
        based on user actions.


        By capturing user actions in the app, you can gain insights into user
        engagement, preferences, and interactions with your API. This
        information can be valuable for optimizing the user experience,
        tailoring content recommendations, and improving app performance.
