{
  "openapi": "3.1.0",
  "info": {
    "title": "IN-APP PAYMENTS_NEW",
    "version": "2.1"
  },
  "servers": [
    {
      "url": "https://inapp.api.sandbox.cleeng.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "x-bearer-format": "bearer"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/samsung-tv/purchase-validation": {
      "post": {
        "summary": "Samsung TV",
        "description": "Use this endpoint to notify Cleeng about Samsung TV in-app payment and to validate the purchase. <br>  <br>Please note that **this endpoint can be authorized with a publisher (X-Publisher-Token) or JWT (Bearer) token **. Depending on how you integrate with Cleeng (directly or through middleware), use either a <<glossary:JWT>> or X-Publisher-Token header authorization. <br> <br> <span style=\"color:blue\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation**.</span>",
        "operationId": "samsung-tv",
        "parameters": [
          {
            "name": "JWT or X-Publisher-Token",
            "in": "header",
            "description": "Use **either** a <<glossary:JWT>> **or** X-Publisher-Token header authorization, depending on how you integrate with Cleeng (directly or through middleware). <span style=\"color:blue\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation.**</span>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-id",
            "in": "header",
            "description": "Internal identification number of the process. If not provided, it will be generated and returned in a response body. Format: uuid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cleengCustomerId",
                  "samsungInvoiceId",
                  "samsungCustomId",
                  "countryCode"
                ],
                "properties": {
                  "cleengCustomerId": {
                    "type": "integer",
                    "description": "Customer identifier at Cleeng.",
                    "format": "int32"
                  },
                  "samsungInvoiceId": {
                    "type": "string",
                    "description": "Invoice identifier - `invoiceId` field from Samsung purchase process. It is used as basis for purchase validation in Cleeng."
                  },
                  "samsungCustomId": {
                    "type": "string",
                    "description": "The identification number of a customer from Samsung system."
                  },
                  "countryCode": {
                    "type": "string",
                    "description": "Country code retrieved from TV."
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "Customer's IP address."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Accepted": {
                    "value": "{\n  \"message\": \"Receipt accepted for processing\",\n  \"data\": {\n    \"correlationId\": \"a12345bc-6789-1de2-3f45-6g7891hi234j\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Receipt accepted for processing"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "correlationId": {
                          "type": "string",
                          "example": "a12345bc-6789-1de2-3f45-6g7891hi234j"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "value": "{\n  \"message\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Unprocessable entity": {
                    "value": "{\n  \"message\": \"Customer not found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Customer not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "value": "{\n  \"message\": \"Internal server error\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/samsung-tv/purchase-status": {
      "get": {
        "summary": "Check Samsung TV purchase status",
        "description": "Use this endpoint to check the status of a Samsung TV in-app purchase. <br> The status returned in response can have three values: <br> <br> - `pending` - purchase is still being processed <br> - `success` - purchase processing has finished with a positive result <br> - `failure` - purchase processing has finished with a negative result, an error occurred during processing.  <br>  <br>Please note that <<glossary:JWT>> (Bearer) token authorization** should be used** for this endpoint.",
        "operationId": "check-samsung-tv-purchase-status",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "<<glossary:JWT>> header authorization is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "Internal identification number of the process. Generated during the initial purchase validation and returned via response body and [inappPurchaseValidationSucceeded](https://developers.cleeng.com/docs/webhooks-in-app-purchase-topics#inapppurchasevalidationsucceeded) event.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"status\": \"pending\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "pending"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "value": "{\n   \"code\": \"REQ0002\",\n   \"message\": \"Invalid query parameters\",\n   \"errors\": [\n       {\n           \"validation\": \"uuid\",\n           \"code\": \"invalid_string\",\n           \"message\": \"Invalid uuid\",\n           \"path\": [\n               \"correlationId\"\n           ]\n       }\n   ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "REQ0002"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid query parameters"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validation": {
                            "type": "string",
                            "example": "uuid"
                          },
                          "code": {
                            "type": "string",
                            "example": "invalid_string"
                          },
                          "message": {
                            "type": "string",
                            "example": "Invalid uuid"
                          },
                          "path": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "correlationId"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not found": {
                    "value": "{\n    \"code\": \"REQ0100\",\n    \"message\": \"Entity not found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "REQ0100"
                    },
                    "message": {
                      "type": "string",
                      "example": "Entity not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal Server Error": {
                    "value": "{\n  \"message\": \"Internal Server Error\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/storekit2/purchase-validation": {
      "post": {
        "summary": "Apple StoreKit 2 [Deprecated]",
        "description": "Use this endpoint to notify Cleeng about Apple StoreKit 2 in-app payment and to validate the purchase.  <br>  <br>Please note that **this endpoint can be authorized with a publisher (X-Publisher-Token) or JWT (Bearer) token**. Depending on how you integrate with Cleeng (directly or through middleware), use either a <<glossary:JWT>> or X-Publisher-Token header authorization. <br> <br> <span style=\"color:blue\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation**.</span>",
        "operationId": "apple-storekit2",
        "parameters": [
          {
            "name": "JWT or X-Publisher-Token",
            "in": "header",
            "description": "Use **either** a <<glossary:JWT>> **or** X-Publisher-Token header authorization, depending on how you integrate with Cleeng (directly or through middleware). <span style=\"color:blue\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation.**</span>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-id",
            "in": "header",
            "description": "Internal identification number of the process. If not provided, it will be generated and returned in a response body. Format: uuid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cleengCustomerId",
                  "originalTransactionId"
                ],
                "properties": {
                  "cleengCustomerId": {
                    "type": "integer",
                    "description": "Customer identifier at Cleeng.",
                    "format": "int32"
                  },
                  "originalTransactionId": {
                    "type": "string",
                    "description": "Original transaction identifier of a purchase returned from Apple App Store. The value of of `originalTransactionId` in the payload should be taken from Apple StoreKit 2 `transactionId`."
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "Customer's IP address."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Accepted": {
                    "value": "{\n  \"message\": \"Receipt accepted for processing\",\n  \"data\": {\n    \"correlationId\": \"a12345bc-6789-1de2-3f45-6g7891hi234j\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Receipt accepted for processing"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "correlationId": {
                          "type": "string",
                          "example": "a12345bc-6789-1de2-3f45-6g7891hi234j"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "value": "{\n  \"message\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Unprocessable entity": {
                    "value": "{\n  \"message\": \"Customer not found\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Customer not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "value": "{\n  \"message\": \"Internal server error\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/storekit2/purchases": {
      "post": {
        "summary": "Register Apple SK2 purchase",
        "description": "Use this endpoint to register a purchase made via Apple StoreKit2 to initiate an asynchronous  synchronization process. This process involves verifying the purchase with Apple and updating the user's entitlement status in Cleeng's system. <br><br> Due to the time required for Apple's verification, this operation is asynchronous. Upon successful registration, the API will return a `202` `Accepted` status with a unique `synchronizationId` in the response body. <br><br> The `cleengCustomerId` is used to identify the user in Cleeng's system and associate the purchase with their account. <br><br> **Important:** Only one synchronization process can be active for a given `transactionId` at a time. If a new request is made for the same `transactionId` while a previous synchronization is still in progress, a `409` `Conflict` error will be returned.    <br><br>Please note that **this endpoint can be authorized with a publisher (X-Publisher-Token) or JWT (Bearer) token**. Depending on how you integrate with Cleeng (directly or through middleware), use either a <<glossary:JWT>> or X-Publisher-Token header authorization. <br> <br> <span style=\"color:green\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation**.</span>",
        "operationId": "register-apple-sk2-purchase",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Can be used within both server-to-server and client integrations. **Either** a <<glossary:JWT>> **or** X-Publisher-Token header authorization **is required**, depending on how you integrate with Cleeng. <br> <span style=\"color:green\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation.**</span>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Publisher-Token",
            "in": "header",
            "description": "Can be used only within server-to-server integrations. **Either** a <<glossary:JWT>> **or** X-Publisher-Token header authorization **is required**, depending on how you integrate with Cleeng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Correlation ID for the request, which is used to link the initial purchase registration or transfer request with the subsequent synchronization process. This ID is **not** used as the `synchronizationId` but is included in the response for tracking and correlation purposes. <br><br> It is recommended to provide a `Correlation-Id` for easier tracking of requests, especially if you need to correlate the purchase registration with other events or processes in your system. Ensure that the `Correlation-Id` is unique within the context of your specific client integration to avoid conflicts.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Publisher-Id",
            "in": "header",
            "description": "**Unique identifier for the publisher integrating with the API.** <br> This header is crucial for tracking the source of requests and identifying which publisher's application is making the API call. It helps in isolating issues, monitoring usage patterns, and providing targeted support to specific publishers.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-App-Version",
            "in": "header",
            "description": "**Version of the publisher's application making the API request.** <br> This header helps you track which versions of the publisher's app are being used and how they interact with Cleeng API. It can be valuable in identifying compatibility issues, understanding the impact of app updates on API usage, and providing support for different app versions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Device-Id",
            "in": "header",
            "description": "**Unique identifier for the device making the request (if applicable).** <br> This header is useful for tracking requests at the device level, especially in mobile app integrations. It can help you identify issues related to specific devices, analyze user behavior across devices, and gather insights into device-specific usage patterns.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Device-Type",
            "in": "header",
            "description": "**Specifies the type of device the request is coming from.** <br> This header provides additional context about the device making the request, beyond just its unique ID. It helps you categorize devices (e.g., \"iPhone 13\", \"Samsung Galaxy S21\", \"Web Browser\") and identify potential issues or trends related to specific device types. <br><br> This information can be particularly useful for debugging, as it allows you to narrow down issues that may be specific to certain device models or types. It also helps in understanding user behavior and preferences across different device categories. Example: Apple TV",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Action",
            "in": "header",
            "description": "**Specifies the action performed by the user in the publisher's application.** <br> This header provides additional context about the user's actions within the app, such as \"Purchase\", \"Restore Purchase\", \"Updating Plan\", \"Content Access\", etc. It helps you understand user behavior, track specific actions that trigger API requests, and analyze usage patterns based on user actions. <br><br> By capturing user actions in the app, you can gain insights into user engagement, preferences, and interactions with your API. This information can be valuable for optimizing the user experience, tailoring content recommendations, and improving app performance.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cleengCustomerId",
                  "transactionId"
                ],
                "properties": {
                  "cleengCustomerId": {
                    "type": "integer",
                    "description": "Cleeng's unique identifier for the customer who made the purchase.",
                    "format": "int32"
                  },
                  "transactionId": {
                    "type": "string",
                    "description": "Apple's unique transaction identifier for the purchase. This ID is used to verify the purchase with Apple and track its status in Cleeng's system."
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "IP address of the customer who made the purchase. This information will be stored in the user's profile as the IP address of their latest activity. Accepted: IPv4. <br><br> The parameter **is required** in backend intergrations (with middleware) to ensure the correct customer IP address (address of their latest activity) is stored"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Accepted for processing": {
                    "value": "{\n  \"message\": \"Purchase accepted for processing\",\n  \"data\": {\n    \"synchronizationId\": \"a12345ab-1234-1ab1-1a12-1a1234ab123a\"\n  },\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "value": "{\n  \"message\": \"string\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Conflict": {
                    "value": "{\n  \"message\": \"string\",\n  \"code\": \"string\",\n  \"synchronizationId\": \"a12345ab-1234-1ab1-1a12-1a1234ab123a\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "synchronizationId": {
                      "type": "string",
                      "example": "a12345ab-1234-1ab1-1a12-1a1234ab123a"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Unprocessable entity": {
                    "value": "{\n  \"message\": \"string\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "value": "{\n    \"message\": \"string\",\n    \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/storekit2/purchases/transfers": {
      "post": {
        "summary": "Transfer Apple SK2 purchase",
        "description": "Use this endpoint to transfer an existing **active** purchase from one user to another. This allows re-assigning access to a subscription or in-app purchase.  <br><br> The transfer process is asynchronous. Upon successful registration, the API will return a `202` `Accepted` status with a unique `synchronizationId` in the response body. <br><br> **Note:** Only active purchases can be transferred.  <br><br>Please note that **this endpoint can be authorized with a publisher (X-Publisher-Token) or JWT (Bearer) token**. Depending on how you integrate with Cleeng (directly or through middleware), use either a <<glossary:JWT>> or X-Publisher-Token header authorization. <br> <br> <span style=\"color:green\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation**.</span>",
        "operationId": "transfer-apple-sk2-purchase",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Can be used within both server-to-server and client integrations. **Either** a <<glossary:JWT>> **or** X-Publisher-Token header authorization **is required**, depending on how you integrate with Cleeng. <br> <span style=\"color:green\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation.**</span>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Publisher-Token",
            "in": "header",
            "description": "Can be used only within server-to-server integrations. **Either** a JWT **or** X-Publisher-Token header authorization **is required**, depending on how you integrate with Cleeng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-Id",
            "in": "header",
            "description": "Correlation ID for the request, which is used to link the initial purchase registration or transfer request with the subsequent synchronization process. This ID is **not** used as the `synchronizationId` but is included in the response for tracking and correlation purposes. <br><br>  It is recommended to provide a `Correlation-Id` for easier tracking of requests, especially if you need to correlate the purchase registration with other events or processes in your system. Ensure that the `Correlation-Id` is unique within the context of your specific client integration to avoid conflicts.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Publisher-Id",
            "in": "header",
            "description": "**Unique identifier for the publisher integrating with the API.** <br> This header is crucial for tracking the source of requests and identifying which publisher's application is making the API call. It helps in isolating issues, monitoring usage patterns, and providing targeted support to specific publishers.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-App-Version",
            "in": "header",
            "description": "**Version of the publisher's application making the API request.** <br> This header helps you track which versions of the publisher's app are being used and how they interact with Cleeng API. It can be valuable in identifying compatibility issues, understanding the impact of app updates on API usage, and providing support for different app versions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Device-Id",
            "in": "header",
            "description": "**Unique identifier for the device making the request (if applicable).** <br> This header is useful for tracking requests at the device level, especially in mobile app integrations. It can help you identify issues related to specific devices, analyze user behavior across devices, and gather insights into device-specific usage patterns.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Device-Type",
            "in": "header",
            "description": "**Specifies the type of device the request is coming from.** <br> This header provides additional context about the device making the request, beyond just its unique ID. It helps you categorize devices (e.g., \"iPhone 13\", \"Samsung Galaxy S21\", \"Web Browser\") and identify potential issues or trends related to specific device types. <br><br> This information can be particularly useful for debugging, as it allows you to narrow down issues that may be specific to certain device models or types. It also helps in understanding user behavior and preferences across different device categories.  Example: Apple TV",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Action",
            "in": "header",
            "description": "**Specifies the action performed by the user in the publisher's application.** <br> This header provides additional context about the user's actions within the app, such as \"Purchase\", \"Restore Purchase\", \"Updating Plan\", \"Content Access\", etc. It helps you understand user behavior, track specific actions that trigger API requests, and analyze usage patterns based on user actions. <br><br> By capturing user actions in the app, you can gain insights into user engagement, preferences, and interactions with your API. This information can be valuable for optimizing the user experience, tailoring content recommendations, and improving app performance.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "targetCustomerId",
                  "transactionId"
                ],
                "properties": {
                  "targetCustomerId": {
                    "type": "integer",
                    "description": "Cleeng's unique identifier for the customer who will become the new owner of the purchase after the transfer.",
                    "format": "int32"
                  },
                  "transactionId": {
                    "type": "string",
                    "description": "Apple's unique transaction identifier for the purchase to be transferred. This ID is used to identify the purchase in Cleeng's system."
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "IP address of the customer who requested the transfer. This information will be stored in the user's profile as the IP address of their latest activity. Accepted: IPv4 <br><br> The parameter is required in backend intergrations (with middleware) to ensure the correct customer IP address (address of their latest activity) is stored."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202",
            "content": {
              "application/json": {
                "examples": {
                  "Accepted for processing": {
                    "value": "{\n  \"message\": \"Purchase accepted for processing\",\n  \"data\": {\n    \"synchronizationId\": \"a12345ab-1234-1ab1-1a12-1a1234ab123a\"\n  },\n}"
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "value": "{\n  \"message\": \"string\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "409",
            "content": {
              "application/json": {
                "examples": {
                  "Conflict": {
                    "value": "{\n  \"message\": \"string\",\n  \"code\": \"string\",\n  \"synchronizationId\": \"a12345ab-1234-1ab1-1a12-1a1234ab123a\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "synchronizationId": {
                      "type": "string",
                      "example": "a12345ab-1234-1ab1-1a12-1a1234ab123a"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Unprocessable entity": {
                    "value": "{\n  \"message\": \"string\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "value": "{\n    \"message\": \"string\",\n    \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/storekit2/purchases/synchronizations/{synchronizationId}": {
      "get": {
        "summary": "Check Apple SK2 purchase synchronization status",
        "description": "Use this endpoint to retrieve the status and result of a purchase synchronization or transfer process initiated by the [/purchases](https://developers.cleeng.com/reference/register-apple-storekit-2-purchase) or [/purchases/transfers](https://developers.cleeng.com/reference/transfer-apple-sk2-purchase) endpoint. This endpoint provides a concise response with the essential status information, including `status`, `accessGranted`, `offerId`, and `result`. <br><br> The status field indicates the current stage of the synchronization process: <br> - `processing`: The synchronization is in progress.  <br> - `retrying:` The synchronization encountered an error and is being retried. This status may appear multiple times. <br> - `finalized:` The synchronization process has completed. <br><br> The `result` field provides more detailed information about the outcome of the synchronization and is only available when `status` is `finalized`. The `accessGranted` field indicates whether the user is entitled to the offer. The `offerId` field provides the ID of the offer. You can see some possible scenarios and the corresponding response fields in the [polling](https://developers.cleeng.com/docs/apple-in-app-purchase-storekit-2#polling) section of the integration tutorial. <br><br>Please note that **this endpoint can be authorized with a publisher (X-Publisher-Token) or JWT (Bearer) token**. Depending on how you integrate with Cleeng (directly or through middleware), use either a <<glossary:JWT>> or X-Publisher-Token header authorization. <br> <br> <span style=\"color:green\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation**.</span>",
        "operationId": "check-apple-sk2-purchase-synchronization-status",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "Can be used within both server-to-server and client integrations. **Either** a <<glossary:JWT>> **or** X-Publisher-Token header authorization **is required**, depending on how you integrate with Cleeng. <br> <span style=\"color:green\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation.**</span>",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "synchronizationId",
            "in": "path",
            "description": "Unique identifier for the synchronization process. This ID is included in the response to the [/purchases](https://developers.cleeng.com/reference/register-apple-sk2-purchase) and [/purchases/transfers](https://developers.cleeng.com/reference/transfer-apple-sk2-purchase) endpoints. It can be used to track the status of the asynchronous purchase synchronization or transfer process using the `/purchases/synchronizations/{synchronizationId}` endpoint. The `synchronizationId` will be the same as the `Correlation-Id` provided in the request header, if one is supplied. If no `Correlation-Id` is provided, a unique `synchronizationId` will be generated automatically. Format: uuid.",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "X-Publisher-Token",
            "in": "header",
            "description": "Can be used only within server-to-server integrations. **Either** a JWT or X-Publisher-Token header authorization **is required**, depending on how you integrate with Cleeng.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Publisher-Id",
            "in": "header",
            "description": "**Unique identifier for the publisher integrating with the API.** <br> This header is crucial for tracking the source of requests and identifying which publisher's application is making the API call. It helps in isolating issues, monitoring usage patterns, and providing targeted support to specific publishers.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "X-App-Version",
            "in": "header",
            "description": "**Version of the publisher's application making the API request.** <br> This header helps you track which versions of the publisher's app are being used and how they interact with Cleeng API. It can be valuable in identifying compatibility issues, understanding the impact of app updates on API usage, and providing support for different app versions.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Device-Id",
            "in": "header",
            "description": "**Unique identifier for the device making the request (if applicable).** <br> This header is useful for tracking requests at the device level, especially in mobile app integrations. It can help you identify issues related to specific devices, analyze user behavior across devices, and gather insights into device-specific usage patterns.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Device-Type",
            "in": "header",
            "description": "**Specifies the type of device the request is coming from.** <br> This header provides additional context about the device making the request, beyond just its unique ID. It helps you categorize devices (e.g., \"iPhone 13\", \"Samsung Galaxy S21\", \"Web Browser\") and identify potential issues or trends related to specific device types. <br><br> This information can be particularly useful for debugging, as it allows you to narrow down issues that may be specific to certain device models or types. It also helps in understanding user behavior and preferences across different device categories.  Example: Apple TV",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-User-Action",
            "in": "header",
            "description": "**Specifies the action performed by the user in the publisher's application.** <br> This header provides additional context about the user's actions within the app, such as \"Purchase\", \"Restore Purchase\", \"Updating Plan\", \"Content Access\", etc. It helps you understand user behavior, track specific actions that trigger API requests, and analyze usage patterns based on user actions. <br><br> By capturing user actions in the app, you can gain insights into user engagement, preferences, and interactions with your API. This information can be valuable for optimizing the user experience, tailoring content recommendations, and improving app performance.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"status\": \"processing\",\n  \"accessGranted\": true,\n  \"offerId\": \"string\",\n  \"correlationId\": \"string\",\n  \"result\": \"RECEIVED_EXPIRED_PURCHASE\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "processing"
                    },
                    "accessGranted": {
                      "type": "boolean",
                      "example": true,
                      "default": true
                    },
                    "offerId": {
                      "type": "string",
                      "example": "string"
                    },
                    "correlationId": {
                      "type": "string",
                      "example": "string"
                    },
                    "result": {
                      "type": "string",
                      "example": "RECEIVED_EXPIRED_PURCHASE"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "value": "{\n  \"message\": \"string\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not found": {
                    "value": "{\n  \"message\": \"string\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "value": "{\n    \"message\": \"string\",\n    \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/storekit2/purchase-status": {
      "get": {
        "summary": "Check Apple StoreKit 2 purchase status [Deprecated]",
        "description": "Use this endpoint to check the status of an Apple StoreKit 2 in-app purchase. <br> The status returned in response can have three values: <br> <br> - `pending` - purchase is still being processed <br> - `success` - purchase processing has finished with a positive result <br> - `failure` - purchase processing has finished with a negative result, an error occurred during processing.<br>  <br>Please note that <<glossary:JWT>> (Bearer) token authorization** should be used** for this endpoint.",
        "operationId": "check-apple-storekit2-purchase-status",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "<<glossary:JWT>> header authorization is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "Internal identification number of the process. Generated during the initial purchase validation and returned via response body and [inappPurchaseValidationSucceeded](https://developers.cleeng.com/docs/webhooks-in-app-purchase-topics#inapppurchasevalidationsucceeded) event.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"status\": \"success\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Bad request": {
                    "value": "{\n    \"errorCode\": \"REQ0002\",\n    \"message\": \"Invalid query parameters\",\n    \"errors\": [\n        {\n            \"validation\": \"uuid\",\n            \"code\": \"invalid_string\",\n            \"message\": \"Invalid uuid\",\n            \"path\": [\n                \"queryStringParameters\",\n                \"correlationId\"\n            ]\n        }\n    ]\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "errorCode": {
                      "type": "string",
                      "example": "REQ0002"
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid query parameters"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validation": {
                            "type": "string",
                            "example": "uuid"
                          },
                          "code": {
                            "type": "string",
                            "example": "invalid_string"
                          },
                          "message": {
                            "type": "string",
                            "example": "Invalid uuid"
                          },
                          "path": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "queryStringParameters"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not found": {
                    "value": "{\n    \"message\": \"Entity not found\",\n    \"code\": \"REQ0100\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Entity not found"
                    },
                    "code": {
                      "type": "string",
                      "example": "REQ0100"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal Server Error": {
                    "value": "{\n  \"message\": \"Internal Server Error\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/vizio/purchase-validation": {
      "post": {
        "summary": "Vizio [Beta]",
        "description": "Use this endpoint to notify Cleeng about Vizio in-app payment and to validate the purchase. <br>  <br>Please note that **this endpoint can be authorized with a publisher (X-Publisher-Token) or JWT (Bearer) token**. Depending on how you integrate with Cleeng (directly or through middleware), use either a <<glossary:JWT>> or X-Publisher-Token header authorization. <br> <br> <span style=\"color:blue\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation**.</span>",
        "operationId": "vizio-purchase-validation",
        "parameters": [
          {
            "name": "JWT or X-Publisher-Token",
            "in": "header",
            "description": "Use **either** a <<glossary:JWT>> **or** X-Publisher-Token header authorization, depending on how you integrate with Cleeng (directly or through middleware). <span style=\"color:blue\">**Please use JWT (Bearer) token to try out the endpoint in the API console in this documentation.**</span>",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Correlation-id",
            "in": "header",
            "description": "Internal identification number of the process. If not provided, it will be generated and returned in a response body. Format: uuid.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "cleengCustomerId",
                  "vizioSubscriptionId"
                ],
                "properties": {
                  "cleengCustomerId": {
                    "type": "integer",
                    "description": "Customer identifier at Cleeng.",
                    "format": "int32"
                  },
                  "vizioSubscriptionId": {
                    "type": "string",
                    "description": "Subscription identifier at Vizio."
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "Customer's IP address."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"message\": \"Purchase validated and accepted for processing\",\n  \"data\": {\n\t\"correlationId\": \"a11111aa-1111-1aa1-1a11-1a1111aa111a\"\n  }\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Purchase validated and accepted for processing"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "correlationId": {
                          "type": "string",
                          "example": "a11111aa-1111-1aa1-1a11-1a1111aa111a"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal server error": {
                    "value": "{\n   \"code\": \"string\",\n   \"message\": \"Internal Server Error\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/vizio/purchase-status": {
      "get": {
        "summary": "Check Vizio purchase status [Beta]",
        "description": "Use this endpoint to check the status of a Vizio in-app purchase. <br> The status returned in response can have three values: <br> <br> - `pending` - purchase is still being processed <br> - `success` - purchase processing has finished with a positive result <br> - `failure` - purchase processing has finished with a negative result, an error occurred during processing.<br>  <br>Please note that <<glossary:JWT>> (Bearer) token authorization** should be used** for this endpoint.",
        "operationId": "check-vizio-purchase-status",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "<<glossary:JWT>> header authorization is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "Internal identification number of the process. Generated during the initial purchase validation and returned via response body and [inappPurchaseValidationSucceeded](https://developers.cleeng.com/docs/webhooks-in-app-purchase-topics#inapppurchasevalidationsucceeded) event.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"status\": \"success\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not found": {
                    "value": "{\n    \"message\": \"Entity not found\",\n    \"code\": \"REQ0100\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Entity not found"
                    },
                    "code": {
                      "type": "string",
                      "example": "REQ0100"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal Server Error": {
                    "value": "{\n  \"message\": \"Internal Server Error\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/vizio/purchase-status (COPY)": {
      "get": {
        "summary": "Check Vizio purchase status [Beta] (COPY)",
        "description": "Use this endpoint to check the status of a Vizio in-app purchase. <br>  <br>Please note that <<glossary:JWT>> (Bearer) token authorization** should be used** for this endpoint. <br>> 🚧 Beta> > Please note that it is a [Beta](https://publisher.support.cleeng.com/hc/en-us/articles/10037994501532-Beta-Features-and-Releases) phase.",
        "operationId": "check-vizio-purchase-status-beta-copy",
        "parameters": [
          {
            "name": "JWT",
            "in": "header",
            "description": "<<glossary:JWT>> header authorization is required.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "correlationId",
            "in": "query",
            "description": "Internal identification number of the process. Generated during the initial purchase validation and returned via response body and [inappPurchaseValidationSucceeded](https://developers.cleeng.com/docs/webhooks-in-app-purchase-topics#inapppurchasevalidationsucceeded) event.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "OK": {
                    "value": "{\n  \"status\": \"success\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "404",
            "content": {
              "application/json": {
                "examples": {
                  "Not found": {
                    "value": "{\n    \"message\": \"Entity not found\",\n    \"code\": \"REQ0100\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Entity not found"
                    },
                    "code": {
                      "type": "string",
                      "example": "REQ0100"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "500",
            "content": {
              "application/json": {
                "examples": {
                  "Internal Server Error": {
                    "value": "{\n  \"message\": \"Internal Server Error\",\n  \"code\": \"string\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}