{
  "openapi": "3.0.1",
  "info": {
    "title": "\"DoiT Cloud Intelligence\"",
    "description": "Programmatic access to DoiT Platform",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.doit.com"
    }
  ],
  "security": [
    {
      "api_key": []
    },
    {
      "customerContext": [],
      "api_key": []
    }
  ],
  "tags": [
    {
      "name": "Alerts",
      "description": "Notifications triggered when cloud costs exceed defined thresholds or meet specific conditions."
    },
    {
      "name": "Annotations",
      "description": "Custom notes added to cost data to provide contextual information."
    },
    {
      "name": "Labels",
      "description": "Create and manage labels to organize and categorize your cloud resources."
    },
    {
      "name": "Reports Settings",
      "description": "Configure presentation settings for Cloud Analytics reports, including custom color themes."
    },
    {
      "name": "Allocations",
      "description": "Define how costs are distributed across your organization."
    },
    {
      "name": "Folders",
      "description": "Organize Cloud Analytics resources (reports, allocations) into folders."
    },
    {
      "name": "Budgets",
      "description": "Track actual cloud spend against planned spend."
    },
    {
      "name": "Dimensions",
      "description": "View available dimensions for analysis."
    },
    {
      "name": "Reports",
      "description": "Manage Cloud Analytics reports and get reports data in JSON format."
    },
    {
      "name": "Sharing",
      "description": "Manage permissions associated with specified Cloud Analytics resources."
    },
    {
      "name": "Anomalies",
      "description": "Monitor cost spikes in your cloud environment."
    },
    {
      "name": "Auth",
      "description": "User authentication."
    },
    {
      "name": "Assets",
      "description": "Manage cloud resources or services in your cloud environment."
    },
    {
      "name": "DataHub",
      "description": "Ingest third-party cost, usage, and metric-based data for analysis."
    },
    {
      "name": "Invoices",
      "description": "Access your current and historical billing documents."
    },
    {
      "name": "Cloud Incidents",
      "description": "Service disruptions and outages from cloud providers."
    },
    {
      "name": "Cloud Diagrams",
      "description": "Cloud Diagrams visualize your cloud infrastructure and resource relationships."
    },
    {
      "name": "AccountTeam",
      "description": "Find DoiT account managers assigned to your organization."
    },
    {
      "name": "Users",
      "description": "Manage users who have access to the DoiT platform."
    },
    {
      "name": "Roles",
      "description": "Manage user permissions and access levels in your organization."
    },
    {
      "name": "Organizations",
      "description": "Organizations help you segment data by your company or team structure."
    },
    {
      "name": "Platforms",
      "description": "Metadata about supported cloud providers."
    },
    {
      "name": "Products",
      "description": "Metadata about cloud services and offerings."
    },
    {
      "name": "Support Requests",
      "description": "Create and manage support tickets with DoiT."
    },
    {
      "name": "Commitment Manager",
      "description": "View and manage commitment contracts with DoiT."
    },
    {
      "name": "Ava",
      "description": "Interact with Ava, DoiT's AI-powered cloud assistant."
    },
    {
      "name": "Insights",
      "description": "Manage cloud insights representing recommendations and findings for cloud resources."
    },
    {
      "name": "Cloud Connect",
      "description": "Manage cloud provider connections and check feature availability for connected accounts."
    },
    {
      "name": "CloudFlow",
      "description": "Manage CloudFlow."
    }
  ],
  "paths": {
    "/analytics/v1/alerts": {
      "get": {
        "tags": [
          "/cloudflow/connections"
        ],
        "summary": "List alerts",
        "description": "Returns a list of alerts that your account has access to.\nAlerts are listed in reverse chronological order by default.",
        "operationId": "listAlerts",
        "parameters": [
          {
            "name": "sortBy",
            "in": "query",
            "description": "A field by which the results will be sorted.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "createTime",
                "updateTime",
                "lastAlerted"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          },
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An expression for filtering the results. The syntax is `key:[<value>]`. Multiple filters can be connected using a pipe |. See [Filters](https://developer.doit.com/docs/filters).\nAvailable filter keys: **owner**, **name**",
            "example": "name:test",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExternalAlertList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "tags": [
          "/cloudflow/connections"
        ],
        "summary": "Create an alert",
        "description": "Creates a new alert.",
        "operationId": "createAlert",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created - The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            },
            "links": {
              "getAlert": {
                "operationId": "getAlert",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "updateAlert": {
                "operationId": "updateAlert",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "deleteAlert": {
                "operationId": "deleteAlert",
                "parameters": {
                  "id": "$response.body#/id"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "x-codegen-request-body-name": "Body"
      }
    },
    "/analytics/v1/alerts/{id}": {
      "get": {
        "tags": [
          "/cloudflow/webhooks/trigge"
        ],
        "summary": "Retrieve an alert",
        "description": "Returns an alert by the specified Id.",
        "operationId": "getAlert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alert ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Alert returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            },
            "links": {
              "updateAlert": {
                "operationId": "updateAlert",
                "parameters": {
                  "id": "$request.path.id"
                }
              },
              "deleteAlert": {
                "operationId": "deleteAlert",
                "parameters": {
                  "id": "$request.path.id"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "delete": {
        "tags": [
          "/cloudflow/webhooks/trigge"
        ],
        "summary": "Delete an alert",
        "description": "Deletes the alert specified by the Id.",
        "operationId": "deleteAlert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alert ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Alert deleted."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "patch": {
        "tags": [
          "/cloudflow/webhooks/trigge"
        ],
        "summary": "Update an alert",
        "description": "Updates the alert specified by the Id.",
        "operationId": "updateAlert",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Alert ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlertUpdateRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "OK - Alert updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Alert"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "x-codegen-request-body-name": "Body"
      }
    },
    "/analytics/v1/allocations": {
      "get": {
        "tags": [
          "/cloudflow"
        ],
        "summary": "List allocations",
        "description": "Returns a list of allocations that your account has access to.\nAllocations are listed in reverse chronological order by default.",
        "operationId": "listAllocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/maxResults"
          },
          {
            "$ref": "#/components/parameters/pageToken"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "An expression for filtering the results.\nValid fields: **type**, **owner**, **name**, **folderId**.",
            "example": "type:custom",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "A field by which the results will be sorted.",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name",
                "owner",
                "description",
                "type",
                "createTime",
                "updateTime"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/sortOrder"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous call, to request the next page of results."
                    },
                    "rowCount": {
                      "type": "integer",
                      "description": "Total number of allocations in the result set."
                    },
                    "allocations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AllocationListItem"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        }
      },
      "post": {
        "tags": [
          "/cloudflow"
        ],
        "summary": "Create an allocation",
        "description": "Creates a new allocation.",
        "operationId": "createAllocation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAllocationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK - The request succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Allocation"
                }
              }
            },
            "links": {
              "getAllocation": {
                "operationId": "getAllocation",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "updateAllocation": {
                "operationId": "updateAllocation",
                "parameters": {
                  "id": "$response.body#/id"
                }
              },
              "deleteAllocation": {
                "operationId": "deleteAllocation",
                "parameters": {
                  "id": "$response.body#/id"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          }
        },
        "x-codegen-request-body-name": "Body"
      }
    },
    "/new-endpoint": {
      "get": {
        "operationId": "",
        "responses": {
          "400": {
            "description": "\\u003Ctable\\u003E \\u003Ctr\\u003E\\u003Cth\\u003EError Code\\u003C/th\\u003E\\u003Cth\\u003EDescription\\u003C/th\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Eamount_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe amounts specified in the charge are not equal to the sum of the amounts in charge details\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Ebuyer_currency_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe specified currency is not matched with buyer currency\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Ebuyer_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe buyer on the Credit charge does not match the buyer of the referenced Sale charge identified by previous_charge_id. The Credit charge must be issued by the same buyer as the original Sale charge\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Ecannot_override_payment_terms\\u003C/td\\u003E\\u003Ctd\\u003EThe charge_payment_days needs to be a valid value and the buyer must not be consolidated\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Echarge_credit_is_not_supported\\u003C/td\\u003E\\u003Ctd\\u003EThe charge type of credit is not supported\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Ecurrency_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe currency of the Credit charge does not match the currency of the referenced Sale charge via previous_charge_id\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Edetail_amount_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe amounts specified in the charge details are not equal to the subtotal of the detail in charge details\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Edeferred_processing_not_allowed\\u003C/td\\u003E\\u003Ctd\\u003EThis program is not configured to allow deferred processing\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Ediscount_amount_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe discount amount specified in the charge is not equal to the sum of the discount amount in charge details\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Eduplicate_charge_id\\u003C/td\\u003E\\u003Ctd\\u003EThe provided id already exists. Use a unique charge ID\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_authorization\\u003C/td\\u003E\\u003Ctd\\u003EInvalid authorization for the ID specified\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_buyer\\u003C/td\\u003E\\u003Ctd\\u003EBuyer does not exist or inactive\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_card_number\\u003C/td\\u003E\\u003Ctd\\u003ECard for the given card number does not exist, is inactive, or has expired\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_card_service_card_id\\u003C/td\\u003E\\u003Ctd\\u003ECard for the given card service card ID does not exist, is inactive, or has expired\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_card_token\\u003C/td\\u003E\\u003Ctd\\u003ECard for the given card token does not exist, is inactive, or has expired\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_charge_details_tax_details\\u003C/td\\u003E\\u003Ctd\\u003EInvalid charge.details.tax_details were supplied.\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_country\\u003C/td\\u003E\\u003Ctd\\u003Einvalid country code in the company address\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_amount_for_credit\\u003C/td\\u003E\\u003Ctd\\u003EThe total_amount specified for the credit transaction exceeds the remaining uncredited amount of the original charge. Credit amounts must be less than or equal to the uncredited portion of the referenced Sale charge\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_customer_group_id\\u003C/td\\u003E\\u003Ctd\\u003EThe customer_group_id that was provided is not associated with the buyer or does not exist\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_input\\u003C/td\\u003E\\u003Ctd\\u003EOne of the request inputs is not valid\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_po\\u003C/td\\u003E\\u003Ctd\\u003EPurchase Order number is invalid or does not match expected format\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_po_format\\u003C/td\\u003E\\u003Ctd\\u003EPurchase Order number format does not match policy rules\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_po_not_unique\\u003C/td\\u003E\\u003Ctd\\u003EPurchase Order number is not unique\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_program\\u003C/td\\u003E\\u003Ctd\\u003ESeller and Buyer are not in the same program\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_previous_charge_id\\u003C/td\\u003E\\u003Ctd\\u003EThe provided previous_charge_id is invalid. Ensure it is a correctly formatted UUID and references an existing charge in the system. When creating a Credit charge, the previous_charge_id must reference an existing Sale charge that is in a creditable state (e.g., status is not Rejected, Cancelled or Pending Payment)\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_request_error\\u003C/td\\u003E\\u003Ctd\\u003EAn unhandled error was received from the payment provider. See the `message` field for details.\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_seller\\u003C/td\\u003E\\u003Ctd\\u003ESeller for the given ID does not exist or inactive\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvalid_shipping_amount\\u003C/td\\u003E\\u003Ctd\\u003EShipping amount + shipping tax amount - shipping discount amount cannot be less than 0\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Einvoice_insured_auth_requires_preauthorization\\u003C/td\\u003E\\u003Ctd\\u003EWhen program.insured_auth_enabled is true, invoice can only be created with a preauthorization that has is_insured set to true\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Emissing_program\\u003C/td\\u003E\\u003Ctd\\u003EThe associated Program was not found\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Epo_required\\u003C/td\\u003E\\u003Ctd\\u003EPurchase Order number is required\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Epricing_errors\\u003C/td\\u003E\\u003Ctd\\u003EOne or more of the charge details has a pricing validation error. Please check the response for specific details regarding the error\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Eprogram_credit_limit_exceeded\\u003C/td\\u003E\\u003Ctd\\u003ECredit charge exceeds the maximum allowed for this program.\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Erequire_authorization\\u003C/td\\u003E\\u003Ctd\\u003EA valid authorization must be provided with the charge due to the requirement set on your program\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Erequire_card_verification_value\\u003C/td\\u003E\\u003Ctd\\u003Ecard_verification_value is required when the charge does not have a valid authorization and is_card_present = false\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Erequire_charge_details_tax_details\\u003C/td\\u003E\\u003Ctd\\u003EThe invoice country require charge.details.tax_details\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Erequire_is_card_present\\u003C/td\\u003E\\u003Ctd\\u003Eis_card_present is required when the charge does not have a valid authorization\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Erequire_item_code\\u003C/td\\u003E\\u003Ctd\\u003EWhen pricing is enabled, charge.details.item_code is required\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Erequire_shipping_tax_details\\u003C/td\\u003E\\u003Ctd\\u003EThe invoice country require charge.details.tax_details\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Eseller_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe seller on the Credit charge does not match the seller of the referenced Sale charge identified by previous_charge_id.  Or the provided buyer and seller combination is invalid.\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Eshipping_tax_amount_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe shipping tax amount specified in the charge is not equal to the sum of the tax amount in shipping tax details.\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Etax_amount_mismatch\\u003C/td\\u003E\\u003Ctd\\u003EThe tax amount specified in the charge is not equal to the sum of the tax amount in charge details\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Eunsupported_currency\\u003C/td\\u003E\\u003Ctd\\u003EThe specified currency is not supported for the seller\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Eunsupported_operation\\u003C/td\\u003E\\u003Ctd\\u003EThe operation needs to be enabled for the program\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Evalidation.body_not_matching_json_schema\\u003C/td\\u003E\\u003Ctd\\u003ERequest body failed JSON schema validation. The `validationErrors` property contain information regarding which parts of the payload not passing validation.\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Evalidation.unsupported_media_type\\u003C/td\\u003E\\u003Ctd\\u003EUnsupported media type\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Ewithhold_seller_amount_too_large\\u003C/td\\u003E\\u003Ctd\\u003Ewithhold_seller_amount is greater than the charge total_amount\\u003C/td\\u003E\\u003C/tr\\u003E \\u003Ctr\\u003E\\u003Ctd\\u003Ewithhold_seller_amount_not_supported\\u003C/td\\u003E\\u003Ctd\\u003EWithholding seller amounts is not supported for this program\\u003C/td\\u003E\\u003C/tr\\u003E \\u003C/table\\u003E\\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "default": "ffd"
                    }
                  },
                  "required": [
                    "name"
                  ]
                }
              }
            }
          }
        },
        "parameters": [],
        "summary": "jf"
      }
    }
  },
  "components": {
    "schemas": {
      "AwsAccountResponse": {
        "type": "object",
        "properties": {
          "accountID": {
            "type": "string",
            "description": "The AWS account ID.",
            "example": "123456789012"
          },
          "roleArn": {
            "type": "string",
            "description": "The ARN of the IAM role.",
            "example": "arn:aws:iam::123456789012:role/DoiTRole"
          },
          "s3Bucket": {
            "type": "string",
            "description": "S3 bucket name for real-time anomaly detection. Present only if real-time is enabled."
          },
          "s3BucketRegion": {
            "type": "string",
            "description": "AWS region of the S3 bucket. Present only if s3Bucket exists.",
            "example": "us-east-1"
          },
          "supportedFeatures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AwsSupportedFeature"
            },
            "description": "List of supported features and their permission status."
          },
          "enabledFeatures": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of supported AWS features enabled by the caller. Returned in the same order as provided."
          },
          "timeLinked": {
            "type": "string",
            "description": "ISO 8601 timestamp of when the role was linked.",
            "example": "2024-01-15T10:30:00Z"
          }
        }
      },
      "AwsSupportedFeature": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Feature name.",
            "example": "spot-scaling"
          },
          "hasRequiredPermissions": {
            "type": "boolean",
            "description": "Whether the role has the required permissions for this feature."
          }
        }
      },
      "DisplayStatus": {
        "type": "string",
        "enum": [
          "actionable",
          "acknowledged",
          "optimized",
          "dismissed",
          "in progress",
          "upgrade needed",
          "permissions needed"
        ],
        "description": "The display status of the insight."
      },
      "ResultsBody": {
        "type": "object",
        "description": "Paginated list of insight results.",
        "properties": {
          "results": {
            "description": "List of insight results.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InsightResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "CreateResultsBody": {
        "type": "object",
        "description": "Request body for creating multiple insights in a batch.",
        "properties": {
          "results": {
            "description": "List of insights to create.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InsightRequest"
            }
          }
        }
      },
      "InsightRequest": {
        "type": "object",
        "description": "Request body for creating or updating an insight via the batch endpoint. Includes resource results.",
        "required": [
          "key",
          "title",
          "shortDescription",
          "cloudProvider",
          "categories",
          "resourceResults"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "A unique key for this insight within the source."
          },
          "title": {
            "type": "string",
            "description": "The display title of the insight."
          },
          "shortDescription": {
            "type": "string",
            "description": "A brief summary of the insight."
          },
          "detailedDescriptionMdx": {
            "type": "string",
            "description": "A detailed description of the insight in MDX format."
          },
          "cloudProvider": {
            "$ref": "#/components/schemas/CloudProvider"
          },
          "categories": {
            "description": "One or more categories this insight belongs to.",
            "type": "array",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/CreateCategory"
            }
          },
          "reportUrl": {
            "type": "string",
            "description": "URL to an external report related to this insight."
          },
          "cloudFlowTemplateId": {
            "type": "string",
            "description": "ID of a CloudFlow template that can automate the remediation of this insight."
          },
          "easyWinDescription": {
            "type": "string",
            "description": "A description of why this insight is considered an easy win."
          },
          "resourceResults": {
            "$ref": "#/components/schemas/ResourceResults"
          }
        }
      },
      "InsightMetadataRequest": {
        "type": "object",
        "description": "Request body for creating or updating a single insight's metadata. Resource results are managed separately via the resource-results endpoint.",
        "required": [
          "key",
          "title",
          "shortDescription",
          "cloudProvider",
          "categories"
        ],
        "properties": {
          "key": {
            "type": "string",
            "description": "A unique key for this insight within the source."
          },
          "title": {
            "type": "string",
            "description": "The display title of the insight."
          },
          "shortDescription": {
            "type": "string",
            "description": "A brief summary of the insight."
          },
          "detailedDescriptionMdx": {
            "type": "string",
            "description": "A detailed description of the insight in MDX format."
          },
          "cloudProvider": {
            "$ref": "#/components/schemas/CloudProvider"
          },
          "categories": {
            "description": "One or more categories this insight belongs to.",
            "type": "array",
            "minItems": 1,
            "uniqueItems": true,
            "items": {
              "$ref": "#/components/schemas/CreateCategory"
            }
          },
          "reportUrl": {
            "type": "string",
            "description": "URL to an external report related to this insight."
          },
          "cloudFlowTemplateId": {
            "type": "string",
            "description": "ID of a CloudFlow template that can automate the remediation of this insight."
          },
          "easyWinDescription": {
            "type": "string",
            "description": "A description of why this insight is considered an easy win."
          },
          "status": {
            "$ref": "#/components/schemas/DisplayStatus"
          },
          "dismissalDetails": {
            "$ref": "#/components/schemas/DismissalDetails"
          }
        }
      },
      "CreateResourceResultsBody": {
        "type": "object",
        "description": "Request body for creating or replacing resource results for an insight.",
        "required": [
          "resourceResults"
        ],
        "properties": {
          "resourceResults": {
            "$ref": "#/components/schemas/ResourceResults"
          }
        }
      },
      "InsightResponse": {
        "type": "object",
        "description": "An insight result containing summary information and metadata.",
        "properties": {
          "source": {
            "$ref": "#/components/schemas/Source"
          },
          "key": {
            "type": "string",
            "description": "The unique key identifying this insight."
          },
          "title": {
            "type": "string",
            "description": "The display title of the insight."
          },
          "shortDescription": {
            "type": "string",
            "description": "A brief summary of the insight."
          },
          "detailedDescriptionMdx": {
            "type": "string",
            "description": "A detailed description of the insight in MDX format."
          },
          "displayStatus": {
            "$ref": "#/components/schemas/DisplayStatus"
          },
          "cloudProvider": {
            "$ref": "#/components/schemas/CloudProvider"
          },
          "categories": {
            "description": "Categories this insight belongs to.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/InsightSummary"
          },
          "lastStatusChange": {
            "$ref": "#/components/schemas/LastInsightStatusChange"
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update to this insight."
          },
          "tags": {
            "description": "Tags for the insight, primarily used for security certification labels (e.g. ISO).",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reportUrl": {
            "type": "string",
            "description": "URL to an external report related to this insight."
          },
          "cloudFlowTemplateId": {
            "type": "string",
            "description": "ID of a CloudFlow template that can automate the remediation of this insight."
          },
          "easyWinDescription": {
            "type": "string",
            "description": "A description of why this insight is considered an easy win."
          },
          "dismissalDetails": {
            "$ref": "#/components/schemas/DismissalDetails"
          }
        }
      },
      "Category": {
        "type": "string",
        "description": "The insight category.",
        "enum": [
          "FinOps",
          "Operational excellence",
          "Performance efficiency",
          "Reliability",
          "Security",
          "Sustainability"
        ]
      },
      "CreateCategory": {
        "type": "string",
        "description": "Allowed categories when creating insights via the public API.",
        "enum": [
          "FinOps",
          "Security"
        ]
      },
      "InsightSummary": {
        "type": "object",
        "description": "Aggregate summary of risks and savings across all resource results for an insight.",
        "properties": {
          "operationalRisks": {
            "type": "number",
            "format": "double",
            "description": "Total number of operational risks."
          },
          "performanceRisks": {
            "type": "number",
            "format": "double",
            "description": "Total number of performance risks."
          },
          "potentialDailySavings": {
            "type": "number",
            "format": "double",
            "description": "Total potential daily savings in USD."
          },
          "reliabilityRisks": {
            "type": "number",
            "format": "double",
            "description": "Total number of reliability risks."
          },
          "securityRisks": {
            "type": "number",
            "format": "double",
            "description": "Total number of security risks."
          },
          "sustainabilityRisks": {
            "type": "number",
            "format": "double",
            "description": "Total number of sustainability risks."
          }
        }
      },
      "ResourceResults": {
        "type": "array",
        "description": "A list of resource-level results for creating or updating an insight.",
        "items": {
          "$ref": "#/components/schemas/ResourceResultRequest"
        }
      },
      "ResourceResultRequest": {
        "type": "object",
        "description": "A single resource-level result for creating or updating an insight. Server-computed fields (severity, resolved, enhancement) are not accepted here and will be ignored. Identity fields (resourceId, resultType, account, cloudProvider) form the composite key. The fields location and resource_type are set on creation only — any values provided for these fields during subsequent upserts are silently ignored.\n",
        "required": [
          "resourceId",
          "resultType",
          "account",
          "cloudProvider"
        ],
        "properties": {
          "resourceId": {
            "type": "string",
            "description": "The cloud resource identifier."
          },
          "resourceType": {
            "description": "What the resource actually is, e.g. for an EC2 resource ID, this field would be `instance`. Immutable after creation — updates to this field are silently ignored.\n",
            "type": "string",
            "example": "instance, disk, cache"
          },
          "cloudProvider": {
            "description": "Immutable after creation — updates to this field are silently ignored.",
            "allOf": [
              {
                "$ref": "#/components/schemas/CloudProvider"
              }
            ]
          },
          "account": {
            "type": "string",
            "description": "The cloud account or project ID containing this resource. Immutable after creation — updates to this field are silently ignored."
          },
          "location": {
            "type": "string",
            "description": "Represents the region/zone of the resource in AWS, or equivalent for other providers. Immutable after creation — updates to this field are silently ignored.\n",
            "example": "eu-west-2"
          },
          "externalId": {
            "type": "string",
            "description": "the external ID of the resource in the provider's system for the resource"
          },
          "externalUrl": {
            "type": "string",
            "description": "the URL to the resource-level issue in the provider's system"
          },
          "metadata": {
            "type": "object",
            "description": "contains any additional information for the resource results"
          },
          "resultType": {
            "type": "string",
            "enum": [
              "security_risk",
              "potential_daily_savings",
              "potential_daily_savings_with_recommendation",
              "potential_daily_savings_with_cluster_agent"
            ],
            "description": "The discriminator property that determines which fields are populated in the 'result' object."
          },
          "result": {
            "description": "The result data for this resource. Which fields are populated depends on the resultType. For security_risk: critical, high, medium, low. For potential_daily_savings: value. For potential_daily_savings_with_recommendation: value, current, recommendation. For potential_daily_savings_with_cluster_agent: value, agentInstalled.\n",
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "the daily saving amount for this result"
              },
              "critical": {
                "type": "integer",
                "description": "number of critical security risks"
              },
              "high": {
                "type": "integer",
                "description": "number of high security risks"
              },
              "medium": {
                "type": "integer",
                "description": "number of medium security risks"
              },
              "low": {
                "type": "integer",
                "description": "number of low security risks"
              },
              "current": {
                "type": "string",
                "description": "the current state (i.e. current instance type)"
              },
              "recommendation": {
                "type": "string",
                "description": "the recommended state (i.e. recommended instance type)"
              },
              "agentInstalled": {
                "type": "boolean",
                "description": "true if the agent is installed"
              }
            }
          }
        }
      },
      "ResourceResult": {
        "type": "object",
        "description": "A single resource-level result within an insight, as returned in API responses.",
        "required": [
          "resourceId",
          "resultType",
          "account",
          "cloudProvider"
        ],
        "properties": {
          "resourceId": {
            "description": "The cloud resource identifier.",
            "type": "string"
          },
          "resourceType": {
            "description": "What the resource actually is, eg. for an EC2 resource ID, this field would be `instance`",
            "type": "string",
            "example": "instance, disk, cache"
          },
          "cloudProvider": {
            "$ref": "#/components/schemas/CloudProvider"
          },
          "account": {
            "type": "string",
            "description": "The cloud account or project ID containing this resource."
          },
          "location": {
            "type": "string",
            "description": "represents the region/zone of the resource in AWS, or equivalent for other providers",
            "example": "eu-west-2"
          },
          "resolved": {
            "type": "boolean",
            "description": "Whether this resource-level issue has been resolved. Computed server-side."
          },
          "severity": {
            "type": "string",
            "enum": [
              "critical",
              "high",
              "medium",
              "low"
            ],
            "description": "The severity level of the finding. Computed server-side from the security risk counts."
          },
          "externalId": {
            "type": "string",
            "description": "the external ID of the resource in the provider's system for the resource"
          },
          "externalUrl": {
            "type": "string",
            "description": "the URL to the resource-level issue in the provider's system"
          },
          "metadata": {
            "type": "object",
            "description": "contains any additional information for the resource results"
          },
          "enhancement": {
            "$ref": "#/components/schemas/ResourceResultEnhancement"
          },
          "resultType": {
            "type": "string",
            "enum": [
              "security_risk",
              "potential_daily_savings",
              "potential_daily_savings_with_recommendation",
              "potential_daily_savings_with_cluster_agent"
            ],
            "description": "The discriminator property that determines which fields are populated in the 'result' object."
          },
          "result": {
            "description": "The result data for this resource. Which fields are populated depends on the resultType. For security_risk: critical, high, medium, low. For potential_daily_savings: value. For potential_daily_savings_with_recommendation: value, current, recommendation. For potential_daily_savings_with_cluster_agent: value, agentInstalled.\n",
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "format": "double",
                "description": "the daily saving amount for this result"
              },
              "critical": {
                "type": "integer",
                "description": "number of critical security risks"
              },
              "high": {
                "type": "integer",
                "description": "number of high security risks"
              },
              "medium": {
                "type": "integer",
                "description": "number of medium security risks"
              },
              "low": {
                "type": "integer",
                "description": "number of low security risks"
              },
              "current": {
                "type": "string",
                "description": "the current state (i.e. current instance type)"
              },
              "recommendation": {
                "type": "string",
                "description": "the recommended state (i.e. recommended instance type)"
              },
              "agentInstalled": {
                "type": "boolean",
                "description": "true if the agent is installed"
              }
            }
          }
        }
      },
      "ResourceResultEnhancement": {
        "type": "object",
        "description": "DoiT-managed metadata associated with a resource result.",
        "properties": {
          "tags": {
            "type": "array",
            "description": "Tags assigned to this resource result.",
            "items": {
              "type": "string"
            }
          },
          "priority": {
            "type": "object",
            "description": "Priority information for this resource result.",
            "properties": {
              "value": {
                "type": "string",
                "description": "The priority level (e.g. Low, Medium, High)."
              },
              "priorityScore": {
                "type": "number",
                "format": "double",
                "description": "Numeric priority score."
              }
            }
          },
          "lastUpdatedBy": {
            "type": "string",
            "description": "The user who last updated this enhancement."
          },
          "lastUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp of the last update."
          }
        }
      },
      "UpdateStatusRequest": {
        "type": "object",
        "description": "Request body for updating an insight's display status.",
        "required": [
          "status"
        ],
        "properties": {
          "status": {
            "$ref": "#/components/schemas/DisplayStatus"
          },
          "dismissalDetails": {
            "$ref": "#/components/schemas/DismissalDetails"
          }
        }
      },
      "DismissalDetails": {
        "type": "object",
        "description": "Details for why an insight was dismissed.",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for dismissal.",
            "enum": [
              "not relevant",
              "not enough information",
              "not worth the effort",
              "inaccurate optimization opportunities"
            ]
          },
          "comment": {
            "type": "string",
            "description": "An optional free-text comment providing additional context."
          }
        }
      },
      "IssueStatus": {
        "type": "string",
        "description": "The lifecycle status of an issue.",
        "enum": [
          "open",
          "in_progress",
          "resolved",
          "ignored"
        ]
      },
      "ResultsError": {
        "type": "object",
        "description": "Error details for a failed insight in a batch operation.",
        "properties": {
          "insightKey": {
            "type": "string",
            "description": "The key of the insight that failed."
          },
          "error": {
            "type": "string",
            "description": "The error message."
          },
          "code": {
            "type": "integer",
            "description": "The HTTP status code associated with the error."
          }
        }
      },
      "CloudProvider": {
        "type": "string",
        "example": "aws",
        "description": "The cloud provider associated with the resource."
      },
      "Source": {
        "type": "string",
        "description": "The source that generated the insight.",
        "example": "aws-trusted-advisor, aws-cost-optimization-hub, aws-security-hub, azure-advisor, custom, gcp-recommender"
      },
      "Pagination": {
        "type": "object",
        "description": "Cursor-based pagination metadata.",
        "required": [
          "rowCount"
        ],
        "properties": {
          "pageToken": {
            "type": "string",
            "description": "Token to retrieve the next page. Absent when there are no more pages."
          },
          "rowCount": {
            "type": "integer",
            "description": "Number of items in this page."
          }
        }
      },
      "ResourceResultsResponse": {
        "type": "object",
        "required": [
          "resourceResults",
          "rowCount"
        ],
        "properties": {
          "resourceResults": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ResourceResult"
            }
          },
          "pageToken": {
            "type": "string"
          },
          "rowCount": {
            "type": "integer"
          }
        }
      },
      "LastInsightStatusChange": {
        "description": "If set, this object contains the last status change made by a user for this insight",
        "type": "object",
        "properties": {
          "userId": {
            "description": "the reference to the user who made the change (if it was made by a user) If the change was made by an automated system, this reference is empty.\n",
            "type": "string",
            "example": "/users/0Rkrkeq5P0XLe8QFHKq2"
          },
          "lastChangedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "userId",
          "lastChangedAt"
        ]
      },
      "AccountManagerListItem": {
        "type": "object",
        "description": "Information of a DoiT account manager assigned to your organization.",
        "properties": {
          "email": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "calendlyLink": {
            "type": "string"
          }
        }
      },
      "UserListItem": {
        "type": "object",
        "description": "Summary information of a user.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the user."
          },
          "email": {
            "type": "string",
            "description": "The email address of the user."
          },
          "displayName": {
            "type": "string",
            "description": "The user's display name."
          },
          "firstName": {
            "type": "string",
            "description": "The user's first name."
          },
          "lastName": {
            "type": "string",
            "description": "The user's last name."
          },
          "jobTitle": {
            "type": "string",
            "description": "The user's job function.",
            "enum": [
              "Data Engineer / Data Analysts",
              "Executive Team",
              "Finance / Accounting",
              "Founder",
              "Legal / Purchasing",
              "Management",
              "Sales / Marketing",
              "Software / Ops Engineer"
            ]
          },
          "phone": {
            "type": "string",
            "description": "The user's country code (e.g., +44).",
            "pattern": "^\\+[0-9]+$"
          },
          "phoneExtension": {
            "type": "string",
            "description": "The user's phone extension."
          },
          "language": {
            "type": "string",
            "description": "The user's preferred language.",
            "enum": [
              "en",
              "ja"
            ]
          },
          "roleId": {
            "type": "string",
            "description": "The ID of the user's role."
          },
          "organizationId": {
            "type": "string",
            "description": "The ID of the user's organization."
          },
          "status": {
            "type": "string",
            "description": "The status of the user (active or invited).",
            "enum": [
              "active",
              "invited"
            ]
          }
        }
      },
      "InviteUserRequest": {
        "type": "object",
        "description": "Request body to invite a new user to the organization.",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address of the user.",
            "format": "email"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the user being invited."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the user being invited."
          },
          "jobTitle": {
            "type": "string",
            "description": "The job function of the user being invited.",
            "enum": [
              "Data Engineer / Data Analysts",
              "Executive Team",
              "Finance / Accounting",
              "Founder",
              "Legal / Purchasing",
              "Management",
              "Sales / Marketing",
              "Software / Ops Engineer"
            ]
          },
          "roleId": {
            "type": "string",
            "description": "The ID of the role to assign to the user."
          },
          "organizationId": {
            "type": "string",
            "description": "The ID of the organization to assign the user to."
          }
        }
      },
      "UpdateUserRequest": {
        "type": "object",
        "description": "Fields allowed when updating an existing user.",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The user's first name."
          },
          "lastName": {
            "type": "string",
            "description": "The user's last name."
          },
          "jobTitle": {
            "type": "string",
            "description": "The user's job function.",
            "enum": [
              "Data Engineer / Data Analysts",
              "Executive Team",
              "Finance / Accounting",
              "Founder",
              "Legal / Purchasing",
              "Management",
              "Sales / Marketing",
              "Software / Ops Engineer"
            ]
          },
          "jobFunction": {
            "type": "string",
            "deprecated": true,
            "description": "Deprecated: use 'jobTitle' instead. If both are provided, 'jobTitle' takes precedence.",
            "enum": [
              "Data Engineer / Data Analysts",
              "Executive Team",
              "Finance / Accounting",
              "Founder",
              "Legal / Purchasing",
              "Management",
              "Sales / Marketing",
              "Software / Ops Engineer"
            ]
          },
          "phone": {
            "type": "string",
            "description": "The user's country code (e.g., +44).",
            "pattern": "^\\+[0-9]+$"
          },
          "phoneExtension": {
            "type": "string",
            "description": "The user's phone extension (8-15 digits).",
            "pattern": "^[0-9]{8,15}$"
          },
          "language": {
            "type": "string",
            "description": "The user's preferred language.",
            "enum": [
              "en",
              "ja"
            ]
          },
          "roleId": {
            "type": "string",
            "description": "The ID of the role to assign to the user."
          }
        }
      },
      "UpdateUserResponse": {
        "type": "object",
        "description": "Response of a user update operation.",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          },
          "user": {
            "$ref": "#/components/schemas/UpdatedUserBody"
          }
        }
      },
      "UpdatedUserBody": {
        "type": "object",
        "description": "The updated user record.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the user."
          },
          "displayName": {
            "type": "string",
            "description": "The user's display name."
          },
          "firstName": {
            "type": "string",
            "description": "The user's first name."
          },
          "lastName": {
            "type": "string",
            "description": "The user's last name."
          },
          "email": {
            "type": "string",
            "description": "The user's email address."
          },
          "jobTitle": {
            "type": "string",
            "description": "The user's job function.",
            "enum": [
              "Data Engineer / Data Analysts",
              "Executive Team",
              "Finance / Accounting",
              "Founder",
              "Legal / Purchasing",
              "Management",
              "Sales / Marketing",
              "Software / Ops Engineer"
            ]
          },
          "phone": {
            "type": "string",
            "description": "The user's country code (e.g., +44).",
            "pattern": "^\\+[0-9]+$"
          },
          "phoneExtension": {
            "type": "string",
            "description": "The user's phone extension."
          },
          "language": {
            "type": "string",
            "description": "The user's preferred language.",
            "enum": [
              "en",
              "ja"
            ]
          },
          "roleId": {
            "type": "string",
            "description": "The ID of the user's role."
          },
          "organizationId": {
            "type": "string",
            "description": "The ID of the user's organization."
          }
        }
      },
      "DeleteUserResponse": {
        "type": "object",
        "description": "Response confirming user deletion.",
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          }
        }
      },
      "ResendInviteResponse": {
        "type": "object",
        "description": "Response confirming invite resend.",
        "required": [
          "message",
          "inviteId"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          },
          "inviteId": {
            "type": "string",
            "description": "The invite document ID."
          }
        }
      },
      "CancelInviteResponse": {
        "type": "object",
        "description": "Response confirming invite cancellation.",
        "required": [
          "message",
          "inviteId"
        ],
        "properties": {
          "message": {
            "type": "string",
            "description": "Success message"
          },
          "inviteId": {
            "type": "string",
            "description": "The invite document ID."
          }
        }
      },
      "AdvancedAnalysis": {
        "type": "object",
        "description": "Advanced analysis options. Each can be set independently.",
        "properties": {
          "forecast": {
            "type": "boolean"
          },
          "notTrending": {
            "type": "boolean"
          },
          "trendingDown": {
            "type": "boolean"
          },
          "trendingUp": {
            "type": "boolean"
          }
        }
      },
      "Alert": {
        "required": [
          "name"
        ],
        "type": "object",
        "description": "Configuration and runtime metadata of an alert.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Alert ID."
          },
          "name": {
            "type": "string",
            "description": "Alert Name.",
            "default": ""
          },
          "createTime": {
            "type": "integer",
            "description": "The time when the alert was created (in UNIX timestamp).",
            "format": "int64"
          },
          "updateTime": {
            "type": "integer",
            "description": "Last time the alert was modified (in UNIX timestamp).",
            "format": "int64"
          },
          "lastAlerted": {
            "type": "integer",
            "description": "Last time the alert was triggered (in UNIX timestamp).",
            "format": "int64"
          },
          "recipients": {
            "type": "array",
            "description": "List of emails that will be notified when the alert is triggered.",
            "items": {
              "type": "string"
            }
          },
          "config": {
            "$ref": "#/components/schemas/AlertConfig"
          }
        },
        "example": {
          "id": "7jyrczd6CSh3M8TuQ6Qq",
          "name": "fgfgh",
          "createTime": 1678628817062,
          "updateTime": 1678628938891,
          "lastAlerted": null,
          "recipients": [
            "user1@example.com",
            "user2@example.com"
          ],
          "config": {
            "condition": "value",
            "currency": "USD",
            "metric": {
              "type": "basic",
              "value": "cost"
            },
            "operator": "gt",
            "evaluateForEach": "",
            "attributions": [
              "PvqyGcdFcTHh7aLUdGdf"
            ],
            "scopes": [],
            "timeInterval": "month",
            "dataSource": "billing",
            "value": 500
          }
        }
      },
      "AlertListItem": {
        "description": "Alert as returned by the list endpoint. Identical to `Alert` but also includes `owner`. The `owner` field is only populated in list results; it is not returned by the get, create, or update endpoints.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Alert"
          },
          {
            "type": "object",
            "properties": {
              "owner": {
                "type": "string",
                "description": "Email of the alert owner (the collaborator with the owner role)."
              }
            }
          }
        ]
      },
      "AlertConfig": {
        "type": "object",
        "description": "Parameters that define when and how an alert is evaluated.",
        "required": [
          "metric",
          "timeInterval",
          "value"
        ],
        "properties": {
          "dataSource": {
            "type": "string",
            "description": "Data source used to query data for the alert. Affects which dimensions and metrics are available.",
            "default": "billing",
            "enum": [
              "billing",
              "billing-datahub"
            ],
            "x-enumDescriptions": {
              "billing": "Standard Cloud Analytics billing data only.",
              "billing-datahub": "Billing data plus DataHub custom dimensions and metrics (requires a DataHub subscription)."
            }
          },
          "scopes": {
            "type": "array",
            "description": "The filters that define the scope of the alert. Each item is a Cloud Analytics filter (same idea as report filters). Note: Only the first scope in the array is currently applied; any additional scopes are validated but ignored. If additional scopes are malformed the call will fail silently. Use a single, well-chosen filter, or dataSource plus evaluateForEach to slice spend instead.",
            "items": {
              "$ref": "#/components/schemas/ExternalConfigFilter"
            }
          },
          "metric": {
            "$ref": "#/components/schemas/MetricConfig"
          },
          "currency": {
            "$ref": "#/components/schemas/Currency"
          },
          "timeInterval": {
            "type": "string",
            "description": "The period each evaluation looks at.",
            "default": "year",
            "enum": [
              "day",
              "week",
              "month",
              "quarter",
              "year"
            ]
          },
          "condition": {
            "$ref": "#/components/schemas/Condition"
          },
          "operator": {
            "$ref": "#/components/schemas/MetricFilterText"
          },
          "value": {
            "type": "number",
            "format": "double",
            "description": "The `condition` threshold value. For example, actual metric threshold value for the `value` condition, or percentage change threshold value for the `percentage-change` condition."
          },
          "evaluateForEach": {
            "type": "string",
            "description": "Add a dimension to break down the evaluation of the condition. For example, evaluate a condition over an attribution for each \"Service\". Must be a dimension key returned by GET /analytics/v1/dimensions. Not allowed with condition: `forecast`. Used when you Investigate an alert, the dimension becomes the report grouping."
          },
          "attributions": {
            "type": "array",
            "deprecated": true,
            "description": "Use 'scopes' instead. The attributions selected define the scope to monitor.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AlertRequest": {
        "required": [
          "config",
          "name"
        ],
        "type": "object",
        "description": "Request body for creating a new alert.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the alert (max 64 characters)."
          },
          "config": {
            "$ref": "#/components/schemas/AlertConfig"
          },
          "recipients": {
            "type": "array",
            "description": "List of emails to notify when the alert is triggered.  If omitted on create, defaults to the API user’s email. Must match allowed customer domains.",
            "items": {
              "type": "string"
            }
          }
        },
        "example": {
          "config": {
            "metric": {
              "type": "basic",
              "value": "cost"
            },
            "timeInterval": "year",
            "operator": "gt",
            "scopes": [
              {
                "key": "service_description",
                "type": "fixed",
                "values": [
                  "Amazon Simple Storage Service"
                ]
              }
            ],
            "condition": "value",
            "currency": "USD",
            "value": 1000
          },
          "name": "test08"
        }
      },
      "AlertThreshold": {
        "type": "object",
        "description": "A numeric or percentage threshold.",
        "properties": {
          "amount": {
            "type": "number",
            "format": "double"
          },
          "percentage": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "AlertUpdateRequest": {
        "required": [
          "config"
        ],
        "type": "object",
        "description": "Request body for modifying an existing alert.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Alert name"
          },
          "config": {
            "$ref": "#/components/schemas/AlertConfig"
          },
          "recipients": {
            "type": "array",
            "description": "List of emails to notify when the alert is triggered.",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "AllocationComponent": {
        "required": [
          "key",
          "type",
          "values",
          "mode"
        ],
        "type": "object",
        "description": "A filter component used inside allocation rules.\nWhen the type is \"allocation_rule\", the component references existing allocation rules (nested allocation rules).\nA maximum nesting depth of 3 levels is supported, and circular references are not allowed.",
        "properties": {
          "key": {
            "type": "string",
            "description": "Key of an existing dimension. Examples: \"billing_account_id\", \"country\". When type is \"allocation_rule\", the key must be set to \"allocation_rule\".\nUse `GET /analytics/v1/dimensions` to retrieve all available dimensions."
          },
          "type": {
            "$ref": "#/components/schemas/AllocationDimensionsTypes"
          },
          "values": {
            "type": "array",
            "description": "Values to filter on. When type is \"allocation_rule\", the values are IDs of existing allocation rules.",
            "items": {
              "type": "string"
            }
          },
          "inverse": {
            "type": "boolean",
            "description": "If true, all selected values will be excluded.",
            "default": false
          },
          "inverse_selection": {
            "type": "boolean",
            "description": "If true, all selected values will be excluded.",
            "default": false,
            "deprecated": true
          },
          "includeNull": {
            "type": "boolean",
            "description": "Include null values.",
            "default": false
          },
          "caseInsensitive": {
            "type": "boolean",
            "description": "If true, string matching is case-insensitive. Effective only for starts_with, ends_with, and contains modes; rejected otherwise.",
            "default": false
          },
          "mode": {
            "type": "string",
            "description": "Filter mode to apply. When type is \"allocation_rule\", only \"is\" and \"contains\" modes are supported.",
            "enum": [
              "is",
              "starts_with",
              "ends_with",
              "contains",
              "regexp"
            ]
          }
        }
      },
      "CreateAllocationRequest": {
        "required": [
          "name",
          "description"
        ],
        "type": "object",
        "description": "Request body for creating an allocation.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Allocation name."
          },
          "description": {
            "type": "string",
            "description": "Allocation description."
          },
          "rule": {
            "$ref": "#/components/schemas/AllocationRule"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupAllocationRule"
            }
          },
          "unallocatedCosts": {
            "type": "string",
            "description": "Custom label for values that do not fit into allocation (required for group type allocation).",
            "nullable": true
          },
          "folderId": {
            "type": "string",
            "description": "Identifier of the folder that contains the allocation. Set to \"root\" if the allocation is at the top level (not in a folder).",
            "default": "root",
            "example": "root"
          }
        }
      },
      "UpdateAllocationRequest": {
        "type": "object",
        "description": "Request body for updating an allocation.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Allocation name",
            "nullable": true
          },
          "description": {
            "type": "string",
            "description": "Allocation description",
            "nullable": true
          },
          "rule": {
            "$ref": "#/components/schemas/AllocationRule"
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GroupAllocationRule"
            }
          },
          "unallocatedCosts": {
            "type": "string",
            "description": "Custom label for values that do not fit into allocation (required for group type allocation).",
            "nullable": true
          },
          "folderId": {
            "type": "string",
            "description": "Identifier of the folder that contains the allocation. Set to \"root\" if the allocation is at the top level (not in a folder).",
            "default": "root",
            "example": "root"
          }
        }
      },
      "AllocationListItem": {
        "type": "object",
        "description": "Summary information for an allocation.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Allocation ID."
          },
          "name": {
            "type": "string",
            "description": "Allocation name."
          },
          "owner": {
            "type": "string",
            "description": "Allocation owner."
          },
          "description": {
            "type": "string",
            "description": "Allocation description."
          },
          "type": {
            "type": "string",
            "description": "Type of allocation (preset or custom)."
          },
          "allocationType": {
            "type": "string",
            "description": "Composition type of allocation (single or group).",
            "enum": [
              "single",
              "group"
            ]
          },
          "createTime": {
            "type": "integer",
            "description": "The time when the allocation was created (in UNIX timestamp).",
            "format": "int64"
          },
          "updateTime": {
            "type": "integer",
            "description": "Last time the allocation was modified (in UNIX timestamp).",
            "format": "int64"
          },
          "urlUI": {
            "type": "string",
            "description": "URL to view the allocation in the DoiT console."
          },
          "folderId": {
            "type": "string",
            "description": "Identifier of the folder that contains the allocation. Set to \"root\" if the allocation is at the top level (not in a folder).",
            "default": "root",
            "example": "root"
          }
        }
      },
      "AllocationRule": {
        "required": [
          "components",
          "formula"
        ],
        "type": "object",
        "description": "Single allocation rule. Components can reference other existing allocation rules by using the \"allocation_rule\" dimension type.",
        "nullable": true,
        "properties": {
          "components": {
            "type": "array",
            "description": "List of allocation filter components.",
            "items": {
              "$ref": "#/components/schemas/AllocationComponent"
            }
          },
          "formula": {
            "type": "string",
            "description": "Formula for combining components (A is the first component, B is the second one, etc.).",
            "example": "A AND B"
          }
        }
      },
      "AllocationDeleteValidation": {
        "type": "object",
        "description": "Details about why an allocation cannot be deleted.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Allocation ID."
          },
          "type": {
            "type": "string",
            "description": "Type of allocation.",
            "enum": [
              "single",
              "group"
            ]
          },
          "error": {
            "type": "string",
            "description": "Error message explaining why deletion failed."
          },
          "resources": {
            "type": "object",
            "description": "Map of resources using this allocation, keyed by resource type.",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/ResourceReference"
              }
            }
          }
        }
      },
      "AnomaliesResponse": {
        "type": "object",
        "description": "List of detected cloud cost anomalies.",
        "properties": {
          "anomalies": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AnomalyItem"
            }
          },
          "pageToken": {
            "type": "string"
          },
          "rowCount": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AnomalyItem": {
        "required": [
          "attribution",
          "billingAccount",
          "costOfAnomaly",
          "platform",
          "scope",
          "serviceName",
          "severityLevel",
          "startTime",
          "timeFrame",
          "top3SKUs",
          "notifications"
        ],
        "type": "object",
        "description": "Detailed information about a detected anomaly. The `notifications` array is always present; list responses return an empty array unless `includeNotifications=true` is requested.",
        "properties": {
          "attribution": {
            "type": "string",
            "description": "Attribution ID."
          },
          "billingAccount": {
            "type": "string",
            "description": "Billing account ID."
          },
          "costOfAnomaly": {
            "type": "number",
            "description": "Excess cost over and above the expected normal cost.",
            "format": "double"
          },
          "id": {
            "type": "string"
          },
          "platform": {
            "type": "string",
            "description": "Cloud Provider name."
          },
          "scope": {
            "type": "string",
            "description": "Scope: Project or Account"
          },
          "serviceName": {
            "type": "string",
            "description": "Service name."
          },
          "severityLevel": {
            "type": "string",
            "description": "Severity level: Information, Warning or Critical"
          },
          "startTime": {
            "type": "integer",
            "description": "Usage start time of the anomaly.",
            "format": "int64"
          },
          "endTime": {
            "type": "integer",
            "nullable": true,
            "description": "End of the anomaly."
          },
          "timeFrame": {
            "type": "string",
            "description": "Timeframe: Daily or Hourly"
          },
          "top3SKUs": {
            "$ref": "#/components/schemas/AnomalySKUArray"
          },
          "resourceData": {
            "$ref": "#/components/schemas/AnomalyResourceArray"
          },
          "status": {
            "type": "string",
            "nullable": true,
            "enum": [
              "active",
              "inactive"
            ]
          },
          "acknowledged": {
            "description": "Has the anomaly been acknowledged",
            "type": "boolean"
          },
          "acknowledgedAt": {
            "description": "When the anomaly was first acknowledged",
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "acknowledgedBy": {
            "description": "Email of the user who first acknowledged the anomaly",
            "type": "string",
            "nullable": true
          },
          "notifications": {
            "$ref": "#/components/schemas/NotificationEventArray"
          }
        }
      },
      "AnomalySKU": {
        "type": "object",
        "description": "SKU-level information contributing to an anomaly.",
        "properties": {
          "cost": {
            "type": "number",
            "format": "double"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "AnomalySKUArray": {
        "type": "array",
        "description": "Array of SKU entries contributing to an anomaly.",
        "items": {
          "$ref": "#/components/schemas/AnomalySKU"
        }
      },
      "NotificationEvent": {
        "type": "object",
        "description": "A successful notification dispatch for an anomaly.\nThis records that the API/worker sent the notification, not that delivery was confirmed.",
        "required": [
          "timestamp",
          "channel"
        ],
        "properties": {
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Dispatch timestamp in RFC3339 UTC."
          },
          "channel": {
            "type": "string",
            "description": "Dispatch channel.",
            "enum": [
              "email",
              "slack",
              "msteams"
            ]
          }
        }
      },
      "NotificationEventArray": {
        "type": "array",
        "description": "Chronologically ordered notification dispatch events.",
        "items": {
          "$ref": "#/components/schemas/NotificationEvent"
        }
      },
      "AnomalyResource": {
        "type": "object",
        "description": "Resource-specific contribution to an anomaly.",
        "properties": {
          "cost": {
            "type": "number",
            "format": "double"
          },
          "resourceId": {
            "type": "string"
          },
          "skuDescription": {
            "type": "string"
          },
          "operation": {
            "description": "For anomalies related to AWS S3",
            "type": "string"
          },
          "labels": {
            "type": "array",
            "description": "Labels (also known as cost-allocation tags) present on this resource during the anomaly; each entry reports the label's key, its value, and the resource's cost tagged with that key/value pair.\nCloud providers use different names for the same concept; GCP uses \"labels\", AWS uses \"cost-allocation tags\", and Azure uses \"tags\". We refer to all of these as labels.",
            "items": {
              "$ref": "#/components/schemas/AnomalyResourceLabel"
            }
          }
        }
      },
      "AnomalyResourceArray": {
        "type": "array",
        "description": "Array of resources contributing to an anomaly.",
        "items": {
          "$ref": "#/components/schemas/AnomalyResource"
        }
      },
      "AnomalyResourceLabel": {
        "type": "object",
        "description": "A single label (a.k.a. cost-allocation tag) on the resource, paired with the resource's cost tagged with this key/value pair.",
        "properties": {
          "key": {
            "type": "string",
            "description": "The label/tag key."
          },
          "value": {
            "type": "string",
            "description": "The label/tag value."
          },
          "cost": {
            "type": "number",
            "format": "double",
            "description": "The resource's cost tagged with this key/value pair; typically equal to the resource's cost, since labels/tags usually cover all of its spend."
          }
        }
      },
      "AssetResponse": {
        "type": "object",
        "description": "Response returned after creating or updating an asset.",
        "properties": {
          "accountID": {
            "type": "string"
          }
        }
      },
      "LabelInfo": {
        "required": [
          "id",
          "name"
        ],
        "type": "object",
        "description": "Metadata for a label.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the label."
          },
          "name": {
            "type": "string",
            "description": "The name of the label."
          }
        }
      },
      "AnnotationListItem": {
        "required": [
          "id",
          "content",
          "timestamp"
        ],
        "type": "object",
        "description": "Summary information about an annotation.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the annotation."
          },
          "content": {
            "type": "string",
            "description": "The content of the annotation."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The date associated with the annotation."
          },
          "reports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of report IDs associated with the annotation."
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabelInfo"
            },
            "description": "List of labels associated with the annotation."
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "The creation time of the annotation."
          },
          "updateTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the annotation was last updated."
          }
        }
      },
      "CreateAnnotationRequest": {
        "required": [
          "content",
          "timestamp"
        ],
        "type": "object",
        "description": "Request body to create an annotation.",
        "properties": {
          "content": {
            "type": "string",
            "description": "The content of the annotation."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The date associated with the annotation."
          },
          "reports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of report IDs associated with the annotation."
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of label IDs to associate with the annotation. Labels must already exist."
          }
        }
      },
      "UpdateAnnotationRequest": {
        "type": "object",
        "description": "Request body for updating an annotation.",
        "properties": {
          "content": {
            "type": "string",
            "description": "The content of the annotation.",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "The date associated with the annotation.",
            "nullable": true
          },
          "reports": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of report IDs associated with the annotation.",
            "nullable": true
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of label IDs to associate with the annotation. Labels must already exist.",
            "nullable": true
          }
        }
      },
      "LabelListItem": {
        "required": [
          "id",
          "name",
          "color"
        ],
        "type": "object",
        "description": "Label metadata.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the label."
          },
          "name": {
            "type": "string",
            "description": "The name of the label."
          },
          "color": {
            "type": "string",
            "enum": [
              "blue",
              "skyBlue",
              "teal",
              "mint",
              "lime",
              "softYellow",
              "apricot",
              "lavender",
              "purple",
              "rosePink",
              "slateGrey"
            ],
            "description": "The color of the label."
          },
          "type": {
            "type": "string",
            "enum": [
              "custom",
              "preset"
            ],
            "description": "The type of the label (custom or preset)."
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the label was created."
          },
          "updateTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the label was last updated."
          }
        }
      },
      "LabelList": {
        "type": "object",
        "description": "Paged list of labels.",
        "properties": {
          "pageToken": {
            "type": "string",
            "description": "Page token, returned by a previous call, to request the next page of results."
          },
          "rowCount": {
            "type": "integer",
            "description": "Total number of labels in the result set."
          },
          "labels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabelListItem"
            }
          }
        }
      },
      "CreateLabelRequest": {
        "required": [
          "name",
          "color"
        ],
        "type": "object",
        "description": "Request body for creating a label.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the label."
          },
          "color": {
            "type": "string",
            "enum": [
              "blue",
              "skyBlue",
              "teal",
              "mint",
              "lime",
              "softYellow",
              "apricot",
              "lavender",
              "purple",
              "rosePink",
              "slateGrey"
            ],
            "description": "The color of the label."
          }
        }
      },
      "UpdateLabelRequest": {
        "type": "object",
        "description": "Request body for updating a label.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the label.",
            "nullable": true
          },
          "color": {
            "type": "string",
            "enum": [
              "blue",
              "skyBlue",
              "teal",
              "mint",
              "lime",
              "softYellow",
              "apricot",
              "lavender",
              "purple",
              "rosePink",
              "slateGrey"
            ],
            "description": "The color of the label.",
            "nullable": true
          }
        }
      },
      "AssignObjectsToLabelRequest": {
        "type": "object",
        "description": "Request to assign or remove objects from a label.",
        "properties": {
          "add": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabelAssignmentObject"
            },
            "description": "Array of objects to assign to the label."
          },
          "remove": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabelAssignmentObject"
            },
            "description": "Array of objects to unassign from the label."
          }
        }
      },
      "LabelAssignmentObject": {
        "required": [
          "objectId",
          "objectType"
        ],
        "type": "object",
        "description": "Object identifier and type used for label assignments.",
        "properties": {
          "objectId": {
            "type": "string",
            "description": "The ID of the object to assign/unassign."
          },
          "objectType": {
            "type": "string",
            "enum": [
              "alert",
              "allocation",
              "budget",
              "metric",
              "report",
              "annotation"
            ],
            "description": "The type of the object."
          }
        }
      },
      "LabelAssignmentsResponse": {
        "type": "object",
        "description": "Response containing the list of objects assigned to a label.",
        "properties": {
          "assignments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabelAssignmentObject"
            },
            "description": "Array of objects currently assigned to the label."
          }
        }
      },
      "HexColor": {
        "type": "string",
        "description": "A color in hex notation. Accepts `#RGB`, `#RRGGBB`, or `#RRGGBBAA`.",
        "pattern": "^#([0-9a-fA-F]{3}|[0-9a-fA-F]{6}|[0-9a-fA-F]{8})$",
        "example": "#1A73E8"
      },
      "ThemeColors": {
        "type": "object",
        "required": [
          "light",
          "dark"
        ],
        "description": "Palettes for light and dark display modes. Each palette must contain between 1 and 32 hex colors.",
        "properties": {
          "light": {
            "type": "array",
            "minItems": 1,
            "maxItems": 32,
            "items": {
              "$ref": "#/components/schemas/HexColor"
            },
            "description": "Colors used when the report is displayed in light mode."
          },
          "dark": {
            "type": "array",
            "minItems": 1,
            "maxItems": 32,
            "items": {
              "$ref": "#/components/schemas/HexColor"
            },
            "description": "Colors used when the report is displayed in dark mode."
          }
        }
      },
      "CustomTheme": {
        "required": [
          "id",
          "name",
          "primaryColor",
          "colors"
        ],
        "type": "object",
        "description": "A custom color theme applied to Cloud Analytics reports.",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the custom theme."
          },
          "name": {
            "type": "string",
            "description": "The display name of the custom theme.",
            "maxLength": 200
          },
          "primaryColor": {
            "$ref": "#/components/schemas/HexColor"
          },
          "colors": {
            "$ref": "#/components/schemas/ThemeColors"
          },
          "createTime": {
            "type": "string",
            "format": "date-time",
            "description": "The creation time of the custom theme."
          },
          "updateTime": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the custom theme was last updated."
          }
        }
      },
      "CreateCustomThemeRequest": {
        "required": [
          "name",
          "primaryColor",
          "colors"
        ],
        "type": "object",
        "description": "Request body for creating a custom theme.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The display name of the custom theme.",
            "maxLength": 200
          },
          "primaryColor": {
            "$ref": "#/components/schemas/HexColor"
          },
          "colors": {
            "$ref": "#/components/schemas/ThemeColors"
          }
        }
      },
      "UpdateCustomThemeRequest": {
        "type": "object",
        "description": "Request body for updating a custom theme. Only provided fields are modified.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The display name of the custom theme.",
            "maxLength": 200,
            "nullable": true
          },
          "primaryColor": {
            "$ref": "#/components/schemas/HexColor"
          },
          "colors": {
            "$ref": "#/components/schemas/ThemeColors"
          }
        }
      },
      "ActiveTheme": {
        "type": "object",
        "required": [
          "themeId"
        ],
[...]
